*pyc
*~
.nextflow*
circos_GC*
conda-env/
docs/_build/
env
singularity/
testing/pipelines/rc.txt
testing/pipelines/stderr.txt
testing/pipelines/stdout.txt
testing/pipelines/zdb
webapp/served_assets/
work/
zdb/gunicorn/gunicorn.log
zdb/gunicorn/gunicorn.pid
zdb/nginx/*.log
zdb/nginx/nginx_curr.config
zdb/nginx/var
zdb/results
zdb_ref/
refs/
inputs/
