params.db_directory = "/data/databases"

params.setup_COG = true
params.setup_enzyme = true
params.setup_biosql = true
params.setup_linear_taxonomy = true
params.db_name = "2022_test2"
params.setup_interpro = true
params.interpro_version = "88.0"
params.setup_tcdb = true


// load mandatory annotation (gbk interpro,...)
params.load_annotations = true

// temp hack to avoid rerun
params.load_pfam = true
// load additionnal annotations
params.load_COG = true
params.load_KEGG = true
params.load_TCDB = true

// blast + phylogenies
params.load_blast_uniref100 = true
params.load_blast_swissprot = true
params.load_BBH_phylo = true
params.load_paperblast = true
params.protparams = true
params.gc_table = true
params.synteny = true 
params.phyloprofile = true 
params.add_cross_references = true
params.psortb = true
params.pdb = true
params.t3_effectors = false 
params.setup_blast_db = true 
params.string_pmid = true

params.static_dir = "/scratch/hdd/tpillone/projects/2022_chlamdb_update/db_setup/static"

params.cdd_length = "/data/databases/COG/cog_length.tab"
params.cdd_cog = "/data/databases/COG/cog_corresp.tab"
params.linear_taxonomy= "/data/databases/ncbi-taxonomy/linear_taxonomy.db"
params.uniref_db = "/data/databases/uniref/uniref100.db"
params.paperblast_fasta = "/data/databases/paperblast/uniq.faa"
params.paperblast_sqlite = "/data/databases/paperblast/litsearch.db"
params.string_db_len = "/data/databases/string/string_proteins.db"
params.string_sqlite = "/data/databases/string/string_references.db"

params.execution_dir = "/scratch/hdd/tpillone/projects/2022_chlamdb_update"
params.swissprot_sqlite = "/data/databases/uniprot/idmapping/uniprot_sprot.db"

params.executor = 'local'

process.queue = 'normal'
process.memory = '2G'
process.cpus = 2
process.errorStrategy = 'finish'

executor {
  $lsf {
      queueSize = 100
      pollInterval = '30sec'
  }
  $local {
      cpus = 108
      memory = '232 GB'
  }
}

conda.cacheDir = "$HOME/miniconda3/nextflow"
