
singularity.enabled = true
singularity.cacheDir = "$baseDir"
process.executor = 'local'


// is there any local assemblies in fna that need to be processed
params.prokka = true
params.fna_dir = "fna/"

// all databases used by the different scripts should be located in this directory
params.databases_dir = "/data/databases"

params.cog = true
params.orthofinder = true
params.orthofinder_output_dir = "output"

params.interproscan = true
params.uniparc = true
params.uniprot_data = false
params.tcdb = true
params.blast_swissprot = false
params.plast_refseq = false
params.diamond_refseq = true
params.diamond_refseq_taxonomy = true
params.refseq_diamond_BBH_phylogeny = true
params.refseq_diamond_BBH_phylogeny_top_n_hits = 4
params.refseq_diamond_BBH_phylogeny_phylum_filter = '["Chlamydiae", "Verrucomicrobia", "Planctomycetes", "Kiritimatiellaeota", "Lentisphaerae"]'
params.string = true
params.pdb = true
params.oma = true
params.ko = true
params.checkm = true
params.tcdb_gblast = false
params.PRIAM = false
params.effector_prediction = true
params.macsyfinder = true
params.psortb = true
params.orthogroups_phylogeny_with_iqtree = false
params.orthogroups_phylogeny_with_fasttree = true
params.core_missing = 10
params.genome_faa_folder = "$PWD/faa"
params.executor = 'local'

params.DeepT3 = true
params.DeepT3_dir = 

params.local_sample_sheet = false
params.ncbi_sample_sheet = false


process.queue = 'normal'
process.memory = '2G'
process.cpus = 2

params.database_dir = "/data/databases/"

executor {
  $lsf {
      queueSize = 100
      pollInterval = '30sec'
  }
  $local {
      cpus = 8
      memory = '32 GB'
  }
}

conda.cacheDir = "$HOME/miniconda3/nextflow"

env {
  INTERPRO_HOME = "$params.database_dir/interproscan/interproscan-latest/"
  CHECKM_SET_PATH = '/home/tpillone/work/dev/annotation_pipeline_nextflow/data/checkm/bacteria.ms'

  // necessary to be able to export the python code out
  // of the main nextflow file
  PYTHONPATH = "$baseDir/bin"
}
