
///////
///// INPUT
//////////////////


// params.local_assemblies = "your assembly file"


///////////////////
//// REFERENCE DATABASES
//////////////////////////

// all databases used by the different scripts should be located in this directory

params.base_db = "$baseDir/db/"

params.swissprot_db = "${params.base_db}/uniprot/swissprot/"
params.pfam_db = "${params.base_db}/pfam/"
params.cog_db = "${params.base_db}/cog/"
params.ko_db = "${params.base_db}/kegg/"
params.refseq_db = "${params.base_db}/refseq/"

params.results_dir = "zdb/results"

////////////////
///// Analysis and parameters
//////////////////////////////

params.cog = false
params.ko = false
params.pfam = false

params.checkm_args = "domain Bacteria"

// allow (or not) missing data when identifying single copy core genes
params.core_missing = 0


// homology search vs RefSeq and SwissProt
params.blast_swissprot = false
params.diamond_refseq = false


//////
//// Internals
//////////////////////////////

params.orthofinder_output_dir = "output"

params.zdb.file = "/home/metagenlab/zdb_base"

params.zdb.db_name = ""
params.zdb.db_type = "sqlite"
params.zdb.psswd = ""

// Necessary to be able to access the database directory
// in singularity

singularity.enabled = true
singularity.cacheDir = "$params.singularity_dir"

params.annotation_container = "registry.hub.docker.com/metagenlab/annotation-pipeline:1.3.1"

params.zdb_container = "docker-daemon://metagenlab/zdb:latest"
params.checkm_container = "quay.io/biocontainers/checkm-genome:1.1.3--py_1"
params.blast_container = "quay.io/biocontainers/blast:2.9.0--pl526h3066fca_4"
params.pfam_scan_container = "quay.io/biocontainers/pfam_scan:1.6--hdfd78af_4"
params.kegg_container = "quay.io/biocontainers/kofamscan:1.3.0--0"
params.orthofinder_container = "quay.io/biocontainers/orthofinder:2.5.2--0"
params.diamond_container = "registry.hub.docker.com/buchfink/diamond:version2.0.13"
params.mafft_container = "quay.io/biocontainers/mafft:7.487--h779adbc_0"
params.fasttree_container = "quay.io/biocontainers/fasttree:2.1.8--h779adbc_6"


/////////////////////////////
///// EXECUTION CONTROL /////
/////////////////////////////

// the number of simultaneous jobs allowed to run
params.n_cpus = 2
params.mem = "16GB"

process.queue = 'normal'

// default number of cpus
// NOTE: setting up a high value may prevent nextflow from parallelizing tasks.
//  if one sets 40, with a limit of cpus of 80 (in executor), only two tasks can be launched
//  in parallel, even if they do not use multithreading (nextflow assumes that when a process is 
//  declared to use 40 cpus, it will use 40 cpus).
process.cpus = 1
params.executor = 'local'

executor {
  $lsf {
      queueSize = 100
      pollInterval = '30sec'
  }
  $local {
      cpus = "$params.n_cpus"
      memory = "$params.mem"
  }
}


env {
  // necessary to be able to export the python code out
  // of the main nextflow file
  // for debugging purpose, add the metagenlab_libs path
  PYTHONPATH = "$baseDir/bin"
}
