
params.databases_dir = "$PWD/databases"
params.kofamscan = true
params.cog = true
params.mapping_uniparc = true

params.executor = 'local'

process.queue = 'normal'
process.memory = '2G'
process.cpus = 2

executor {
  $lsf {
      queueSize = 100
      pollInterval = '30sec'
  }
  $local {
      cpus = 108
      memory = '232 GB'
  }
}

conda.cacheDir = "$HOME/miniconda3/nextflow"

params.container_interproscan = "metagenlab/interproscan:1.0"
params.interproscan_home = "/data/databases/interproscan/interproscan-latest/"

env {
  HMMTOP_ARCH = '/home/tpillone/work/dev/annotation_pipeline_nextflow/bin/hmmtop_2.1/hmmtop.arch'
  HMMTOP_PSV = '/home/tpillone/work/dev/annotation_pipeline_nextflow/bin/hmmtop_2.1/hmmtop.psv'
  INTERPRO_HOME = '/home/tpillone/work/projets/dev/2018_11_annotation_pipeline/databases/interproscan/interproscan-5.34-73.0'
  HMMTOP_PATH = '/home/tpillone/work/dev/annotation_pipeline_nextflow/bin/hmmtop_2.1'
  GBLAST3_PATH = '/home/tpillone/work/dev/annotation_pipeline_nextflow/bin/BioVx/scripts'
  KOFAMSCAN_HOME = '/home/tpillone/work/dev/annotation_pipeline_nextflow/bin/KofamScan/'
  CHECKM_SET_PATH = '/home/tpillone/work/dev/annotation_pipeline_nextflow/data/checkm/bacteria.ms'
}
