<!DOCTYPE html>


<html>
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>

<div id="container">
    <div id="sidebar">
        {% include "chlamdb/menu.html" %}
    </div>

    <div id="header">
        {% include "chlamdb/user.html" %}
    </div>

    <div id="content">

        <nav>
        <ul id="tabs" class="nav nav-tabs">
            <li class="active"><a>Pairwise Identity</a></li>
            <li><a href="{% url 'identity_heatmap' %}">Heatmaps</a></li>
        </ul>
        </nav>


        <div class="panel panel-success" style="width:80%; top: 200px; margin: 10px 10px 10px 10px">
            <div class="panel-heading" style="width:100%">
                <h3 class="panel-title">Help</h3>
            </div>
            <p style="margin: 10px 10px 10px 10px">Barchart blastnr hits <br>
            </p>
        </div>

    <form action='{% url "multipleGC" %}' method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />

    </form>

    {% if envoi %}
        <ul id="tabs2" class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Length distrib</a></li>
            <li><a href="#tab2" data-toggle="tab">-</a></li>
        </ul>

        <div id="my-tab-content" class="tab-content">
            <div class="tab-pane active" id="tab1">
                <object type="image" data="{% static asset_path %}" id="plot"></object>
            </div>
            <div class="tab-pane" id="tab2">

            </div>
        </div>
    {% endif %}

    </div>
</div>
</body>
</html>
