<!DOCTYPE html>


<html>
<head>
{% load static %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% include "chlamdb/header.html" %}

</head>

<body>
<div id="container2">

    <div id="content">
        {% if not valid_id %}

            <section id="head_section">
            Invalid ID or 0 significant NR hits
            </section>


        {% else %}



            <h3> SwissProt hits for: {{locus_tag}} (homology search computed with BLAST)</h3>
            <ul>
             <li><a href={% url 'locusx' locus_tag True%}>{{ locus_tag }}</a></li>
              <li>Number of SwisProt hits: {{ blast_data|length }}</li>


            </ul>
                <table id="blast_nr_table" class="sortable">
                <thead>
                <tr>
                <th>n</th>
                <th>Swissprot accession</th>
                <th>eval.</th>
                <th>score</th>
                <th>ID(%)</th>
                <th>N gaps</th>
                <th>Cov.(%)</th>
                <th>Annot score</th>
                <th>Gene </th>
                <th id=blast_subject_title>Swissprot description</th>
                <th id=blast_taxonomy>Organism</th>
                </tr>
                </thead>
                <tbody>


            {% for values in blast_data %}
                <tr>
                    <td>{{ values.0 }}</td>
                    <td><a href="http://www.uniprot.org/uniprot/{{ values.1 }}" target="_top">{{ values.1 }}<a></td>
                    <td>{{ values.2 }}</td>
                    <td>{{ values.3 }}</td>
                    <td>{{ values.4 }}</td>
                    <td>{{ values.5 }}</td>
                    <td>{{ values.6 }}</td>
                    <td>{{ values.7 }}</td>
                    <td>{{ values.8 }}</td>
                    <td>{{ values.9 }}</td>
                    <td><a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{values.11}}" target="_top">{{values.10}}</a></td>

                </tr>
            {%  endfor %}
            </tbody>
            </table>

        {% endif %}

    </div>
</div>

</body>
<script>

  $(document).ready(function() {
  $('#blast_nr_table').DataTable( {
    dom: 'lBfrtip',
    buttons: [
        {
            extend: 'colvis',
            columns: ':not(.noVis)',
        },
        {
            extend: 'excel',
            title: 'blast_swissprot'
        },
        {
            extend: 'csv',
            title: 'blast_swissprot'
        }
    ],
  "paging":   true,
  "ordering": true,
  "info":     false
  } );
  } );
</script>
</html>
