<!DOCTYPE html>


<html>
<head>
{% load static %}
{% load static %}
{% load crispy_forms_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% include "chlamdb/header.html" %}
</head>
<body>

  <div class="container-fluid" id="main_container">
    <div class="row">
      <div id="wrapper">
          <div id="page-content-wrapper">
            <div class="row">
              <div class="col-lg-12">
                 {% include "chlamdb/menu.html" %}
                 <div class="home-title"><b> Circos  </b></div>
                 <hr class="lines-home">

                  <div class="panel panel-success" style="width:80%; top: 200px; margin: 10px 10px 10px 10px">
                      <div class="panel-heading" style="width:100%">
                          <h3 class="panel-title">Help</h3>
                      </div>
                      <p style="margin: 10px 10px 10px 10px"><h3>Circos plots indicating the presence(red scale)/absence(light blue) of homologous proteins in one or multiple other genomes. </h3>
                      Click on the circos plot to open a new windows with clickable version of the plot.
                       <ul id="circos_ul" style="list-style-type:disc;">  
                            <li>The first outer circle show contig/chromosome boundaries</li>
                            <li>The second and third circles show open reading frames from the reference genome (in gray)</li>
                            <ol>
                                <li>rRNA are colored in blue, tRNA in red</li>
                            </ol>
                            <li>Inner blue/red circle(s) incicate the presence(red scale)/absence(light blue) of homologous proteins in one or multiple other genomes</li>
                            <li>The last two inner circles show GC content (blue/red) and GC skew (blue/green)</li>
                            
                      </ul>
                      </p>
                  </div>
                  <div class="row">

                    {% block content %}
                    <form action="{% url "circos" %}" method="post" id="circos-form">
                        {% csrf_token %}
                        {% crispy form %}
                    </form>
                    {% endblock %}

                  </div>

                  <div id="progress-div" class="row" style="padding-top:5px;height:25px;" class="row"></div>

                  <div class="progress row" style="width=50%;" id="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
                  </div>



                  <div id="results" class="row">
                  </div>

              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% include "chlamdb/style_menu.html" %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
function hide_submenus(hidden_menu) {

    var menu_ul = $('.' + hidden_menu +'> ul'),
        menu_a  = $('.' + hidden_menu +'> a');

    menu_ul.hide();

    menu_a.click(function(e) {
        e.preventDefault();
        if(!$(this).hasClass('active')) {
            menu_a.removeClass('active');
            menu_ul.filter(':visible').slideUp('normal');
            $(this).addClass('active').next().stop(true,true).slideDown('normal');
        } else {
            $(this).removeClass('active');
            $(this).next().stop(true,true).slideUp('normal');
        }
    });

};

$(hide_submenus("rollmenu1"))

</script>


<script type="text/javascript">
    $("#progress").hide();

    var frm = $('#circos-form');
    var prg_dv = $('#progress-div');
    var pgrbar = $('.progress-bar');
    frm.submit(function () {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                if (data.task_id != null) {
                    get_task_info(data.task_id);
                }
            },
            error: function (data) {
                console.log("Something went wrong!");
            }
        });
        return false;
    });

    function get_task_info(task_id) {
        $.ajax({
            type: 'get',
            url: '/get-task-info/',
            data: {'task_id': task_id},
            success: function (data) {
                pgrbar.css('width', 10+'%').attr('aria-valuenow', 10)
                $("#progress").show();
                $('#results').html('')
                if (data.state == 'PENDING') {
                    prg_dv.html('Please wait...');
                }
                else if (data.state == 'PROGRESS') {
                    pgrbar.css('width', data.result.percent+'%').attr('aria-valuenow', data.result.percent)
                    console.log(data.result.percent);
                    prg_dv.html('Step ' + data.result.current + '/' + data.result.total + ': ' + data.result.description);
                }
                else if (data.state == 'SUCCESS') {
                    // pgrbar.hide();
                    prg_dv.html('Done');
                    $('#results').html(data.result);
                    $("#progress").hide();
                }

                if (data.state != 'SUCCESS') {
                    setTimeout(function () {
                        get_task_info(task_id)
                    }, 1000);
                }
            },
            error: function (data) {
                prg_dv.html("Something went wrong!");
            }
        });
    }
</script>

<style>

#circos_ul {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

ol > ul > li {
  padding: 4px;
  margin-left: 25px;
}

</style>

</html>
