<!DOCTYPE html>


<html>
<head>
{% load static %}
{% load static %}
{% load crispy_forms_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.js'></script>
<script src="{% static 'js/circos.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js" integrity="sha512-yocoLferfPbcwpCMr8v/B0AB4SWpJlouBwgE0D3ZHaiP1nuu5djZclFEIj9znuqghaZ3tdCMRrreLoM8km+jIQ==" crossorigin="anonymous"></script>


{% include "chlamdb/header.html" %}
</head>
<body>

  <div class="container-fluid" id="main_container">
    <div class="row">
      <div id="wrapper">
          <div id="page-content-wrapper">
            <div class="row">
              <div class="col-lg-12">
                 {% include "chlamdb/menu.html" %}


                  <div class="panel panel-success" style="width:80%; top: 200px; margin: 10px 10px 10px 10px">
                      <div class="panel-heading" style="width:100%">
                          <h3 class="panel-title">Help</h3>
                      </div>
                      <p style="margin: 10px 10px 10px 10px"><h3>Circos plots indicating the presence(red scale)/absence(light blue) of homologous proteins in one or multiple other genomes. </h3>
                      Click on the circos plot to open a new windows with clickable version of the plot.
                       <ul id="circos_ul" style="list-style-type:disc;">  
                            <li>The first outer circle show contig/chromosome boundaries</li>
                            <li>The second and third circles show open reading frames from the reference genome (in gray)</li>
                            <ol>
                                <li>rRNA are colored in blue, tRNA in red</li>
                            </ol>
                            <li>Inner blue/red circle(s) incicate the presence(red scale)/absence(light blue) of homologous proteins in one or multiple other genomes</li>
                            <li>The last two inner circles show GC content (blue/red) and GC skew (blue/green)</li>
                            
                      </ul>
                      </p>
                  </div>
                  <div class="row">

                    {% block content %}
                    <form action="{% url "circos" %}" method="post" id="circos-form">
                        {% csrf_token %}
                        {% crispy form %}
                    </form>
                    {% endblock %}

                  </div>

                  <div id='heatmapChart' class='chartclass'></div>

              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{% include "chlamdb/style_menu.html" %}



<script type="text/javascript">

var width = 800;

var configuration = {
          innerRadius: width / 2 - 40,
          outerRadius: width / 2 - 30,
          ticks: {display: true},
          gap: 0,
          tooltipContent: function (d) {
          return `<h5> TEST: ${d.bioentry_id}</h5>`
          },
          labels: {
            position: 'center',
            display: true,
            size: 0,
            color: 'red',
            radialOffset: 5
          },
		  ticks: {
			display: true,
			color: 'grey',
			spacing: 50000,
			labels: false,
			labelSpacing: 1,
			labelSuffix: 'Kb',
			labelDenominator: 1000,
			labelDisplay0: true,
			labelSize: '10px',
			labelColor: '#000000',
			labelFont: 'default',
			majorSpacing: 5,
			size: {
			  minor: 0,
			  major: 0,
			}
		  },
      events: {'click.alert': function (datum, index, nodes, event) {
            window.alert(datum.label)
      },
      'mouseover': function (datum, index, nodes, event) {
            return 'test'
      },
      }
}

var data = {{contigs_data|safe}}


var myCircos = new Circos({
    container: '#heatmapChart',
    width: 800,
    height: 800,
    defaultTrackWidth: 10
});




var heatmap_data_lst = {{heatmap_data_list|safe}} ;

myCircos.layout(data, configuration);

var i = 0;
for (var key in heatmap_data_lst) { 
    i = i+1;
    var data = heatmap_data_lst[key][0];
    console.log(heatmap_data_lst[key][1]);
    var conf = heatmap_data_lst[key][1];
    conf["tooltipContent"] = function (d) { if (d.value == "false"){return None} else if (d.value == -1) {return `<h5>${d.locus_tag}</h5>`} else {return `<h5>${d.locus_tag}: ${d.value} % identity</h5>` }}
    conf["events"] = {"click.alert": function (datum, index, nodes, event) { window.location="/locusx/" + datum.locus_tag;}}
    if (conf["color"] == "comp"){ 
      conf["color"] = function(datum, index) {
                          var color_scale = chroma.scale('YlOrRd').domain([1,0]);
                          if (datum.value == "false") {
                            return "lightblue"
                          } else {
                            var col = color_scale(1-(datum.value/100)).hex();
                            console.log(col)
                            return col
                          }
      };
    };
    myCircos.heatmap(key, data, conf);
}

myCircos.render();

</script>

</html>
