<!DOCTYPE html>


<html>
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>

<div id="container">
    <div id="sidebar">
        {% include "chlamdb/menu.html" %}
    </div>
    <div id="header">
        {% include "chlamdb/user.html" %}
    </div>

    <div id="content">



        <div class="panel panel-success" style="width:80%; top: 200px; margin: 10px 10px 10px 10px">
            <div class="panel-heading" style="width:100%">
                <h3 class="panel-title">Help</h3>
            </div>
            <p style="margin: 10px 10px 10px 10px"><p>Create circos plots indicating location of homologues in other genomes</p>
            </p>
        </div>



        <form action="{% url "circos_homology" %}" method="post">
        {% csrf_token %}


        <table>
          <tr>
          <td>{{ form.as_p }}</td>
        </tr>

        <tr>
          <td><input type="submit" value="Submit" /></td>
        </tr>


        </table>

</div>


{% block extrahead %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
  var update_fields = function () {
    if ($("#id_get_region").is(":checked")) {

        $('#id_region').prop('disabled', false);
        $('#id_submit_region').show();
        $('#id_submit_circos').hide();
    }
    else {

       $('#id_region').prop('disabled', 'disabled');
       $('#id_submit_region').hide();
       $('#id_submit_circos').show();
    }
  };
  $(update_fields);
  $("#id_get_region").change(update_fields);

</script>


{% endblock %}


{% if envoi_circos %}
    circos plot
    {% load static %}
    <img src="{% static ""%}{{circos_file}}" id="circos_plot"/>
{% endif %}




    
</body>
</html>
