<!DOCTYPE html>
<html>
<head>
{% load static %}
{% load static %}
{% load custom_tags %}
{% get_static_prefix as STATIC_PREFIX %}
{% include "chlamdb/header.html" %}
</head>
<body>
    <div class="container-fluid" id="main_container">
        <div class="row">
            <div id="wrapper">
                <div id="page-content-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            {% include "chlamdb/menu.html" %}
                            <div class="panel-title"><b>Comparisons: COGs</b></div>
                            <br>
                                       <nav>
                                <ul id="tabs" class="nav nav-tabs">
                                    <li ><a href="{% url 'extract_cog'  %}">Detailed comparison</a></li>
                                    <li><a href="{% url 'venn_cog'  %}">Venn diagram</a></li>
                                    <li><a href="{% url 'cog_barchart'  %}">COG categories barchart</a></li>
                                    {% if freq == "True" %}
                                        <li class="active"><a href="{% url 'COG_phylo_heatmap'  True %}">COG heatmap freq.</a></li>
                                        <li><a href="{% url 'COG_phylo_heatmap'  False %}">COG heatmap counts</a></li>
                                    {% else %}
                                        <li><a href="{% url 'COG_phylo_heatmap'  True %}">COG heatmap freq.</a></li>
                                        <li class="active"><a href="{% url 'COG_phylo_heatmap'  False %}">COG heatmap counts</a></li>                                
                                    {% endif %}
                                    <li><a href="{% url 'plot_heatmap'  'COG' %}">Whole proteomes heatmaps</a></li>
                                    <li><a href="{% url 'pan_genome'  'COG' %}">Pan/Core genome plots</a></li>
                
                                </ul>
                            </nav>
                            <br>
                            <center><p class="home-title" style="color: rgb(0, 86, 121);"><b> {% if freq == "False"%}
                                Heatmap of genes identifed in each COG category
                                {% elif freq == "True" %}
                                Heatmap of frequency of genes identifed in each COG category
                                {% endif %}
                            </b><a href="/docs/index.html" id="show-option" title="Phylogenetic tree annotated with the number of genes distributed in each COG category"><i class="fab fa-info-circle " style="size: 5em;" ></i></a></p></center>
          
                           
                              <div class="panel panel-success">
                                <div class="panel-heading" style="width:100%">
                                  <h5 class="panel-title">Help to interpret the results
                                </div>
                                <p style="margin: 10px 10px 10px 10px">
                                    {% if freq == "False"%}
                                    Phylogenetic tree annotated with the number of genes distributed in each COG category. For each of the COG cateogries displayed on the x axis, the number of genes that fit in each category is reported for each genome. Colors are used to easily interpret the increment or decrement of members in each category within the whole collections.
                                    {% elif freq == "True" %}
                                    Phylogenetic tree annotated with the frequency of genes distributed in each COG category over the total amount of genes of each genome. Colors are used to easily interpret the increment or decrement of members in each category within the whole collections.
                                    {% endif %}
                                </p>
                              </div>
                            </div>

                            <div class="tab-pane" id="tab2">
                                <object style="max-width:90%; padding-top: 2em;" type="image/svg+xml" data="{% static asset_path %}" id="cog_tree"></object>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  {% include "chlamdb/style_menu.html" %}
</body>
</html>





