<!DOCTYPE html>


<html>
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>

<div id="container">
    <div id="sidebar">
        {% include "chlamdb/menu.html" %}
    </div>

    <div id="header">
        {% include "chlamdb/user.html" %}
    </div>

    <div id="content">

        <nav>
        <ul id="tabs" class="nav nav-tabs">
                {% if type == 'Pfam' %}

                    <li><a href="{% url 'extract_pfam' %}">Detailed comparison</a></li>
                    <li><a href="{% url 'venn_pfam' %}">Venn diagram</a></li>
                    <li><a href="{% url 'pfam_comparison' %}">Compare Pfam Domains</a></li>
                    <li class="active"><a href="{% url 'plot_heatmap' 'Pfam' %}">Whole proteomes heatmaps</a></li>


                {% elif type == 'COG' %}
                    <li><a href="{% url 'extract_cog' %}">Detailed comparison</a></li>
                    <li><a href="{% url 'venn_cog' %}">Venn diagram</a></li>
                    <li><a href="{% url 'cog_barchart' %}">COG categories barchart</a></li>
                    <li><a href="{% url 'COG_phylo_heatmap' True %}">COG heatmap freq.</a></li>
                    <li><a href="{% url 'COG_phylo_heatmap' False %}">COG heatmap counts</a></li>
                    <li><a href="{% url 'plot_heatmap' 'COG' %}">Whole proteomes heatmaps</a></li>
                    <li class="active"><a href="{% url 'pan_genome' 'COG' %}">Pan/Core genome plots</a></li>
                {% elif type == 'interpro'%}
                    <li><a href="{% url 'extract_interpro' %}">Detailed comparison</a></li>
                    <li><a href="{% url 'venn_interpro' %}">Venn diagram</a></li>
                    <li><a href="{% url 'plot_heatmap' 'interpro' %}">Whole proteomes heatmaps</a></li>
                    <li class="active"><a href="{% url 'pan_genome' 'interpro' %}">Pan/Core genome plots</a></li>
                {% elif type == 'EC' %}

                    <li><a href="{% url 'extract_EC' %}">Detailed comparison</a></li>
                    <li><a href="{% url 'venn_pfam' %}">Venn diagram</a></li>
                    <li><a href="{% url 'plot_heatmap' 'EC' %}">Whole proteomes heatmaps</a></li>
                    <li class="active"><a href="{% url 'pan_genome' 'EC' %}">Pan/Core genome plots</a></li>
                {% elif type == 'ko' %}
                    <li><a href="{% url 'extract_ko' %}">Detailed comparison</a></li>
                    <li><a href="{% url 'ko_comparison' %}">Compare KO counts</a></li>
                    <li><a href="{% url 'module_barchart' %}">KO categories barchart</a></li>
                    <li><a href="{% url 'venn_ko' %}">Venn KO</a></li>
                    <li><a href="{% url 'plot_heatmap' 'ko' %}">Whole proteomes heatmaps</a></li>
                    <li class="active"><a href="{% url 'pan_genome' 'ko' %}">Pan/Core genome plots</a></li>
                {% elif type == 'orthology' %}
                    <li><a href="{% url 'extract_orthogroup' %}">Detailed comparison</a></li>
                    <li><a href="{% url 'venn_orthogroup' %}">Venn diagram</a></li>
                    <li><a href="{% url 'orthogroup_comparison' %}">Compare Orthogroups size between genomes</a></li>
                    <li><a href="{% url 'plot_heatmap' 'orthology' %}">Whole proteomes heatmaps</a></li>
                    <li class="active"><a href="{% url 'pan_genome' 'orthology' %}">Pan/Core genome plots</a></li>
                {% endif %}
        </ul>
        </nav>


        <div class="panel panel-success" style="width:80%; top: 200px; margin: 10px 10px 10px 10px">
            <div class="panel-heading" style="width:100%">
                <h3 class="panel-title">Help</h3>
            </div>
            <p style="margin: 10px 10px 10px 10px">Accumulation/rarefaction plot of

                {% if type == 'Pfam' %}
                    Pfam domains
                {% elif type == 'COG' %}
                    COG
                {% elif type == 'interpro'%}
                    Interpro entries
                {% elif type == 'EC' %}
                    PRIAM predicted EC
                {% elif type == 'ko' %}
                    Kegg orthologs
                {% elif type == 'orthology' %}
                    Orthologous grooups (pan/core genome plots)
                {% endif %}


                <br>
            </p>
        </div>

    <form action='{% url "core_genome_missing" type %}' method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />

    </form>

    {% if envoi %}
        <ul id="tabs2" class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Plot</a></li>
            <li><a href="#tab2" data-toggle="tab">Barplot</a></li>
        </ul>

        <div id="my-tab-content" class="tab-content">
            <div class="tab-pane active" id="tab1">

        <div class="panel panel-success" style="width:80%; top: 200px; margin: 10px 10px 10px 10px">
            <div class="panel-heading" style="width:100%">
                <h3 class="panel-title">Help</h3>
            </div>
            <p style="margin: 10px 10px 10px 10px">
                {% if type == 'Pfam' %}
                    Show the relationship between the total number of Pfam domains and the number of genomes considered (blue). <br>
                    Show the relationship between the number of pfam domains conserved in all compared genomes and the number of compared genomes (red).
                {% elif type == 'COG' %}
                    Show the relationship between the total number of Pfam domains and the number of genomes considered (blue). <br>
                    Show the relationship between the number of pfam domains conserved in all compared genomes and the number of compared genomes (red).

                {% elif type == 'interpro'%}
                    Show the relationship between the total number of interpro entries and the number of genomes considered (blue). <br>
                    Show the relationship between the number of interpro entries conserved in all compared genomes and the number of compared genomes (red).

                {% elif type == 'EC' %}
                    Show the relationship between the total number of EC and the number of genomes considered (blue). <br>
                    Show the relationship between the number of EC conserved in all compared genomes and the number of compared genomes (red).

                {% elif type == 'ko' %}
                    Show the relationship between the total number of KO and the number of genomes considered (blue). <br>
                    Show the relationship between the number of KO conserved in all compared genomes and the number of compared genomes (red).

                {% elif type == 'orthology' %}
                    Orthologous groups (pan/core genome plots)
                {% endif %}


                <br>
            </p>
        </div>

                <table style="width:190px; float: left;">
                    <tr>
                        <th style="width:90px">TOTAL</th>
                        <td>{{total}}</td>
                    </tr>
                    <tr>
                        <th>CORE</th>
                        <td>{{core0|length}}</td>
                    </tr>
                    <tr>
                    <tr>
                        <th>CORE - 1</th>
                        <td>{{core1|length}}</td>
                    </tr>
                    <tr>
                        <th>CORE - 2</th>
                        <td>{{core2|length}}</td>
                    </tr>
                    <tr>
                        <th>CORE - 3</th>
                        <td>{{core3|length}}</td>
                    </tr>
                    <tr>
                        <th>CORE - 4</th>
                        <td>{{core4|length}}</td>
                    </tr>
                    <tr>
                        <th>CORE - 5</th>
                        <td>{{core5|length}}</td>
                    </tr>
                    <tr>
                        <th>CORE - 6</th>
                        <td>{{core6|length}}</td>
                    </tr>
                </table>

                <object type="image" data="{% static asset_path2 %}" id="plot" style="width:50%; margin-left: 100px;"></object>
            </div>
            <div class="tab-pane" id="tab2">
                <table style="width:190px; float: left;">

                    {% for group, count in group2count %}

                        <tr>
                            <th style="width:90px">{{group}}</th>
                            <td>{{count}}</td>
                        </tr>


                    {% endfor %}
                </table>

            </div>
        </div>
    {% endif %}

    </div>
</div>
</body>
</html>
