<!DOCTYPE html>


<html>

<head>

    {% load static %}
    {% load static %}
    {% include "chlamdb/header.html" %}
</head>

<body>

  <div class="container px-4 px-lg-8 text-center" ></div>
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-lg-10">
      <div class="container-fluid" id="main_container">
        <div class="row">
          <div id="wrapper">
              <div id="page-content-wrapper">
                <div class="row">
                  <div class="col-lg-12" style="font: central;">
                   {% include "chlamdb/menu.html" %}
                  <div id="credits">
                      <h2>Chlamydiae Database version 2.0 (June 2019)</h2>
                      <h2>Credits</h2>
                      <ul>
                          {% for entry in entry_list%}
                              <li>
                              {{entry.0|safe}} (<a href="{{entry.1}}">Pubmed</a>) <br>
                              </li>
                          {%endfor%}
                      </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <script>

    $('.dropdown-toggle').dropdown()

    </script>
<!--<script type="text/javascript" src="{% static 'js/sorttable.js' %}"></script>-->
</body>
{% include "chlamdb/style_menu.html" %}
</html>
