<!DOCTYPE html>


<html>
    <head>
        {% load static %}
        {% load custom_tags %}
        {% load crispy_forms_tags %}
        <script type="text/javascript" id="js">
            $(document).ready(function() {
            // call the tablesorter plugin
            $("table").tablesorter({
            // change the default sorting order from 'asc' to 'desc'
            sortInitialOrder: 1
            });
            });
        </script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $('#tabs_main').tab();
            });
        </script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $('#tabs1').tab();
            });
        </script>

        {% include "chlamdb/header.html" %}


    </head>


    <div class="container-fluid" id="main_container">
      <div class="row">
        <div id="wrapper">
            <div id="page-content-wrapper">
              <div class="row">
                <div class="col-lg-12">
                   {% include "chlamdb/menu.html" %}
                   <div class="home-title"><b> Kegg Orthologs </b></div>
                   <hr class="lines-home">
                    <nav>
                        <ul id="tabs_main" class="nav nav-tabs">
                            <li class="active"><a href="{% url 'extract_ko' %}">Detailed comparison</a></li>
                            <li><a href="{% url 'ko_comparison' %}">Compare KO counts</a></li>
                            <li><a href="{% url 'module_barchart' %}">KO categories barchart</a></li>
                            <li><a href="{% url 'venn_ko' %}">Venn KO</a></li>
                            <li><a href="{% url 'plot_heatmap' 'ko' %}">Whole proteomes heatmaps</a></li>
                            <li><a href="{% url 'pan_genome' 'ko' %}">Pan/Core genome plots</a></li>
                        </ul>
                    </nav>

                     <div id="extract_form">

                        <div class="panel panel-success" style="width:80% ; top: 200px; margin: 10px 10px 10px 10px">
                            <div class="panel-heading" style="width:100%">
                                <h3 class="panel-title">Help</h3>
                            </div>
                            <p style="margin: 10px 10px 10px 10px; line-height: 160%">Get list of Kegg Orthologs shared between genomes selected in panel A and absent in genomes of panel B. Based on <a href="http://www.kegg.jp/ghostkoala/">GhostKOALA</a>.<br>
                            Reference: one of the genome in panel A can be chosen as reference for display the result KO list on a circular map of the genome. Click on "show on circular map" to generate the circos map. Corresponding locus are highlighted in pink. <br>
                            Missing data: if more than one panel A genome (include) is selected, possibility to tolerate missing data in 1 up to 10 genomes (in order to get KO present in at least x out of the y genomes selected in panel A).</p>
                            </p>
                        </div>

                        {% block content %}
                        <form action="{% url "extract_ko" %}" method="post">
                            {% csrf_token %}
                            {% crispy form %}
                        </form>
                        {% endblock %}
                    </div>



            {% if wrong_n_missing%}

            <div class="panel panel-warning" style="width:500px ; top: 200px; margin: 10px 10px 10px 10px">
                <div class="panel-heading" style="width:100%">
                    <h3 class="panel-title">Help</h3>
                </div>
                <p style="margin: 10px 10px 10px 10px">You cannot set a number of missing data bigger than the number of included genomes</p>
            </div>

            {% elif no_match%}

            <div class="panel panel-warning" style="width:500px ; top: 200px; margin: 10px 10px 10px 10px">
                <div class="panel-heading" style="width:100%">
                    <h3 class="panel-title"></h3>
                </div>
                <p style="margin: 10px 10px 10px 10px">No match</p>
            </div>

            {% endif %}

            {% if envoi_extract %}

                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                    <li class="active"><a href="#red" data-toggle="tab">KO list</a></li>
                    <li><a data-toggle="tab" href="#tab66" onclick="window.open('{% url 'ko_subset_barchart' mm %}{{taxons_in_url|safe}}{{taxon_out_url|safe}}', 'orthoIDframe2'); return false">KO modules</a></li>
                    <li><a data-toggle="tab" href="#tab66" onclick="window.open('{% url 'ko_subset_barchart' pp %}{{taxons_in_url|safe}}{{taxon_out_url|safe}}', 'orthoIDframe2'); return false">KO pathways</a></li>
                    <li><a href="#tab2" data-toggle="tab">Locus list reference</a></li>

                </ul>

                <div id="my-tab-content" class="tab-content">

                    <div class="tab-pane active" id="red">

                        <h3>Number of Kegg Orthologs: {{ sum_group }} </h3>

                        <table class="display" id="extract_ko">

                            <thead>
                                <tr>
                                    <th id="entete_locus">KO</th>
                                    <th>Description</th>
                                    <th>Kegg Pathways</th>
                                    <th>Kegg Modules</th>
                                    <th>present in (/{{include|length}})</th>
                                    <th>freq complete database {{max_n}}</th>
                                </tr>
                            </thead>

                            {% for value in match_groups_data %}
                                <tr>
                                    <td><a href="{% url 'fam_ko' value.0 %}">{{value.0}}</a></td>
                                    <td>{{value.1}}</td>
                                    <td>{{value.2|safe}}</td>
                                    <td>{{value.3|safe}}</td>
                                    <td>{{value.4}}</td>
                                    <td>{{value.5}}</td>
                                </tr>
                            {% endfor %}

                        </table>


                    </div>
                    <div class="tab-pane" id="orange">
                        <object type="image/svg+xml" data="{% static asset_path %}" id="cog_tree"></object>
                    </div>
                    <div class="tab-pane" id="tab66" style="height:100%">
                        <iframe name="orthoIDframe2" id="theFrame2" scrolling="no" width="100%" height="1800px"></iframe>
                    </div>

                    <div class="tab-pane" id="tab2">

                        <h3> Locus annotation </h3>
                        <div id="export_bouttons_groups">
                            <a href="{% url 'get_fasta' %}{{fasta_url_ref}}" class="btn btn-success">Download fasta</a>
                                <form name="circos_form" id="circos_form" action="{% url 'circos_main' %}" method="post">
                                {% csrf_token %}
                                    <input type="hidden" name="reference_taxon" value="{{ reference_taxon }}">
                                    <input type="hidden" name="target_list" value="{{ target_circos_taxons }}">
                                    <input type="hidden" name="highlight" value="{{ locus_list }}">
                                    <button class="btn btn-success">Show on circular map</button>
                                </form>

                            <br/>
                        </div>
                        <table id="reference_ko" class="display">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th id="entete_locus">Orthogroup</th>
                                    <th id="entete_locus">Locus</th>
                                    <th style="width:10px">C</th>
                                    <th style="width:70px">COGn</th>
                                    <th style="width:55px">KO</th>
                                    <th style="width:260px">Pathways</th>
                                    <th style="width:230px">Modules</th>
                                    <th style="width:230px">Interpro</th>
                                    <th id="entete_gene">Gene</th>
                                    <th id="entete_n">nH</th>
                                    <th id="entete_n">nG</th>
                                    <th id="entete_n">TM</th>
                                    <th id="entete_n">SP</th>
                                    <th id="entete_product">Product</th>


                                </tr>
                            </thead>
                            <tbody>

                                {%for values in locus2annot%}
                                <tr>
                                    <td>{{values.0}}</td>
                                    <td>{{values.1}}</td>
                                    <td><a href="{% url 'locusx' values.2 True %}" target="_top">{{values.2}}</a></td>
                                    <td><a href="http://www.ncbi.nlm.nih.gov/protein/{{values.3}}" target="_top">{{locus_tag2cog_catego|keyvalue:values.2}}</a></td>
                                    {% with locus_tag2cog_name|keyvalue:values.2 as name %}
                                        {% if name == '-' %}
                                            <td>{{locus_tag2cog_name|keyvalue:values.2}}</td>
                                        {% else %}
                                            <td><a href="{% url "fam" name 'cog'%}" target="_top">{{locus_tag2cog_name|keyvalue:values.2}}</a></td>
                                        {% endif %}
                                    {%endwith%}
                                    {% with locus_tag2ko|keyvalue:values.2 as oneko %}
                                        {% if oneko == '-' %}
                                            <td>{{locus_tag2ko|keyvalue:values.2}}</td>
                                            <td>-</td>
                                            <td>-</td>
                                        {% else %}
                                            <td><a href="{% url "fam" oneko 'ko'%}" target="_top">{{locus_tag2ko|keyvalue:values.2}}</a></td>
                                            {% with ko2ko_pathways|keyvalue:oneko as name %}
                                                {% if name == '-' %}
                                                    <td>-</td>
                                                {% else %}
                                                    <td>{{name|safe}}</td>
                                                {% endif %}
                                            {%endwith%}
                                            {% with ko2ko_modules|keyvalue:oneko as name %}
                                                {% if name == '-' %}
                                                    <td>-</td>
                                                {% else %}
                                                    <td>{{name|safe}}</td>
                                                {% endif %}
                                            {%endwith%}
                                        {% endif %}


                                    {%endwith%}
                                    {% with locus2interpro|keyvalue:values.2 as interpro_data %}
                                    <td>
                                        {% for one_interpro in interpro_data %}
                                        {% if one_interpro.0 != '-' %}
                                            <a href="{% url 'fam' one_interpro.0 'interpro' %}" target="_top">{{one_interpro.0}}</a> /
                                        {%else%}
                                            {{one_interpro.0}}
                                        {%endif%}
                                            {{one_interpro.1}} </br>
                                        {% endfor %}
                                        {%endwith%}
                                    </td>
                                    <td>{{values.7}}</td>
                                    <td>{{values.8}}</td>
                                    <td>{{values.9}}</td>
                                    <td>{{values.10}}</td>
                                    <td>{{values.11}}</td>
                                    <td>{{values.12}}</td>

                                </tr>

                                {%endfor%}
                              </tbody>
                          </table>
                        </div>
                      </div>
                  {% endif %}
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<script type="text/javascript" id="js2">
  $(document).ready(function() {
  $('#extract_ko').DataTable( {
   dom: 'Bfrtip',
  "paging":   true,
  "ordering": true,
  "info":     false,
  buttons: [
  {
      extend: 'excel',
      title: 'ko_table'
  },
  {
      extend: 'csv',
      title: 'ko_table'
  }
  ],
  } );
  } );

  $(document).ready(function() {
  $('#reference_ko').DataTable( {
   dom: 'Bfrtip',
  "paging":   true,
  "ordering": true,
  "info":     false,
  buttons: [
  {
      extend: 'excel',
      title: 'reference_genome_ko_list'
  },
  {
      extend: 'csv',
      title: 'reference_genome_ko_list'
  }
  ],
  } );
  } );
</script>

</body>
{% include "chlamdb/style_menu.html" %}
{% include "chlamdb/show_hide_plasmid_accessions.html" %}

<style>
#div_id_checkbox_single_copy{
  display: none;
}
</style>

</html>
