<!DOCTYPE html>


<html>
<head>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

<script type="text/javascript" id="js">$(document).ready(function() {
// call the tablesorter plugin
$("table").tablesorter({
// change the default sorting order from 'asc' to 'desc'
sortInitialOrder: 1
});
}); </script>

</head>
<body>

{% include "chlamdb/user.html" %}
{% include "chlamdb/menu.html" %}




<section id="extract_form">
<section id="section_head">
<p>Get protein list of genes shared between genomes selected in panel A and absent in genomes of panel B</p>
</section>

<p id="extract_panel_A">
A
</p>
<p id="extract_panel_B">
B
</p>

<p id="checkbox_extract_single_copy">
Get single copy/genome only
</p>

<p id="checkbox_show_groups">
Show groups
</p>




<form action="{% url "chlamdb.views.extract" biodb %}" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" name="submit_extract" value="extract homologues" id="extract_button" />

</form>





{% if envoi_venn %}

    {% load static %}
    Faire un diagramme de Venn avec les groupes séléctionnés
{% endif %}



{% if envoi_extract %}

<!--
<div id=help_text_extract>
<table>
   <tr><td>S</td> <td> strand</td> </tr>
   <tr><td>nH</td> <td> total number of homologues</td> </tr>
   <tr><td>nG</td> <td> number of genomes in which at least one homologous protein is present</td> </tr>
   <tr><td>TM</td> <td> Transmmembrane domains</td> </tr>
   <tr><td>SP</td> <td> Signl peptide</td> </tr>
</table>
</div>
-->

</section>


</section>


<section>






    <section id="extract_section">
    <div id="export_bouttons_detail">
    <a download="biodb_extract.xls" href="#" onclick="return ExcellentExport.excel(this, 'search_table', 'search');" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;">Export to Excel</a>

    <a download="biodb_extract.csv" href="#" onclick="return ExcellentExport.csv(this, 'search_table');" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;"">Export to CSV</a>
    <br/>
    </div>

    <table id="search_table" class="sortable">
    <thead>
    <tr>
    <th></th>
    <th id="entete_locus" class="rotate">Orthogroup</th>
    <th id="entete_locus" class="rotate">Locus</th>
    <th id="entete_locus" class="rotate">Protein id</th>
    <th id="entete_gene" class="rotate">Start</th>
    <th id="entete_gene" class="rotate">Stop</th>
    <th id="entete_strand" class="rotate">S.</th>
    <th id="entete_gene" class="rotate">Gene</th>
    <th id="entete_n" class="rotate">nH</th>
    <th id="entete_n" class="rotate">nG</th>
    <th id="entete_n" class="rotate">TM</th>
    <th id="entete_n" class="rotate">SP</th>
    <th id="entete_product" class="rotate">Product</th>
    <th id="entete_organism" class="rotate">Organism</th>
    <th id="entete_translation" class="rotate">Translation</th>

    </tr>
    </thead>
    <tbody>


    {% for values in extract_result %}
        <tr>
        <td>{{values.0}}</td>

        <td>{{values.1}}</td>
        <td>{{values.2}}</td>
	    <td>{{values.3}}</td>
	    <td>{{values.4}}</td>
        <td>{{values.5}}</td>
        <td>{{values.6}}</td>
	    <td>{{values.7}}</td>
	    <td>{{values.8}}</td>
        <td>{{values.9}}</td>
        <td>{{values.10}}</td>
        <td>{{values.11}}</td>
        <td>{{values.12}}</td>
        <td>{{values.13}}</td>
        <td>{{values.14}}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</section>


<section id="extract_section">
    <div id="export_bouttons_groups">
    <a download="biodb_extract.xls" href="#" onclick="return ExcellentExport.excel(this, 'table_groups', 'search');" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;">Export to Excel</a>

    <a download="biodb_extract.csv" href="#" onclick="return ExcellentExport.csv(this, 'table_groups');" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;"">Export to CSV</a>
    <br/>
    </div>

{{ sum_group }}

<table class="sortable" id="table_groups">

<thead>
<tr>
<th id="entete_locus" class="rotate">Orthogroup</th>
</tr>
</thead>

{% for value in match_groups %}
<tr><td>{{value}}</td></tr>
{% endfor %}
</table>
</section>


{% else %}



</section>
</section>
</section>


<section>



{% endif %}




</section>




<!--
<script type="text/javascript">$(document).ready( function(){ $("#jqtest").html("JQuery installed successfully!"); } ); </script>

-->

<script>
  var update_fields = function () {
    if ($("#id_get_groups").is(":checked")) {

        $('#id_region').prop('disabled', false);
        $('#search_table').show();
        $('#export_bouttons_detail').show();

        $('#table_groups').hide();
        $('#export_bouttons_groups').hide();
    }



    else {

       $('#id_get_groups').prop('disabled', false);
       $('#search_table').hide();
       $('#export_bouttons_detail').hide();
       $('#table_groups').show();
       $('#export_bouttons_groups').show();
    }
  };
  $(update_fields);
  $("#id_get_groups").change(update_fields);




</script>



<p id="jqtest"></p>

</body>
</html>
