<!DOCTYPE html>


<html>
    <head>
        {% load custom_tags %}

    </head>


    <div id="container">


        <div id="sidebar">
            {% include "chlamdb/menu.html" %}
        </div>

        <div id="header">
            {% include "chlamdb/user.html" %}
        </div>

        <div id="content">



            <nav>
                <ul id="tabs_main" class="nav nav-tabs">
                    <li class="active"><a href="{% url 'extract_orthogroup' biodb %}">Detailed comparison</a></li>
                    <li><a href="{% url 'venn_orthogroup' biodb %}">Venn diagram</a></li>
                    <li><a href="{% url 'orthogroup_comparison' biodb %}">Compare Orthogroups size</a></li>
                    <li><a href="{% url 'plot_heatmap' biodb 'orthology' %}">Whole proteomes heatmaps</a></li>
                    <li><a href="{% url 'pan_genome' biodb 'orthology' %}">Pan/Core genome plots</a></li>
                </ul>
            </nav>

                     <div id="extract_form">
                        <form action="{% url "extract_orthogroup" biodb %}" method="post">


                        <div class="panel panel-success" style="width:80%; top: 200px; margin: 10px 10px 10px 10px">
                            <div class="panel-heading" style="width:100%">
                                <h3 class="panel-title">Help</h3>
                            </div>
                            <p style="margin: 10px 10px 10px 10px; line-height: 180%">Get list of proteins shared between genomes selected in panel A and absent in genomes of panel B. Clustering based on BLAST usting orthoFinder.
                            Reference: one of the genome in panel A can be chosen as reference for display the result orthogroup list on a circular map of the genome. Click on "show on circular map" to generate the circos map. Corresponding locus are highlighted in pink. <br>
                            Missing data: if more than one panel A genome (include) is selected, possibility to tolerate missing data in 1 up to 10 genomes (in order to get orthogroup present in at least x out of the y genomes selected in panel A).</p>
</p>
                        </div>
                        <!--
                        <div style="position: absolute;margin-top:10%; margin-left: 33%;">
                            <div style="height:40px;margin-left: 180px;width:280px;border: 2px solid #8AC007; border-radius: 15px;">
                                <div style="width: 100%; float: left; margin-left: 10px;margin-top:3px">
                                    <p>Consider single copy groups only</p>
                                </div >

                                <div style="height: 40px; margin-left: 180px;margin-top:3px;">
                                    <label class="switch-light well" onclick="" style="margin: 5px 0px 0px 0px; padding: 0 0 0 0; position: absolute">
                                        <input type="checkbox" style="padding: 0 0px 0 0" id="button_single_copy" name="button_single_copy">
                                        <span>
                                        <span>Off</span>
                                        <span>On</span>
                                        </span>
                                        <a class="btn btn-success btn-xs"></a>
                                    </label>
                                </div>
                            </div>
                        </div>
                        -->
                        <div class="form-inline">
                            <div class="form-group">
                                 <div class="col-md-11" style="width: 100%;">
                                      <label style="width:380px;text-align:left;" >
                                          <input type="checkbox" id="checkbox_accessions" name="checkbox_accessions">
                                          Distinguish plasmids from chromosomes
                                      </label>

                                      <label style="width:380px;text-align:left;">
                                          <input id="checkbox_single_copy" value="checkbox_single_copy" name="checkbox_single_copy" type="checkbox">
                                          Single copy orthogroups only
                                      </label>
                                </div>
                            </div>
                        </div>
                        <div style="width: 100%; overflow: hidden;">
                            <div style="width: 20%; float: left;margin-left: 5%;"> A </div>
                            <div style="margin-left: 5%;float:left;"> B </div>
                        </div>
                        {% csrf_token %}
                        {{ form.as_p }}

                         <label style="position:absolute;margin-left:1%;width:20%;margin-top: 8px;">Missing data (optional)</label>
                         <label style="position:absolute;margin-left:1%;width:20%;margin-top: 50px">Reference genome (optional)</label>
                         <input type="submit" name="comparison" value="Compare orthogroups" id="extract_button" />
                         </form>
                    </div>

            {% if wrong_n_missing%}

            <div class="panel panel-warning" style="width:500px ; top: 200px; margin: 10px 10px 10px 10px">
                <div class="panel-heading" style="width:100%">
                    <h3 class="panel-title">Help</h3>
                </div>
                <p style="margin: 10px 10px 10px 10px">You cannot set a number of missing data bigger than the number of included genomes</p>
            </div>

            {% elif no_match%}

            <div class="panel panel-warning" style="width:500px ; top: 200px; margin: 10px 10px 10px 10px">
                <div class="panel-heading" style="width:100%">
                    <h3 class="panel-title"></h3>
                </div>
                <p style="margin: 10px 10px 10px 10px">No match</p>
            </div>

            {% endif %}

            {% if envoi_extract %}

                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                    <li class="active"><a href="#red" data-toggle="tab">Orthogroups</a></li>
                    <li><a href="#orange" data-toggle="tab">Table detail</a></li>
                    {% if show_reference_annot %}
                        <li><a href="#tab2" data-toggle="tab">Locus list reference</a></li>
                    {% endif %}
                </ul>

                <div id="my-tab-content" class="tab-content">

                    <div class="tab-pane active" id="red">


                        <div id="export_bouttons_groups">
                            <a download="biodb_extract.xls" href="#" onclick="return ExcellentExport.excel(this, 'table_groups', 'search');" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;">Export to Excel</a>

                            <a download="biodb_extract.csv" href="#" onclick="return ExcellentExport.csv(this, 'table_groups');" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;"">Export to CSV</a>
                            <a href="{% url 'get_fasta' biodb %}{{fasta_url_noref}}" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;"">Download fasta</a>
                            <a href="{% url 'circos_main' biodb %}{{circos_url}}" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;"">Show on circular map (takes some time)</a>
                            <a href="{% url 'orthogroup_list_cog_barchart' biodb accessions%}{{circos_url}}" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;"">Show cog categories of orthogroup subset vs all orthogroups</a>

                            <br/>
                        </div>

                        <p>Number of orthogroups: {{ sum_group }} </p>

                        <table class="sortable" id="table_groups">

                            <thead>
                                <tr>
                                <th></th>
                                <th id="entete_locus">Orthogroup</th>
                                <th>Genes</th>
                                <th>Products</th>
                                <th>Cogs</th>
                                <th>Pfam</th>
                                <th>present in (/{{include|length}})</th>
                                <th>freq complete database {{max_n}}</th>
                                </tr>
                            </thead>

                            {% for value in match_groups_data %}
                                <tr>
                                    <td>{{value.0}}</td>
                                    <td><a href="{% url 'locusx' biodb value.1 True%}">{{value.1}}</a></td>
                                    <td>{{value.2|safe}}</td>
                                    <td>{{value.3|safe}}</td>
                                    <td>{{value.4|safe}}</td>
                                    <td>{{value.5|safe}}</td>
                                    <td>{{orthogroup2count|keyvalue:value.1}}</td>
                                    <td>{{orthogroup2count_all|keyvalue:value.1}}</td>
                                </tr>
                            {% endfor %}


                        </table>


                    </div>
                    <div class="tab-pane" id="orange">
                            <div id="export_bouttons_groups">
                                <a download="biodb_extract.xls" href="#" onclick="return ExcellentExport.excel(this, 'datatable', 'search');" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;">Export to Excel</a>

                                <a download="biodb_extract.csv" href="#" onclick="return ExcellentExport.csv(this, 'datatable');" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;"">Export to CSV</a>

                                {% if show_reference_annot %}
                                <button type="button" class="btn btn-primary btn-xs" onclick="location.href='/chlamdb/fasta/{{biodb}}{{fasta_ref_url|safe}}'">fasta aa</button>
                                {% endif %}
                                  <br/>
                            </div>


                            <p>Number of orthogroups: {{ sum_group }} </p>

                            <table class="sortable" id="datatable">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th id="entete_locus">Orthogroup</th>
                                        <th id="entete_locus" >Locus</th>
                                        <th id="entete_locus" >Protein id</th>
                                        <th id="entete_gene" >Start</th>
                                        <th id="entete_gene" >Stop</th>
                                        <th id="entete_strand" >S.</th>
                                        <th id="entete_gene" >Gene</th>
                                        <th id="entete_n" >nH</th>
                                        <th id="entete_n" >nG</th>
                                        <th id="entete_n" >TM</th>
                                        <th id="entete_n" >SP</th>
                                        <th id="entete_product" >Product</th>
                                        <th id="entete_organism" >Organism</th>
                                        <th id="entete_translation" >Translation</th>
                                    </tr>
                                </thead>
                                <tbody>


                                    {% for values in extract_result %}
                                        <tr>
                                            <td>{{values.0}}</td>
                                            <td><a href="{% url 'locusx' biodb values.1 True %}"  target="_top">{{values.1}}</a></td>
                                            <td>{{values.2}}</td>
                                            <td>{{values.3}}</td>
                                            <td>{{values.4}}</td>
                                            <td>{{values.5}}</td>
                                            <td>{{values.6}}</td>
                                            <td>{{values.7}}</td>
                                            <td>{{values.8}}</td>
                                            <td>{{values.9}}</td>
                                            <td>{{values.10}}</td>
                                            <td>{{values.11}}</td>
                                            <td>{{values.12}}</td>
                                            <td>{{values.13}}</td>
                                            <td>{{values.14}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                    </div>
                    <div class="tab-pane" id="tab2">

                        <h3> Locus annotation </h3>
                        <div id="export_bouttons_groups">
                            <a download="biodb_extract.xls" href="#" onclick="return ExcellentExport.excel(this, 'cog_table', 'search');" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;">Export to Excel</a>
                            <a href="{% url 'get_fasta' biodb %}{{fasta_url_ref}}" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;"">Download fasta</a>
                            <a download="biodb_extract.csv" href="#" onclick="return ExcellentExport.csv(this, 'cog_table');" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;"">Export to CSV</a>
                            <a href="{% url 'circos_main' biodb %}{{circos_url}}" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;"">Show on circular map (takes some time)</a>

                            <br/>
                        </div>
                        <table id="cog_table" class="sortable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th id="entete_locus">Orthogroup</th>
                                    <th id="entete_locus">Locus</th>
                                    <th style="width:10px">C</th>
                                    <th style="width:70px">COGn</th>
                                    <th style="width:55px">KO</th>
                                    <th style="width:260px">Pathways</th>
                                    <th style="width:230px">Modules</th>
                                    <th style="width:230px">Interpro</th>
                                    <th id="entete_gene">Gene</th>
                                    <th id="entete_n">nH</th>
                                    <th id="entete_n">nG</th>
                                    <th id="entete_n">TM</th>
                                    <th id="entete_n">SP</th>
                                    <th id="entete_product">Product</th>


                                </tr>
                            </thead>
                            <tbody>

                                {%for values in locus2annot%}
                                <tr>
                                    <td>{{values.0}}</td>
                                    <td>{{values.1}}</td>
                                    <td><a href="{% url 'locusx' biodb values.2 True %}" target="_top">{{values.2}}</a></td>
                                    <td><a href="http://www.ncbi.nlm.nih.gov/protein/{{values.3}}" target="_top">{{locus_tag2cog_catego|keyvalue:values.2}}</a></td>
                                    {% with locus_tag2cog_name|keyvalue:values.2 as name %}
                                        {% if name == '-' %}
                                            <td>{{locus_tag2cog_name|keyvalue:values.2}}</td>
                                        {% else %}
                                            <td><a href="{% url "fam" biodb name 'cog'%}" target="_top">{{locus_tag2cog_name|keyvalue:values.2}}</a></td>
                                        {% endif %}
                                    {%endwith%}
                                    {% with locus_tag2ko|keyvalue:values.2 as oneko %}
                                        {% if oneko == '-' %}
                                            <td>{{locus_tag2ko|keyvalue:values.2}}</td>
                                            <td>-</td>
                                            <td>-</td>
                                        {% else %}
                                            <td><a href="{% url "fam" biodb oneko 'ko'%}" target="_top">{{locus_tag2ko|keyvalue:values.2}}</a></td>
                                            {% with ko2ko_pathways|keyvalue:oneko as name %}
                                                {% if name == '-' %}
                                                    <td>-</td>
                                                {% else %}
                                                    <td>{{name|safe}}</td>
                                                {% endif %}
                                            {%endwith%}
                                            {% with ko2ko_modules|keyvalue:oneko as name %}
                                                {% if name == '-' %}
                                                    <td>-</td>
                                                {% else %}
                                                    <td>{{name|safe}}</td>
                                                {% endif %}
                                            {%endwith%}
                                        {% endif %}


                                    {%endwith%}
                                    {% with locus2interpro|keyvalue:values.2 as interpro_data %}
                                    <td>
                                        {% for one_interpro in interpro_data %}
                                        {% if one_interpro.0 != '-' %}
                                            <a href="{% url 'fam' biodb one_interpro.0 'interpro' %}" target="_top">{{one_interpro.0}}</a> /
                                        {%else%}
                                            {{one_interpro.0}}
                                        {%endif%}
                                            {{one_interpro.1}} </br>
                                        {% endfor %}
                                        {%endwith%}
                                    </td>
                                    <td>{{values.7}}</td>
                                    <td>{{values.8}}</td>
                                    <td>{{values.9}}</td>
                                    <td>{{values.10}}</td>
                                    <td>{{values.11}}</td>
                                    <td>{{values.12}}</td>

                                </tr>

                                {%endfor%}
                            </tbody>
                        </table>



                    </div>

                </div>
            {% else %}
                </div>
            {% endif %}
        </div>
    </div>



    <div id="footer">

    </div>
    {% include "chlamdb/show_hide_plasmid_accessions.html" %}
    </body>
</html>
