<!DOCTYPE html>


<html>
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery.chained.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tableExport.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.base64.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>-->
<script type="text/javascript" src="{% static 'js/sorttable.js' %}"></script>
<script type="text/javascript" src="{% static 'js/excellentexport.js' %}"></script>

<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/jvenn.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>

<script type="text/javascript" src="{% static 'js/bootstrap-switch.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/toggle-switch.css' %}" />
<script type="text/javascript" src="{% static 'js/downloadSVG.js' %}"></script>

        {% load custom_tags %}
        {% load crispy_forms_tags %}
        <script type="text/javascript" id="js">
            $(document).ready(function() {
            // call the tablesorter plugin
            $("table").tablesorter({
            // change the default sorting order from 'asc' to 'desc'
            sortInitialOrder: 1
            });
            });
        </script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $('#tabs_main').tab();
            });
        </script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $('#tabs1').tab();
            });
        </script>
    {% include "chlamdb/header.html" %}
    </head>

    <div class="container-fluid" id="main_container">
      <div class="row">
        <div id="wrapper">
          <div id="page-content-wrapper">
            <div class="row">
              <div class="col-lg-12">
                {% include "chlamdb/menu.html" %}
                <div class="home-title"><b> COGs </b></div>
                <hr class="lines-home">

                <nav>
                    <ul id="tabs_main" class="nav nav-tabs">
                        <li class="active"><a href="{% url 'extract_cog' %}">Detailed comparison</a></li>
                        <li><a href="{% url 'venn_cog' %}">Venn diagram</a></li>
                        <li><a href="{% url 'cog_barchart' %}">COG categories barchart</a></li>
                        <li><a href="{% url 'COG_phylo_heatmap' True %}">COG heatmap freq.</a></li>
                        <li><a href="{% url 'COG_phylo_heatmap' False %}">COG heatmap counts</a></li>
                        <li><a href="{% url 'plot_heatmap' 'COG' %}">Whole proteomes heatmaps</a></li>
                        <li><a href="{% url 'pan_genome' 'COG' %}">Pan/Core genome plots</a></li>
                    </ul>
                </nav>

               <div id="extract_form">

                  <div class="panel panel-success" style="width:80% ; top: 200px; margin: 10px 10px 10px 10px">
                      <div class="panel-heading" style="width:100%">
                          <h3 class="panel-title">Help</h3>
                      </div>
                      <p style="margin: 10px 10px 10px 10px; line-height: 160%">Get list of COGs shared between genomes selected in panel A and absent in genomes of panel B. COG annotation based on the annotation of the best blast hit against the COG 2014 database. <br>
                      Reference: one of the genome in panel A can be chosen as refence for display the result COG list on a circular map of the genome. Click on "show on circular map" to generate the circos map. <br>
                      Missing data: if more than one panel A genome (include) is selected, possibility to tolerate missing data in 1 up to 10 genomes (in order to get COG present in at least x out of the y genomes selected in panel A).
                      </p>
                  </div>

                  {% block content %}
                  <form action="{% url "extract_cog" %}" method="post">
                      {% csrf_token %}
                      {% crispy form %}
                  </form>
                  {% endblock %}
              </div>

                {% if wrong_n_missing%}

                <div class="panel panel-warning" style="width:500px ; top: 200px; margin: 10px 10px 10px 10px">
                    <div class="panel-heading" style="width:100%">
                        <h3 class="panel-title">Help</h3>
                    </div>
                    <p style="margin: 10px 10px 10px 10px">You cannot set a number of missing data bigger than the number of included genomes</p>
                </div>

                {% elif no_match%}

                <div class="panel panel-warning" style="width:500px ; top: 200px; margin: 10px 10px 10px 10px">
                    <div class="panel-heading" style="width:100%">
                        <h3 class="panel-title"></h3>
                    </div>
                    <p style="margin: 10px 10px 10px 10px">No match</p>
                </div>

                {% endif %}


                {% if envoi_extract %}

                    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                        <li class="active"><a href="#red" data-toggle="tab">COGs</a></li>
						<li><a data-toggle="tab" href="#tab66">COG categories barchart</a></li>
                        <li><a href="#tab2" data-toggle="tab">Locus list reference</a></li>
                    </ul>

                    <div id="my-tab-content" class="tab-content">

                        <div class="tab-pane active" id="red">


                            <ul style="list-style-type:square">
                             <div style="padding-top:10px">

                                <table class="table" style="width:600px">
                                    <tr>
                                        <th>Number of included genomes</th>
                                        <td> {{ include|length }} </td>
                                    </tr>

                                    <tr>
                                        <th>Number of excluded genomes</th>
                                        <td> {{ exclude|length }} </td>
                                    </tr>

                                     <tr>
                                        <th>Number of accepted missing data</th>
                                        <td> {{ n_missing }} </td>
                                    </tr>
                                      <tr>
                                        <th>Number of COGs identified</th>
                                        <td> {{ sum_group }}  </td>
                                    </tr>
 
                                </table>


                                <table class="display" id="cog_table">

                                    <thead>
                                        <tr>
                                            <th>COG</th>
                                            <th>Category</th>
                                            <th>Name</th>
                                            <th>present in (/{{include|length}})</th>
                                            <th>freq complete database (max: {{max_n}})</th>
                                        </tr>
                                    </thead>

                                    {% for value in cog_data %}
                                        <tr>
                                            <td><a href="{% url 'fam_cog' value.0 %}">{{value.0}}</a></td>
                                            <td>{{value.1|safe}}</td>
                                            <td>{{value.2}}</td>
                                            <td>{{value.3}}</td>
                                            <td>{{value.4}}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>

                        </div>

                        <div class="tab-pane" id="orange">
                            <object type="image/svg+xml" data="{% static asset_path %}" id="cog_tree"></object>
                        </div>

						<div class="tab-pane" id="tab66">
						<div id="content">

							<div class="panel panel-success" style="width:80%; top: 200px; margin: 10px 10px 10px 10px">
								<div class="panel-heading" style="width:100%">
									<h3 class="panel-title">Help</h3>
								</div>
								<p style="margin: 10px 10px 10px 10px">COGs selection versus all COGs in all selected genomes<br>
								</p>
							</div>

							<ol>
								<li> number of cog selected: {{match_groups_subset|length}} => counts in categories: {{total_subset}}</li>
								<li> number of COGs in all selected genomes: {{match_groups|length}} => counts in categories: {{total_all_include}} </li>
								<li> number of allowed missing data: {{n_missing}} out of a total of {{include|length}} genomes </li>
							</ol>


							<style>

							/*
							.chart rect {
							  fill: steelblue;
							}
							*/
							.chart .legend {
							  fill: black;
							  font: 14px sans-serif;
							  text-anchor: start;
							  font-size: 12px;
							}

							.chart text {
							  fill: black;
							  font: 10px sans-serif;
							  text-anchor: end;
							}

							.chart .label:hover {
							  fill: red;
							}

							.chart .label {
							  fill: black;
							  font: 10px sans-serif;
							  text-anchor: end;
							}


							.bar:hover {
							  fill: brown;
							}

							.axis path,
							.axis line {
							  fill: none;
							  stroke: #000;
							  shape-rendering: crispEdges;
							}


							</style>


							<div id="mydiv" style="float: left"></div>
							<svg class="chart"></svg>

							<script src="http://d3js.org/d3.v3.min.js"></script>
							<script>

							var data = {
							  labels: {{labels|safe}},
							  series: {{series|safe}}
							};

							{{category_map|safe}}
							{{category_count_complete|safe}}

							var chartWidth       = 380,
								barHeight        = 10,
								groupHeight      = barHeight * data.series.length,
								gapBetweenGroups = 10,
								spaceForLabels   = 370,
								spaceForLegend   = 180;

							// Zip the series data together (first values, second values, etc.)
							var zippedData = [];
							for (var i=0; i<data.labels.length; i++) {
							  for (var j=0; j<data.series.length; j++) {
								zippedData.push(data.series[j].values[i]);
							  }
							}

							// Color scale
							var color = d3.scale.category20();
							var chartHeight = barHeight * zippedData.length + gapBetweenGroups * data.labels.length;

							var x = d3.scale.linear()
								.domain([0, d3.max(zippedData)])
								.range([0, chartWidth]);

							var y = d3.scale.linear()
								.range([chartHeight + gapBetweenGroups, 0]);

							var yAxis = d3.svg.axis()
								.scale(y)
								.tickFormat('')
								.tickSize(0)
								.orient("left");

							// Specify the chart area and dimensions
							var chart = d3.select(".chart")
								.attr("width", spaceForLabels + chartWidth + spaceForLegend)
								.attr("height", chartHeight);

							// Create bars
							var bar = chart.selectAll("g")
								.data(zippedData)
								.enter().append("g")
								.attr("transform", function(d, i) {
								  return "translate(" + spaceForLabels + "," + (i * barHeight + gapBetweenGroups * (0.5 + Math.floor(i/data.series.length))) + ")";
								}
								)
								 //   Math.floor(i/data.series.length)
								.attr("taxon_id", function(d,i) { return (i % data.series.length) ; })
								.attr("category_id", function(d,i) { return (Math.floor(i/data.series.length)) ; });


							// Create rectangles of the correct width
							bar.append("rect")
								.attr("fill", function(d,i) { return color(i % data.series.length); })
								.attr("class", "bar")
								.attr("width", x)
								.attr("height", barHeight - 1)
								.on("click",drill);


							// Add text label in bar
							bar.append("text")
								.attr("x", function(d) { return x(0); })
								.attr("y", barHeight / 2)
								.attr("fill", "red")
								.attr("dy", ".35em")
								.text(function(d) { return d; });

							bar.append("text")
								.attr("x", function(d) { return x(d); })
								.attr("y", barHeight / 2)
								.attr("fill", "red")
								.attr("dy", ".35em")
								.text(function(d, i) { return category_count_complete[data.labels[Math.floor(i/data.series.length)]][i % data.series.length]; }); // category_count_complete[data.labels[Math.floor(i/data.series.length)]]

							// Draw labels
							bar.append("text")
								.attr("class", "label")
								.attr("x", function(d) { return - 40; })
								.attr("y", groupHeight / 2)
								.attr("dy", ".35em")
								.text(function(d,i) {
								  if (i % data.series.length === 0)
									return (category_description[data.labels[Math.floor(i/data.series.length)]] + " (" +data.labels[Math.floor(i/data.series.length)] + ")");
								  else
									return ""});

							function drill(d, i) {

								var category = data.labels[d3.select(this.parentNode).attr("category_id")]; //data object
								console.log(category);
								window.open("/chlamdb/get_cog_multiple/" + category + "/{{accessions}}/{{taxons_in_url|safe}}" + "{{taxon_out_url|safe}}");
							}

							chart.append("g")
								  .attr("class", "y axis")
								  .attr("transform", "translate(" + spaceForLabels + ", " + -gapBetweenGroups/2 + ")")
								  .call(yAxis);

							// Draw legend
							var legendRectSize = 18,
								legendSpacing  = 4;

							var legend = chart.selectAll('.legend')
								.data(data.series)
								.enter()
								.append('g')
								.attr('transform', function (d, i) {
									var height = legendRectSize + legendSpacing;
									var offset = -gapBetweenGroups/2;
									var horz = spaceForLabels + chartWidth + 40 - legendRectSize;
									var vert = i * height - offset;
									return 'translate(' + horz + ',' + vert + ')';
								});

							legend.append('rect')
								.attr('width', legendRectSize)
								.attr('height', legendRectSize)
								.style('fill', function (d, i) { return color(i); })
								.style('stroke', function (d, i) { return color(i); });

							legend.append('text')
								.attr('class', 'legend')
								.attr('x', legendRectSize + legendSpacing)
								.attr('y', legendRectSize - legendSpacing)
								.text(function (d) { return d.labels; });

							d3.select("#mydiv").append("button")
									.attr("type","button")
									.attr("class", "btn btn-primary btn-sm")
									.text("Download SVG")
									.on("click", function() {
										// download the svg
										downloadSVG();
									});

							</script>
						</div>


						</div>

                        <div class="tab-pane" id="tab2">

                            <h3> Locus annotation </h3>
                            <div id="export_bouttons_groups">
                                <a href="{% url 'get_fasta' %}{{fasta_url_ref}}" class="btn btn-success">Download fasta</a>
                                <form name="circos_form" id="circos_form" action="{% url 'circos_main' %}" method="post">
                                    <input type="hidden" name="reference_taxon" value="{{ reference_taxon }}">
                                    <input type="hidden" name="target_list" value="{{ target_circos_taxons }}">
                                    <input type="hidden" name="highlight" value="{{ locus_list }}">
                                    <button class="btn btn-success">Show on circular map</button>
                                </form>
                                <br/>
                            </div>
                            <div style="padding-top:20px">
                                <table id="table_reference_genome" class="display">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Orthogroup</th>
                                            <th>Locus</th>
                                            <th>C</th>
                                            <th>COGn</th>
                                            <th>KO</th>
                                            <th>Pathways</th>
                                            <th>Modules</th>
                                            <th>Interpro</th>
                                            <th>Gene</th>
                                            <th>nH</th>
                                            <th>nG</th>
                                            <th>TM</th>
                                            <th>SP</th>
                                            <th>Product</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {%for values in locus2annot%}
                                        <tr>
                                            <td>{{values.0}}</td>
                                            <td>{{values.1}}</td>
                                            <td><a href="{% url 'locusx' values.2 True %}" target="_top">{{values.2}}</a></td>
                                            <td><a href="{% url 'fam' values.2 'cog' %}" target="_top">{{locus_tag2cog_catego|keyvalue:values.2}}</a></td>
                                            {% with locus_tag2cog_name|keyvalue:values.2 as name %}
                                                {% if name == '-' %}
                                                    <td>{{locus_tag2cog_name|keyvalue:values.2}}</td>
                                                {% else %}
                                                    <td><a href="{% url "fam" name 'cog'%}" target="_top">{{locus_tag2cog_name|keyvalue:values.2}}</a></td>
                                                {% endif %}
                                            {%endwith%}
                                            {% with locus_tag2ko|keyvalue:values.2 as oneko %}
                                                {% if oneko == '-' %}
                                                    <td>{{locus_tag2ko|keyvalue:values.2}}</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                {% else %}
                                                    <td><a href="{% url "fam" oneko 'ko'%}" target="_top">{{locus_tag2ko|keyvalue:values.2}}</a></td>
                                                    {% with ko2ko_pathways|keyvalue:oneko as name %}
                                                        {% if name == '-' %}
                                                            <td>-</td>
                                                        {% else %}
                                                            <td>{{name|safe}}</td>
                                                        {% endif %}
                                                    {%endwith%}
                                                    {% with ko2ko_modules|keyvalue:oneko as name %}
                                                        {% if name == '-' %}
                                                            <td>-</td>
                                                        {% else %}
                                                            <td>{{name|safe}}</td>
                                                        {% endif %}
                                                    {%endwith%}
                                                {% endif %}


                                            {%endwith%}
                                            {% with locus2interpro|keyvalue:values.2 as interpro_data %}
                                            <td>
                                                {% for one_interpro in interpro_data %}
                                                {% if one_interpro.0 != '-' %}
                                                    <a href="{% url 'fam' one_interpro.0 'interpro' %}" target="_top">{{one_interpro.0}}</a> /
                                                {%else%}
                                                    {{one_interpro.0}}
                                                {%endif%}
                                                    {{one_interpro.1}} </br>
                                                {% endfor %}
                                                {%endwith%}
                                            </td>
                                            <td>{{values.7}}</td>
                                            <td>{{values.8}}</td>
                                            <td>{{values.9}}</td>
                                            <td>{{values.10}}</td>
                                            <td>{{values.11}}</td>
                                            <td>{{values.12}}</td>

                                        </tr>

                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>


                        </div>




                    </div>
                {% endif %}
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "chlamdb/style_menu.html" %}
{% include "chlamdb/show_hide_plasmid_accessions.html" %}
<style>
#div_id_checkbox_single_copy{
  display: none;
}
</style>

<script>
$(document).ready(function() {
$('#cog_table').DataTable( {
	 dom: 'Bfrtip',   
	"paging":   true,
	"ordering": true,
	"info":     false,
	buttons: [{ extend: 'excel', title: 'cog_table'},
			  {extend: 'csv', title: 'cog_table'}]});
});

$(document).ready(function() {
$('#table_reference_genome').DataTable( {
 dom: 'Bfrtip',   
"paging":   true,
"ordering": true,
"info":     false,
buttons: [
{
    extend: 'excel',
    title: 'reference_genome_locus_list'
},
{
    extend: 'csv',
    title: 'reference_genome_locus_list'
}
],
} );
} );



</script>
</html>
