<!DOCTYPE html>


<html>
    <head>
        {% load static %}
        <script type="text/javascript" id="js">
            $(document).ready(function() {
            // call the tablesorter plugin
            $("table").tablesorter({
            // change the default sorting order from 'asc' to 'desc'
            sortInitialOrder: 1
            });
            });
        </script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $('#tabs_main').tab();
            });
        </script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $('#tabs1').tab();
            });
        </script>
    </head>


    <div id="container">


        <div id="sidebar">
            {% include "chlamdb/menu.html" %}
        </div>

        <div id="header">
            {% include "chlamdb/user.html" %}
        </div>

        <div id="content">



            <nav>
                <ul id="tabs_main" class="nav nav-tabs">
                    <li class="active"><a href="{% url 'extract_cog' biodb %}">Detailed comparison</a></li>
                    <li><a href="{% url 'venn_cog' biodb %}">Venn diagram</a></li>
                </ul>
            </nav>

                     <div id="extract_form">
                        <form action="{% url "chlamdb.views.extract_cog" biodb %}" method="post">


                        <div class="panel panel-success" style="width:80% ; top: 200px; margin: 10px 10px 10px 10px">
                            <div class="panel-heading" style="width:100%">
                                <h3 class="panel-title">Help</h3>
                            </div>
                            <p style="margin: 10px 10px 10px 10px; line-height: 160%">Get list of Interpro entries shared between genomes selected in panel A and absent in genomes of panel B. COG annotation based on the annotation of the best blast hit against the COG 2014 database. <br>
                            Reference: one of the genome in panel A can be chosen as refence for display the result Interpro list on a circular map of the genome. Click on "show on circular map" to generate the circos map. <br>
                            Missing data: if more than one panel A genome (include) is selected, possibility to tolerate missing data in 1 up to 10 genomes (in order to get Interpro present in at least x out of the y genomes selected in panel A).
                            </p>
                        </div>


                        <div style="width: 100%; overflow: hidden;">
                            <div style="width: 20%; float: left;margin-left: 5%;"> A </div>
                            <div style="margin-left: 5%;float:left;"> B </div>
                        </div>

                        {% csrf_token %}
                        {{ form.as_p }}
                         <label style="position:absolute;margin-left:1%;width:20%;margin-top: 8px;">Missing data (optional)</label>
                         <label style="position:absolute;margin-left:1%;width:20%;margin-top: 50px">Reference genome (optional)</label>
                         <input type="submit" name="comparison" value="Compare COGs" id="extract_button" />
                         </form>
                    </div>


            {% if wrong_n_missing%}

            <div class="panel panel-warning" style="width:500px ; top: 200px; margin: 10px 10px 10px 10px">
                <div class="panel-heading" style="width:100%">
                    <h3 class="panel-title">Help</h3>
                </div>
                <p style="margin: 10px 10px 10px 10px">You cannot set a number of missing data bigger than the number of included genomes</p>
            </div>

            {% elif no_match%}

            <div class="panel panel-warning" style="width:500px ; top: 200px; margin: 10px 10px 10px 10px">
                <div class="panel-heading" style="width:100%">
                    <h3 class="panel-title"></h3>
                </div>
                <p style="margin: 10px 10px 10px 10px">No match</p>
            </div>

            {% endif %}


            {% if envoi_extract %}

                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                    <li class="active"><a href="#red" data-toggle="tab">COGs</a></li>
                    <li><a href="#orange" data-toggle="tab">Phylogenetic profile</a></li>
                </ul>

                <div id="my-tab-content" class="tab-content">

                    <div class="tab-pane active" id="red">


                        <div id="export_bouttons_groups">
                            <a download="biodb_extract.xls" href="#" onclick="return ExcellentExport.excel(this, 'table_groups', 'search');" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;">Export to Excel</a>

                            <a download="biodb_extract.csv" href="#" onclick="return ExcellentExport.csv(this, 'table_groups');" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;"">Export to CSV</a>
                           <a href="{% url 'circos_main' biodb %}{{circos_url}}" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;"">Show on circular map (takes some time)</a>


                            <br/>
                        </div>
                        <ul style="list-style-type:square">

                        <li>Number of included genomes: {{ include|length }} </li>
                        <li>Number of excluded genomes: {{ exclude|length }} </li>
                        <li>Number of accepted missing data: {{ n_missing }} </li>
                            <li>Number of COGs identified: {{ sum_group }} </li>
                        </ul>
                        <table class="sortable" id="table_groups">

                            <thead>
                                <tr>
                                    <th>COG</th>
                                    <th>Category</th>
                                    <th>Name</th>
                                    <th>present in (/{{include|length}})</th>
                                    <th>freq complete database {{max_n}}</th>
                                </tr>
                            </thead>

                            {% for value in cog_data %}
                                <tr>
                                    <td><a href="{% url 'fam' biodb value.0 'cog' %}">{{value.0}}</a></td>
                                    <td>{{value.1}}</td>
                                    <td>{{value.2}}</td>
                                    <td>{{value.3}}</td>
                                    <td>{{value.4}}</td>
                                </tr>
                            {% endfor %}
                        </table>


                    </div>

                    <div class="tab-pane" id="orange">
                        <object type="image/svg+xml" data="{% static asset_path %}" id="cog_tree"></object>
                    </div>


                </div>
            {% endif %}
        </div>
    </div>



    <div id="footer">

    </div>
              <script type="text/javascript" id="js2">
                $(document).ready(function() {

                    var x=document.getElementById("id_reference");
                    for (var i = 0; i < x.options.length; i++) {
                        $("#id_reference").children("option[value^=" + x.options[i].value + "]").hide()
                    }

                    $("#id_orthologs_in").change(function() {
                        document.getElementById("id_reference").selectedIndex=0;
                        var x=document.getElementById("id_orthologs_in");
                        for (var i = 0; i < x.options.length; i++) {
                            if(x.options[i].selected ==true){

                            $("#id_reference").children("option[value^=" + x.options[i].value + "]").show()
                            }else{
                            $("#id_reference").children("option[value^=" + x.options[i].value + "]").hide()

                            }
                            }
                    })

                })
          </script>
    </body>
</html>
