
<!DOCTYPE html>


<html>

<head>

<meta name="description" content="A comparative genomics database of the phylum Chlamydiae and other PVC (Planctomycetes, Verrucomicrobia, Lentisphaerae).">
   <link rel= "stylesheet" href="style_home.css">
    {% load static %}
    {% load custom_tags %}
    {% include "chlamdb/header.html" %}
    {% include "chlamdb/style_menu.html" %}
 
</head>

<body>
    <div class="container-fluid" id="main_container">
      <div class="row">
        <div id="wrapper">
            <div id="page-content-wrapper">
              <div class="row">
                <div class="col-lg-12">
                   {% include "chlamdb/menu.html" %}

        <div class="home-title"><b> Table of content: Genomes </b></div>
        <hr class="lines-home">


          <div class="tab-pane" id="genomes">
                            
                          <table class="display" id="genomes_table">
                            <thead>


                                <tr>
                {% for header in data_table_header %}
                <th>{{header}}</th>
                {% endfor %}

                                </tr>
                            </thead>
                            <tbody>
                              {% for entry in data_table %}
                                <tr>
                                  <td><a href="{% url 'extract_contigs' entry.0  %}">{{entry.1}}</a></td>
                                  <td>{{entry.2}}</td>
                                  <td>{{entry.3}}</td>
                                  <td>{{entry.4}}</td>
                                  <td>{{entry.5}}</td>
                                  <td>{{entry.6}}</td>
                                  <td>{{entry.7}}</td>
                                  <td><a href="{% static  entry.8 %}"> .faa </a></td>
                                  <td><a href="{% static  entry.9 %}"> .fna </a></td>
                                  <td><a href="{% static  entry.10 %}"> .ffn </a></td>
                                  <td><a href="{% static  entry.11 %}"> .gbk </a></td>
                                </tr>
                              {% endfor %}
                              </tbody>
                        </table>        
           </div>

<script>

$(document).ready(function() {
$("#genomes_table").DataTable();} );
</script>
</html>