<!DOCTYPE html>


<html>
    <head>
        <script type="text/javascript" id="js">
            $(document).ready(function() {
            // call the tablesorter plugin
            $("table").tablesorter({
            // change the default sorting order from 'asc' to 'desc'
            sortInitialOrder: 1
            });
            });
        </script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $('#tabs_main').tab();
            });
        </script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $('#tabs1').tab();
            });
        </script>
    </head>


    <div id="container">


        <div id="sidebar">
            {% include "chlamdb/menu.html" %}
        </div>

        <div id="header">
            {% include "chlamdb/user.html" %}
        </div>

        <div id="content">



            <nav>
                <ul id="tabs_main" class="nav nav-tabs">
                    <li class="active"><a href="{% url 'extract_interpro' biodb %}">Detailed comparison</a></li>
                    <li><a href="{% url 'venn_interpro' biodb %}">Venn diagram</a></li>
                </ul>
            </nav>

                     <div id="extract_form">
                        <form action="{% url "chlamdb.views.extract_interpro" biodb %}" method="post">


                        <div class="panel panel-success" style="width:80% ; top: 200px; margin: 10px 10px 10px 10px">
                            <div class="panel-heading" style="width:100%">
                                <h3 class="panel-title">Help</h3>
                            </div>
                            <p style="margin: 10px 10px 10px 10px">Get list of Interpro entries shared between genomes selected in panel A and absent in genomes of panel B</p>
                        </div>


                        <p id="extract_panel_A">
                            A
                        </p>
                        <p id="extract_panel_B">
                            B
                        </p>

                        {% csrf_token %}
                        {{ form.as_p }}
                         <input type="submit" name="comparison" value="Compare Interpro Accessions" id="extract_button" />
                         </form>
                    </div>



            {% if envoi_extract %}

                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                    <li class="active"><a href="#red" data-toggle="tab">Orthogroups</a></li>
                    <li><a href="#orange" data-toggle="tab">Phylogenetic Profile</a></li>
                </ul>

                <div id="my-tab-content" class="tab-content">

                    <div class="tab-pane active" id="red">


                        <div id="export_bouttons_groups">
                            <a download="biodb_extract.xls" href="#" onclick="return ExcellentExport.excel(this, 'table_groups', 'search');" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;">Export to Excel</a>

                            <a download="biodb_extract.csv" href="#" onclick="return ExcellentExport.csv(this, 'table_groups');" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;"">Export to CSV</a>
                            <br/>
                        </div>

                        <p>Number of Interpro ID: {{ sum_group }} </p>

                        <table class="sortable">

                            <thead>
                                <tr>
                                <th>Interpro accession</th>
                                <th>Description</th>
                                </tr>
                            </thead>

                            {% for values in match_data %}
                                <tr>
                                    <td><a href="{% url 'fam' biodb values.0 'interpro' %}">{{values.0}}</a></td>
                                    <td>{{values.1}}</td>
                                </tr>
                            {% endfor %}
                        </table>


                    </div>
                    <div class="tab-pane" id="orange">

                    </div>

                </div>
            {% endif %}
        </div>
    </div>



    <div id="footer">

    </div>

    </body>
</html>
