<!DOCTYPE html>


<html>



<head>
{% load staticfiles %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
{% include "chlamdb/header.html" %}
</head>

<body>
  <div class="container-fluid" id="main_container">
    <div class="row">
      <div id="wrapper">
          <div id="page-content-wrapper">
            <div class="row">
              <div class="col-lg-12">
                {%  if menu %}
                  {% include "chlamdb/menu.html" %}
                {% endif %}
                  {% if no_match %}
                          <div class="alert alert-warning" role="alert" style="width:50%"><a>{{fam}} not present in the database</a>
                 {% else %}
                     <div id="content">

                             <h3>{{ fam }}  {% if type == 'ko' %} <button type="button" class="btn btn-primary btn-xs"
                                                                          onclick="location.href='{% url 'ko2fasta' fam %}'">ko fasta</button>
                                                                  <button type="button" class="btn btn-primary btn-xs"
                                                                          onclick="location.href='{% url 'ko2fasta' fam "T" %}'"> ko fasta + homologs</button>
                                            {% elif type == 'pfam' %}
                                                                  <button type="button" class="btn btn-primary btn-xs"
                                                                          onclick="location.href='{% url 'pfam2fasta' fam %}'">Pfam fasta</button>
                                            {% endif %}
                             </h3>
                              <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                                  <li class="active"><a href="#tab1" data-toggle="tab">General</a></li>
                                  <li><a href="#tab2" data-toggle="tab">Details</a></li>
                                  <li><a href="#tab3" data-toggle="tab">Profile</a></li>
                                  {% if type == 'cog' %}
                                      <li><a href="#tab66" data-toggle="tab" onclick="window.open('{% url 'eggnog_profile' fam 'phylum' %}', 'orthoIDframe2'); return false">Taxonomic profile (phylum)</a></li>
                                      <li><a href="#tab66" data-toggle="tab" onclick="window.open('{% url 'eggnog_profile' fam 'order' %}', 'orthoIDframe2'); return false">Taxonomic profile (order)</a></li>
                                  {% elif type == 'pfam' %}
                                      <li><a href="{% url 'pfam_profile' fam 'phylum' %}">Taxonomic profile (phylum)</a></li>
                                      <li><a href="{% url 'pfam_profile' fam 'order' %}">Taxonomic profile (order)</a></li>
                                  {% elif type == 'interpro' %}
                                      <li><a href="#tab66" data-toggle="tab" onclick="window.open('http://www.ebi.ac.uk/interpro/entry/{{ fam }}', 'orthoIDframe2'); return false"> <i class="fa fa-external-link"></i> Informations </a>  </li>
                                  {% endif %}
                              </ul>

                              <div id="my-tab-content" class="tab-content">
                                  <div class="tab-pane active" id="tab1">



                                      <ol>
                                          {% if type == 'EC' %}
                                              <table>

                                                  {% for key, value in info%}
                                                      <tr>
                                                      <td><strong>{{key}}</strong></td><td>{{value}}</td>
                                                      </tr>
                                                  {% endfor %}


                                              </table>
                                              <li><a href="{{ external_link }}"> <i class="fa fa-external-link"></i> External link</a></li>
                                          {% elif type == 'ko'%}

                                              <li><strong>Name:</strong> {{ ko_data.1 }}</li>
                                              <li><strong>Description:</strong> {{ ko_data.2 }}</li>
                                              <li><strong>EC:</strong> {{ ko_data.3 }}</li>

                                          {% else %}
                                              <li>{{ info.1 }} {{ info.0 }}</li>
                                          {% endif %}


                                          <li>{{ fam }} is present in <strong>{{ all_locus_data|length }} copies</strong></li>
                                          <li>{{ fam }} is present in <strong>{{ group_count|length }} different orthogroup(s)</strong></li>


                                          <ul>
                                              {% for group in group_count %}
                                              <li><a href="{% url 'locusx' group True%}">{{group}}</a></li>
                                              {% endfor %}
                                          </ul>
                                      {% if type == 'EC' %}
                                          <li>EC present in <strong>{{pathway_data|length }} pathways</strong></li>
                                          <ul>
                                              {% for path in pathway_data %}
                                              <li><a href="{% url 'KEGG_mapp' path.0 %}">{{path.2}} :: {{path.1}}</a></li>
                                              {% endfor %}


                                          </ul>
                                      {% elif type == 'ko' %}

                                          <li>KO part of <strong>{{pathway_data|length }} pathways</strong></li>
                                          <ul>
                                              {% for path in pathway_data %}
                                              <li><a href="{% url 'KEGG_mapp_ko' path.0 %}">{{path.0}} :: {{path.1}}</a></li>
                                              {% endfor %}
                                          </ul>
                                          <li>KO part of <strong>{{module_data|length }} modules</strong></li>
                                          <ul>
                                              {% for path in module_data %}
                                              <li><a href="{% url 'KEGG_module_map' path.0 %}">{{path.2}} :: {{path.1}}</a></li>
                                              {% endfor %}
                                          </ul>

                                      {% endif %}

                                      {% if type == 'cog' %}
                                          <li>External link: <a href="http://www.ncbi.nlm.nih.gov/Structure/cdd/cddsrv.cgi?uid={{ fam }}"> Extrenal {{ fam }}  <i class="fa fa-external-link"></i></a></li>
                                      {% elif type == 'pfam' %}
                                          <li>External link: <a href="http://pfam.xfam.org/family/{{ fam }}"> {{ fam }}  <i class="fa fa-external-link"></i></a></li>
                                      {% elif type == 'interpro' %}
                                          <li>External link: <a href="http://www.ebi.ac.uk/interpro/entry/{{ fam }}"> {{ fam }}  <i class="fa fa-external-link"></i></a></li>
                                      {% elif type == 'ko' %}
                                          <li>External link: <a href="http://www.genome.jp/dbget-bin/www_bget?{{ fam }}"> {{ fam }}  <i class="fa fa-external-link"></i></a></li>
                                      {% endif %}

                                      </ol>
                                  </div>
                                  <div class="tab-pane" id="tab2">

                                    <h3>Detail</h3>

                                        <table id="fam_table" class="display">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Orthogroup</th>
                                                    <th>Locus</th>
                                                    <th>Protein id</th>
                                                    <th>Start</th>
                                                    <th>Stop</th>
                                                    <th>S.</th>
                                                    <th>Gene</th>
                                                    <th>nH</th>
                                                    <th>nG</th>
                                                    <th>TM</th>
                                                    <th>SP</th>
                                                    <th>Product</th>
                                                    <th>Organism</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% load static %}
                                                {% get_static_prefix as STATIC_PREFIX %}

                                                {% for values in all_locus_data %}
                                                    <tr>
                                                        <td>{{values.0}}</td>
                                                        <td>{{values.1}}</td>
                                                        <td><a href='{% url "locusx" values.2 True %}' target="_top">{{values.2}}</a></td>
                                                        <td><a href="http://www.ncbi.nlm.nih.gov/protein/{{values.3}}">{{values.3}}</a></td>
                                                        <td>{{values.4}}</td>
                                                        <td>{{values.5}}</td>
                                                        <td>{{values.6}}</td>
                                                        <td>{{values.7}}</td>
                                                        <td>{{values.8}}</td>
                                                        <td>{{values.9}}</td>
                                                        <td>{{values.10}}</td>
                                                        <td>{{values.11}}</td>
                                                        <td>{{values.12}}</td>
                                                        <td>{{values.13}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                  </div>

                                  <div class="tab-pane" id="tab66" style="height:100%">
                                          <iframe name="orthoIDframe2" id="orthoIDframe2" scrolling="no" width="100%" height="2800px"></iframe>
                                  </div>

                                  <div class="tab-pane" id="tab3">
                                       <div class="panel panel-success" style="width:80%; top: 200px; margin: 10px 10px 10px 10px">
                                          <div class="panel-heading" style="width:100%">
                                              <h3 class="panel-title">Help</h3>
                                          </div>
                                          <p style="margin: 10px 10px 10px 10px; line-height: 180%">
                                              Table of Kegg maps. <br>
                                              <strong>Red:</strong> <font size="2" color="red">{{type}}</font> <font size="2" color="red">with</font> positive hit(s) in the corresponding genome. <br>
                                              <strong>Green:</strong>Highlight discrepencies between orthogroup clustering and <font size="2" color="red">{{type}}</font> prediction. Green homologs (same orthogroup) <font size="2" color="green">are not</font> positive hit(s) for the considered <font size="2" color="red">{{type}}</font>. Variations within orthogroups may be due to the clustering of multi domain proteins or because of erroneous homolog clustering or <font size="2" color="red">{{type}}</font> prediction.
                                          </p>
                                       </div>
                                       <div class="row">
                                         <a download="profile.svg" class="btn" href="{% static asset_path %}"><i class="fa fa-download"></i> Download SVG</a>
                                         <a onclick='exportPNG("cog_tree", "profile");' class="btn" id="png_button"><i class="fa fa-download"></i> Download PNG</a>
                                       </div>
                                       <div class="row">
                                           {% if not big %}
                                           <object type="image/svg+xml" data="{% static asset_path %}" id="cog_tree" style="width:60%"></object>
                                           {% else %}
                                           <img src="{% static asset_path %}" alt="profile" style="width:60%">
                                           {% endif %}
                                       </div>

                                  </div>
                              </div>
                     </div>
                 {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</body>
{% include "chlamdb/style_menu.html" %}
<script>
// Javascript to enable link to tab
var url = document.location.toString();
if (url.match('#')) {
    $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
}

// Change hash for page-reload
$('.nav-tabs a').on('shown.bs.tab', function (e) {
    window.location.hash = e.target.hash;
})

$(document).ready(function() {
$('#fam_table').DataTable( {
        dom: 'Bfrtip',
        "order": [[2, "desc" ]],
        "columnDefs": [
        { className: "wrapcol", "targets": [ 12 ] }
        ],
        "pageLength": 15,
        "paging":   true,
        "ordering": true,
        "info":     false,
        buttons: [
        {
            extend: 'excel',
            title: '{{ fam }}'
        },
        {
            extend: 'csv',
            title: '{{ fam }}'
        }
        ],
    } );
} );

</script>

<style>

table td.wrapcol {
word-break: break-all;
word-wrap: break-word;
width: auto;
}
</style>
</html>
