<!DOCTYPE html>


<html>



<head>
{% load static %}
{% load static %}
{% load custom_tags %}
{% get_static_prefix as STATIC_PREFIX %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
{% include "chlamdb/header.html" %}
</head>

<body>
  <div class="container-fluid" id="main_container">
    <div class="row">
      <div id="wrapper">
          <div id="page-content-wrapper">
            <div class="row">
              <div class="col-lg-12">
                {%  if menu %}
                  {% include "chlamdb/menu.html" %}
                {% endif %}
                  {% if no_match %}
                          <div class="alert alert-warning" role="alert" style="width:50%"><a>{{fam}} not present in the database</a>
                 {% else %}
                     <div id="content">



                             <h3>{{ fam }}  {% if type == 'ko' %} <button type="button" class="btn btn-primary btn-xs"
                                                                          onclick="location.href='{% url 'ko2fasta' fam %}'">ko fasta</button>
                                                                  <button type="button" class="btn btn-primary btn-xs"
                                                                          onclick="location.href='{% url 'ko2fasta' fam "T" %}'"> ko fasta + homologs</button>
                                            {% elif type == 'pfam' %}
                                                                  <button type="button" class="btn btn-primary btn-xs"
                                                                          onclick="location.href='{% url 'pfam2fasta' fam %}'">Pfam fasta</button>
                                            {% endif %}
                             </h3>
                              <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                                  <li class="active"><a href="#tab1" data-toggle="tab">General</a></li>
                                  <li><a href="#tab2" data-toggle="tab">Protein list</a></li>
                                  <li><a href="#tab3" data-toggle="tab">Profile</a></li>
                                  {% if type == 'cog' %}
                                      <li><a href="#tab66" data-toggle="tab" onclick="window.open('{% url 'eggnog_profile' fam 'phylum' %}', 'orthoIDframe2'); return false">Taxonomic profile (phylum)</a></li>
                                      <li><a href="#tab66" data-toggle="tab" onclick="window.open('{% url 'eggnog_profile' fam 'order' %}', 'orthoIDframe2'); return false">Taxonomic profile (order)</a></li>
                                  {% elif type == 'pfam' %}
                                      <li><a href="{% url 'pfam_profile' fam 'phylum' %}">Taxonomic profile (phylum)</a></li>
                                      <li><a href="{% url 'pfam_profile' fam 'order' %}">Taxonomic profile (order)</a></li>
                                  {% elif type == 'Pfam' %}
                                      <li><a href="{% url 'pfam_profile' fam 'phylum' %}">Taxonomic profile (phylum)</a></li>
                                      <li><a href="{% url 'pfam_profile' fam 'order' %}">Taxonomic profile (order)</a></li>
                                  {% endif %}
                              </ul>

                                <div id="my-tab-content" class="tab-content">
                                    <div class="tab-pane active" id="tab1">

                                        <div class="col-md-12 col-lg-10" style="padding-right:30px;padding-top:30px">
                                            <div class="row">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">Description</h3>
                                                    </div>
                                                    <table class="table table-striped" style="width: 100%">
                                                        {% if type == 'cog' %}
                                                            <tr>
                                                                <th>External link</th>
                                                                <td><a href="http://www.ncbi.nlm.nih.gov/Structure/cdd/cddsrv.cgi?uid={{ fam }}"> {{ fam }} <i class="fa fa-external-link"></i></a></td>
                                                            </tr>
        
                                                        {% elif type == 'pfam' %}

                                                            <tr>
                                                                <th>External link</th>
                                                                <td><a href="http://pfam.xfam.org/family/{{ fam }}"> {{ fam }} <i class="fa fa-external-link"></i></a></td>
                                                            </tr>

                                                        {% elif type == 'interpro' %}
                                                            <tr>
                                                                <th>External link</th>
                                                                <td><a href="http://www.ebi.ac.uk/interpro/entry/{{ fam }}"> {{ fam }} <i class="fa fa-external-link"></i></a></td>
                                                            </tr>

                                                        {% elif type == 'ko' %}
                                                            <tr>
                                                                <th>External link</th>
                                                                <td><a href="http://www.genome.jp/dbget-bin/www_bget?{{ fam }}"> {{ fam }} <i class="fa fa-external-link"></i></a></td>
                                                            </tr>

                                                        {% elif type == 'EC' %}
                                                            <tr>
                                                                <th>External link</th>
                                                                <td><a href="{{ external_link }}">  {{ fam }} <i class="fa fa-external-link"></i></a></td>
                                                            </tr>

                                                        {% endif %}



                                                        {% if type == 'EC' %}
            
                                                                {% for key, value in info%}
                                                                    <tr>
                                                                        
                                                                        <th>{{key}}</th>
                                                                        {% if key == "prosite"%}
                                                                            <td><a href="https://prosite.expasy.org/{{value}}">{{value}}</a></td>
                                                                        {% else %}
                                                                            <td>{{value}}</td>
                                                                        {% endif %}
                                                                        
                                                                    </tr>
                                                                {% endfor %}

                                                                <tr>
                                                                        <th>{{key}}</th>
                                                                        <td>{{value}}</td>
                                                                </tr>
       
                                                        {% elif type == 'ko'%}
        
                                                            <tr>
                                                                <th style="width:160px">Accession</th>
                                                                <td>{{ ko_data.1 }}</td>
                                                            </tr>
                                                            <tr>
                                                                <th style="width:160px">Name</th>
                                                                <td>{{ ko_data.2 }}</td>
                                                            </tr>
                                                            <tr>
                                                                <th style="width:160px">Description</th>
                                                                <td>{{ ko_data.3 }}</td>
                                                            </tr>
        
        
                                                        {% elif fam_interpro %}
        
                                                            <tr>
                                                                <th style="width:160px">Signature accession</th>
                                                                {% if type == "PANTHER" %}
                                                                    <td><a href="http://www.pantherdb.org/panther/family.do?clsAccession={{info.0}}">{{ info.0 }}</a></td>
                                                                {% elif type == "CDD" %}
                                                                    <td><a href="https://www.ncbi.nlm.nih.gov/Structure/cdd/cddsrv.cgi?uid={{info.0}}">{{ info.0 }}</a></td>
                                                                {% elif type == "Pfam" %}
                                                                    <td><a href="http://pfam.xfam.org/family/{{info.0}}">{{ info.0 }}</a></td>
                                                                    {% elif type == "PRINTS" %}
                                                                    <td><a href="http://130.88.97.239/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn={{info.0}}&display_opts=Prints&category=None&queryform=false&regexpr=off">{{ info.0 }}</a></td>
                                                                    {% elif type == "TIGRFAM" %}
                                                                    <td><a href="http://tigrfams.jcvi.org/cgi-bin/HmmReportPage.cgi?acc={{info.0}}">{{ info.0 }}</a></td>
                                                                    {% elif type == "Hamap" %}
                                                                    <td><a href="https://hamap.expasy.org/signature/{{info.0}}">{{ info.0 }}</a></td>
                                                                    {% elif type == "Gene3D" %}
                                                                    <td><a href="http://www.cathdb.info/version/latest/superfamily/{{Gene3D_acc}}">{{ info.0 }}</a></td>
                                                                    {% elif type == "SUPERFAMILY" %}
                                                                    <td><a href="http://supfam.org/SUPERFAMILY/cgi-bin/scop.cgi?ipid={{info.0}}">{{ info.0 }}</a></td>
                                                                    {% elif type == "SMART" %}
                                                                    <td><a href="http://smart.embl-heidelberg.de/smart/do_annotation.pl?DOMAIN={{info.0}}">{{ info.0 }}</a></td>
                                                                    {% elif type == "ProSitePatterns" %}
                                                                    <td><a href="https://prosite.expasy.org/{{info.0}}">{{ info.0 }}</a></td>
                                                            
                                                                    {% else %}
                                                                    <td>{{ info.0 }} {{ info.1 }}</td>
                                                                {% endif %}
                                                            </tr>

                                                            {% if info.1 != "0" %}
                                                                <tr>
                                                                    <th style="width:160px">Signature description</th>
                                                                    <td> {{ info.1 }}</td>
                                                                </tr>
                                                            {% else %}
                                                                <tr>
                                                                    <th style="width:160px">Signature description</th>
                                                                    <td> N/A </td>
                                                                </tr>
                                                            {% endif %}
            
                                                        {% else %}
                                                            <tr>
                                                                <th style="width:160px">Description</th>
                                                                <td> {{ info.0 }} {{ info.1 }} </td>
                                                            </tr>
                                                        {% endif %}
                                                    </table>
                                                </div>
                                            </div>
                                            {% if type == 'ko'%}

                                                <div class="row">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h3 class="panel-title">KO part of <strong>{{pathway_data|length }} pathways</strong></h3>
                                                        </div>
                                                        {% if pathway_data|length > 0 %}
                                                            <table class="table table-striped" style="width: 100%">
                                                                <tbody>
                                                                    {% for path in pathway_data %}
                                                                    <tr>
                                                                        <td style="width:160px"><a href="{% url 'KEGG_mapp_ko' path.0 %}">{{path.0}}</a></td>
                                                                        <td>{{path.1}}</td>
                                                                        <td>{{path.2}}</td>
                                                                    </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        {% endif %}

                                                            <div class="panel-heading">
                                                                    <h3 class="panel-title">KO part of <strong>{{module_data|length }} modules </strong></h3>
                                                            </div>
                                                                {% if module_data|length > 0 %}
                                                                    <table class="table table-striped" style="width: 100%">
                                                                        <tbody>
                                                                            {% for path in module_data %}
                                                                                <tr>
                                                                                    <td style="width:160px"><a href="{% url 'KEGG_module_map' path.0 %}">{{path.0}}</a></td>
                                                                                    <td>{{path.1}}</td>
                                                                                    <td>{{path.2}}</td>
                                                                                </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                {% endif %}

                                                    </div>
                                                </div>



                                            {% endif %}


                                            {% if type == 'EC'%}

                                                <div class="row">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h3 class="panel-title">EC part of <strong>{{pathway_data|length }} pathways</strong></h3>
                                                        </div>
                                                        {% if pathway_data|length > 0 %}
                                                            <table class="table table-striped" style="width: 100%">
                                                                <tbody>
                                                                    {% for path in pathway_data %}
                                                                    <tr>
                                                                        <td style="width:160px"><a href="{% url 'KEGG_mapp_ko' path.0 %}">{{path.0}}</a></td>
                                                                        <td>{{path.1}}</td>
                                                                    </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        {% endif %}
                                                    </div>
                                                </div>

                                                {% if associated_ko|length > 0 %}

                                                <div class="row">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <h3 class="panel-title">Kegg Orthologs</h3></strong></h3>
                                                            </div>
                                                                <table class="table table-striped" style="width: 100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Accession</th>
                                                                            <th>Description</th>
                                                                            <th>Frequency in the database</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% for ko in associated_ko %}
                                                                        <tr>
                                                                            {% with ko2freq|keyvalue:ko.0 as freq%}
                                                                                {% if freq > 0%}
                                                                                    <td style="width:160px"><a href="{% url 'fam' ko.0 "ko" %}">{{ko.0}}</a></td>
                                                                                    <td>{{ko.1}}</td>
                                                                                    <td>{{ freq }}</td>
                                                                                {% else %}
                                                                                    <td style="width:160px">{{ko.0}}</td>
                                                                                    <td>{{ko.1}}</td>
                                                                                    <td>-</td>
                                                                                {% endif %}

                                                                             {% endwith %}
                                                                        </tr>
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                            {% endif %}

                                            <div class="row">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">Occurence in the database</h3>
                                                    </div>
                                                        <table class="table table-striped" style="width: 100%">

                                                            <tr>
                                                                <td>{{ fam }} is associated to <strong>{{ all_locus_data|length }} different proteins</strong> (see tab "<a href="#tab2" data-toggle="tab">Protein list</a>" and "<a href="#tab3" data-toggle="tab">Profile</a>")</td>
                                                            </tr>
                                                            <tr>
                                                                <td> The {{ all_locus_data|length }} proteins are classified into <strong>{{ group_count|length }} different orthogroup(s)</strong></td>
                                                            </tr>                                                        
                                                        </table>
                                                        <div style="padding-left:40px">
                                                            <ul style="list-style-type:disc;">
                                                                    {% for group in group_count %}
                                                                    <li><a href="{% url 'locusx' group True%}">{{group}}</a></li>
                                                                    {% endfor %}
                                                            </ul>
                                                        </div>
                                                </div>
                                            </div>


                                        </div>


                                  </div>

                                  <div class="tab-pane" id="tab2">

                                    <h3>Detail</h3>

                                        <table id="fam_table" class="display">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Orthogroup</th>
                                                    <th>Locus</th>
                                                    <th>Protein id</th>
                                                    <th>Start</th>
                                                    <th>Stop</th>
                                                    <th>S.</th>
                                                    <th>Gene</th>
                                                    <th>nH</th>
                                                    <th>nG</th>
                                                    <th>TM</th>
                                                    <th>SP</th>
                                                    <th>Product</th>
                                                    <th>Organism</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% load static %}
                                                {% get_static_prefix as STATIC_PREFIX %}

                                                {% for values in all_locus_data %}
                                                    <tr>
                                                        <td>{{values.0}}</td>
                                                        <td>{{values.1}}</td>
                                                        <td><a href='{% url "locusx" values.2 True %}' target="_top">{{values.2}}</a></td>
                                                        <td><a href="http://www.ncbi.nlm.nih.gov/protein/{{values.3}}">{{values.3}}</a></td>
                                                        <td>{{values.4}}</td>
                                                        <td>{{values.5}}</td>
                                                        <td>{{values.6}}</td>
                                                        <td>{{values.7}}</td>
                                                        <td>{{values.8}}</td>
                                                        <td>{{values.9}}</td>
                                                        <td>{{values.10}}</td>
                                                        <td>{{values.11}}</td>
                                                        <td>{{values.12}}</td>
                                                        <td>{{values.13}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                  </div>

                                  <div class="tab-pane" id="tab66" style="height:100%">
                                          <iframe name="orthoIDframe2" id="orthoIDframe2" scrolling="no" width="100%" height="2800px"></iframe>
                                  </div>

                                  <div class="tab-pane" id="tab3">
                                       <div class="panel panel-success" style="width:80%; top: 200px; margin: 10px 10px 10px 10px">
                                          <div class="panel-heading" style="width:100%">
                                              <h3 class="panel-title">Help</h3>
                                          </div>
                                          <p style="margin: 10px 10px 10px 10px; line-height: 180%">
                                              <strong>Red:</strong> <font size="2" color="red">{{type}}</font> <font size="2" color="red">with</font> positive hit(s) in the corresponding genome. <br>
                                              <strong>Green:</strong>Highlight discrepencies between orthogroup clustering and <font size="2" color="red">{{type}}</font> prediction. Green homologs (same orthogroup) <font size="2" color="green">are not</font> positive hit(s) for the considered <font size="2" color="red">{{type}}</font>. Variations within orthogroups may be due to the clustering of multi domain proteins or because of erroneous homolog clustering or <font size="2" color="red">{{type}}</font> prediction.
                                          </p>
                                       </div>
                                       <div class="row">
                                            {% if not big %}
                                                <a download="profile.svg" class="btn" href="{% static asset_path %}"><i class="fa fa-download"></i> Download SVG</a>
                                                <a onclick='exportPNG("cog_tree", "profile");' class="btn" id="png_button"><i class="fa fa-download"></i> Download PNG</a>
                                            {% else %}
                                                <!-- if image too large, only png available -->
                                                <a download="profile.png" class="btn" href="{% static asset_path %}"><i class="fa fa-download"></i> Download PNG</a> 
                                            {% endif %}    
                                       </div>
                                       <div class="row">
                                           {% if not big %}
                                           <object type="image/svg+xml" data="{% static asset_path %}" id="cog_tree" style="width:60%"></object>
                                           {% else %}
                                           <img src="{% static asset_path %}" alt="profile" style="width:60%">
                                           {% endif %}
                                       </div>

                                  </div>
                                </div> <!--tabs-->
                     </div>
                 {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</body>
{% include "chlamdb/style_menu.html" %}
<script>
// Javascript to enable link to tab
var url = document.location.toString();
if (url.match('#')) {
    $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
}

// Change hash for page-reload
$('.nav-tabs a').on('shown.bs.tab', function (e) {
    window.location.hash = e.target.hash;
})

$(document).ready(function() {

    // Javascript to enable link to tab
    var url = document.location.toString();
    if (url.match('#')) {
        $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
    } 

    $('#fam_table').DataTable( {
            dom: 'Bfrtip',
            "order": [[2, "desc" ]],
            "columnDefs": [
            { className: "wrapcol", "targets": [ 12 ] }
            ],
            "pageLength": 15,
            "paging":   true,
            "ordering": true,
            "info":     false,
            buttons: [
            {
                extend: 'excel',
                title: '{{ fam }}'
            },
            {
                extend: 'csv',
                title: '{{ fam }}'
            }
            ],
        } );
} );

</script>

</html>
