<!DOCTYPE html>

</script>





<html>
    
<head>

{% include "chlamdb/header.html" %}
</head>
<body>
  {% include "chlamdb/menu.html" %}
    <div class="container-fluid" id="main_container">
        <div class="row">
          <div id="wrapper">
              <div id="page-content-wrapper">
                <div class="row">
                  <div class="col-lg-12" style="font: central;">
                  
  
                             
                  <h2 style="color:#003c58 ">FAQ</h2>
                  <hr>
                  <h3 style="color:#003c58">About the pipeline</h3>
                  <div class="tab-content">

                                    <button type="button" class="collapsible">-What is Comparative_db?</button>
                                        <div class="content-FAQ">
                                            The Comparative_db is a customizable comparative genomics database which enables the user to compare and analyse genomes. Comparative_db integrates multiple tools for comparative genomic analyses and facilitates the access to comprehensive annotations from multiple databases including UniProt (curated and automated protein annotations), KEGG (annotation of pathways) and COG (orthology). Next to this, phylogenetic trees and phylogenetic relationships of genes, conservation of gene neighbourhood and taxonomic profiles can be visualized using dynamically generated graphs, available for download.
                                        </div>
                                    <button type="button" class="collapsible">-How does Comparative_db work?</button>
                                        <div class="content-FAQ">
                                            Comparative_db  consists of two parts:
                                            <br><b>1.</b> generation of a SQL database through a Nextflow–based pipeline applied on two or more input .gbk files.
                                            <br><b>2.</b> launch of an overview and interacting webpage that displays the results retrieved in step 1.
                                        </div>
                                    <button type="button" class="collapsible">-What is the input format file?</button>
                                        <div class="content-FAQ">
                                            Standard Genbank file that contains genome sequences and annotations.
                                            <br>Only the extention <b>“.gbk”</b> is used, consequently Genbank files downloaded from NCBI, with the extention “.gbff” must be renamed as “.gbk”.
                                            <br>You can annotate a genome and generate the corresponding “.gbk” file using <a href="https://github.com/tseemann/prokka"> Prokka </a> .
                                            <br>(Seemann T. Prokka: rapid prokaryotic genome annotation Bioinformatics 2014 Jul 15;30(14):2068-9. <a href="https://pubmed.ncbi.nlm.nih.gov/24642063/"> PMID:24642063 </a> )
                                           
                                        </div>                       
                                    <button type="button" class="collapsible">-Which input files do I need to provide? </button>
                                        <div class="content-FAQ">
                                        <b>1. STEP 1 – generation of SQL database:</b>
                                            <br>-Input tabel (.csv/.tsv ):
                                            <br>it contains an identifier for each input file and the local or absolute path of the gbk files. 
                                            <br>Download an example of input table here ( link to an example table)
                                            <br>For a detailed explanation go here (link to the documentation).
                                            <br>-Config file
                                            <br>it let you control which analyses among those classified as ‘optional’ in question X (How does Comparative_db work?) will be run.
                                            <br>Download an example of Config file here (link).
                                            <br>Rely on the Documentation to set up this file in the proper way. (link Documentation)
                                            <br><b>2. STEP 2 – launch of the web app</b>
                                            <br>settings file (not sure if the user will need to modify it or it will be automatically linked to the newly generated db)
                                        </div>     
                                    <button type="button" class="collapsible">-Which tools do I need to install to run the pipeline?</button>
                                        <div class="content-FAQ">
                                            You need to install <a href="https://www.nextflow.io/docs/latest/getstarted.html#installation"> Nextflow </a> in your environment for running the annotation analysis.
                                            <br>For launching the webapp you need to create an environment based on the chlamdb.yml file provided.
                                            <br>Please see the documentation
                                        </div>                                       
                                    <button type="button" class="collapsible">-How many genomes can I compare?</button>
                                        <div class="content-FAQ">
                                            There is <b>no limit</b> on the number of genomes given as input.
                                        </div>           
                                    <button type="button" class="collapsible">-How long does it take to run the pipeline?</button>
                                        <div class="content-FAQ">
                                            Test with x number of genomes, size of genomes, cpu to run it, etc (to do)
                                        </div> 
                                    <button id="call_1" type="button" class="collapsible">-Which analyses does the pipeline include?</button>
                                        <div class="content-FAQ", id="AAA">
                                            The pipeline performs the following analyses:
                                            
                                                <li>Orthologous proteins identified with OrthoFinder (optional)</li>
                                                <li>Detailed annotation of proteins based on 
                                                KEGG (Kegg orthologs) - (optional)
                                                COG (clusters of orthologous groups) - (optional)
                                                SwissProt (manually annotated proteins) (NOT SURE) </li>
                                                <li>Precomputed homology searches with RefSeq and SwissProt databases for each protein </li>
                                                <li>Precomputed phylogenetic reconstructions of orthologous groups</li>
                                                <li>COG phylogenetic profiles</li>
                                                <li>Generation of customized databases for blast search (optional)</li>
                                                <br>For a detailed description link (Bastian’s documentation)
                                            
                                        </div>      
                                    <button type="button" class="collapsible">-Can I customize the analyses I want to perform?</button>
                                        <div class="content-FAQ">
                                            The user can select which analyses she/he wants to perform turning on or off some of the parameters of the configuration file. See the list of ‘optional’ parameters in Q-‘Which analyses does the pipeline include?’and refer to documentation (link)
                                        </div>  
                                         

                <h3 style="color:#003c58">How to navigate into the comparative database</h3> 
                                    <button type="button" class="collapsible">-How do I identify which proteins are part of a specific orthogroup?</button>
                                        <div class="content-FAQ">
                                            ...                        
                                        </div>  
                                    <button type="button" class="collapsible">-Other analyses </button>
                                        <div class="content-FAQ">
                                            ...                        
                                        </div>  
                                    <button type="button" class="collapsible">-How do I use the search bar? </button>
                                        <div class="content-FAQ">
                                            list of terms (cog, kegg ,accession)                       
                                        </div>  
                                    <button type="button" class="collapsible">--How do I extract metabolic information? </button>
                                        <div class="content-FAQ">
                                             --Be sure that this type of analysis was turned on when you run the pipeline --
                                             <br>In the menu through the metabolism/kegg maps section you can search for which KEGG maps have been annotated for each genome and ...
	                                        while with kegg maps section you can investigate in a specific KEGG category of interest and visualize the KEGG modules identifed for each genome and which ko entries belongs to each module. Besides, you can visualize a list of all the proteins annotated with ko identifiers belonging to a selected Kegg module and navigate to the locus where a selected protein is present in a specific genome. This analysis let you navigate from a global kegg characterizations of your genomes to a pecific description of each kegg-described protein.                      
                                        </div>  
                <h3 style="color:#003c58">Biological aspects</h3> 
                                    <button type="button" class="collapsible"> -Are plasmids identified? </button>
                                        <div class="content-FAQ">
                                            The distinction between chromosome and plasmids is done only based on the annoations reported in the input file.                      
                                        </div>  
                                    <button type="button" class="collapsible">-Orthogroups accurate (?) </button>
                                        <div class="content-FAQ">
                                            ...
                                        </div>  
                            
                            
                </div>       

                      
              
            </div>
          </div>
        </div>
    </div>
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;
        
        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
              content.style.display = "none";
            } else {
              content.style.display = "block";
            }
          });
        }
        </script>
</html>
</body>


