<!DOCTYPE html>


<html>

<head>

    {% load staticfiles %}
    {% load static %}
    {% include "chlamdb/header.html" %}
</head>

<body>
  <div class="container-fluid" id="main_container">
    <div class="row">
      <div id="wrapper">
          <div id="page-content-wrapper">
            <div class="row">
              <div class="col-lg-12">
                 {% include "chlamdb/menu.html" %}
                  <div id="help">
                      <h2>Chlamydiae Database version 1.0</h2>
                      <div class="row" style="padding-top:20px;">

                      </div>
                      <div col class="col-lg-1">
                        <img width = "100%" src = "{% static "homepage/Under_construction.png" %}" alt = "circos" />

                      </div>
                      <div col class="col-lg-10">
                        <font size="3">Help page under construction. Contact <strong>&#116;&#114;&#101;&#115;&#116;&#097;&#110;&#046;&#112;&#105;&#108;&#108;&#111;&#110;&#101;&#108;[&#064;]&#099;&#104;&#117;&#118;&#046;&#099;&#104; </strong> if you have suggestions, problems or questions.</font>
                      </div>

                      <div class="row" style="padding-top:20px;">
                        <div col class="col-lg-10">
                        <a href="{% static "homepage/poster_chlamdb.pdf" %}">Poster of the CBRS meeting describing the database</a>
                      </div>
                      </div>

                  </div>

                  <div class="row" style="padding-top:50px;">


                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Examples of comparative genomic data vizualisations available from this website</h3>
                    </div>
                    <div class="panel-body" style="margin: 10px 10px 10px 10px">

                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12">

                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Venn diagram: orthologs (interactive plot)</h3>
                          </div>
                          <div class="panel-body" style="margin: 10px 10px 10px 10px">

                            <object type="image/svg+xml" data="{% static "homepage/jVenn_chart.svg" %}" id="venn" style="width:100%"></object>


                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12">

                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Homologs of ADP/ATP carrier protein CT_495 in other <i>Chlamydiae</i> genomes</h3>
                          </div>
                          <div class="panel-body" style="margin: 10px 10px 10px 10px">

                            <object type="image/svg+xml" data="{% static "homepage/phylo_profile.svg" %}" id="venn" style="width:100%"></object>

                          </div>
                        </div>
                      </div>
                    </div>



                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12">

                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Circos comparative plot (interactive plot)</h3>
                          </div>
                          <div class="panel-body" style="margin: 10px 10px 10px 10px">

                            <img width = "100%" src = "{% static "homepage/circos.png" %}" alt = "circos" />

                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12">

                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">ADP/ATP carrier protein TM domains organization</h3>
                          </div>
                          <div class="panel-body" style="margin: 10px 10px 10px 10px">

                            <object type="image/svg+xml" data="{% static "homepage/TM_tree.svg" %}" id="venn" style="width:100%"></object>

                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12">

                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Conservation of specific genomic regions (reference in blue)</h3>
                          </div>
                          <div class="panel-body" style="margin: 10px 10px 10px 10px">

                            <object type="image/svg+xml" data="{% static "homepage/region.svg" %}" id="venn" style="width:100%"></object>

                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12">

                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Genome aligments based on identified orthologs (interactive plot)</h3>
                          </div>
                          <div class="panel-body" style="margin: 10px 10px 10px 10px">

                            <object type="image/svg+xml" data="{% static "homepage/region_align.svg" %}" id="venn" style="width:100%"></object>

                          </div>
                        </div>
                      </div>
                    </div>



                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12">

                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Conservation of metabolic pathways (interactive plot)</h3>
                          </div>
                          <div class="panel-body" style="margin: 10px 10px 10px 10px">

                            <object type="image/svg+xml" data="{% static "homepage/TCA.svg" %}" id="venn" style="width:100%"></object>

                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12">

                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Pan-genome & Core-genome plot</h3>
                          </div>
                          <div class="panel-body" style="margin: 10px 10px 10px 10px">

                            <object type="image/svg+xml" data="{% static "homepage/pangenome.svg" %}" id="venn" style="width:100%"></object>

                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                    </div>
                  </div>





              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <script>

    $('.dropdown-toggle').dropdown()

    </script>
<!--<script type="text/javascript" src="{% static 'js/sorttable.js' %}"></script>-->
</body>
{% include "chlamdb/style_menu.html" %}
</html>
