<!DOCTYPE html>


<html>
<head>

{% load staticfiles %}
{% load static %}





</head>
<body>

<div id="container">
    <div id="sidebar">

    {% include "chlamdb/menu.html" %}
    </div>
    <div id="header">

    {% include "chlamdb/user.html" %}

    </div>
    <div id="content">
        <h1>Overview</h1>












<i class="disabled users icon"></i>

        <div id="export_bouttons">
            <a download="biodb_search.xls" href="#" onclick="return ExcellentExport.excel(this, 'genomes_table', 'search');" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;">Export to Excel</a>

            <a download="biodb_search.csv" href="#" onclick="return ExcellentExport.csv(this, 'genomes_table');" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;"">Export to CSV</a>
            <br/>
        </div>

        {{table|safe}}



        <!--<img src="{% static 'chlam_tree.png' %}" width="80%"-->



    </div>
    <div id="footer"></div>
</div>

<script>

$('.dropdown-toggle').dropdown()

</script>
</body>
</html>

