
<div id="content"> 

	<h3> Homologs for group: {{orthogroup}} (Identified with Orthofinder)</h3>

	<div class="container-fluid">
		<div class="col-lg-12">
			<div style="padding-top:20px">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Homologs</h3>
					</div>
					<div class="panel-body">
						{{homologues|length}} homologs were identified in {{n_genomes}} with <a href="https://github.com/davidemms/OrthoFinder">OrthoFinder</a>.
					</div>
				</div>
			</div>

			<div class="row">
				<table class="display" id="homologs"> <!--  class="sortable" -->
					<thead>
						<tr>
							{% for entry in headers %}
							<th> {{entry}}  </th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for values in homologues %}
						<tr>
						{% for entry in values %}
						<td> {{entry|safe}}</td>
						{% endfor %}
						</tr>

						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script>

  $(document).ready(function() {
  $('#homologs').DataTable( {
    dom: 'lBfrtip',
    buttons: [
        {
            extend: 'colvis',
            columns: ':not(.noVis)',
        },
        {
            extend: 'excel',
            title: 'homologs_{{orthogroup}}'
        },
        {
            extend: 'csv',
            title: 'homologs_{{orthogroup}}'
        }
    ],
  "paging":   true,
  "ordering": true,
  "info":     false
  } );
  } );

</script>
