<!DOCTYPE html>


<html>



<head>
{% load staticfiles %}

</head>

<body>


<div id="container">
    <div id="sidebar">
        {% include "chlamdb/menu.html" %}
    </div>

    <div id="header">
        {% include "chlamdb/user.html" %}
    </div>


    <div id="content">
    <form action='{% url "chlamdb.views.homology" biodb %}' method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />

    </form>

    {% if envoi %}

        <iframe src="{% url 'locusx' biodb data.1 %}" width="100%" height="2000px" frameborder="0px" marginwidth="0" marginheight="0" scrolling="no"></iframe>
    {% endif %}
</div>





</body>
</html>
