<!DOCTYPE html>


<html>



<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

</head>

<body>




{% include "chlamdb/user.html" %}
{% include "chlamdb/menu.html" %}



<section id="head_section">
<section id="section_head">
<p>Get annotation, sequences and homologous proteins of a target protein</p>
<p>INPUT: locus tag or protein ID</p>
</section>


<!--
{% load static %}
<img src="{% static 'im_1.jpg' %}" alt="Mon image" />
-->


<form action="{% url "chlamdb.views.homology" biodb %}" method="post">
{% csrf_token %}


<table>
  <tr>
  <td>{{ form.as_p }}</td>
</tr>

<tr>
  <td><input type="submit" value="Submit" /></td>
</tr>


</table>


</form>






{% if envoi %}

    {% if not valid_id %}

        Unknown accession!
        Accept protein ids and locus tags
        <!--
        Existing accessions are:
        <table>
        <tr>
        <th>accession</th>
        <th>Name</th>
        </tr>
        {% for key, value  in accession_dict.items %}
    
        <tr>
        <td>{{key}}</td>
        <td>{{value}}</td>
        </tr>


        {% endfor %}
        </ul>
        -->

    {% else %}



    {% if not plot_region %}

    <table>
    <tr> 
    <td>{{bioentry_accession}}</td>
    <td>{{bioentry_name}}  </td>  
    </tr>
    </table>

     &nbsp




     
    &nbsp


     
    <h2>Features of {{accession}}</h2>
  
    <table>
    <tr>
    <th id="entete">Feature</th>
    <th>Value</th>
    </tr>

        <tr>
        <td>orthogroup</td>
        <td id="entete_features">{{ data.0 }}</td>
        </tr>

        <tr>
        <td>locus_tag</td>
        <td id="entete_features">{{ data.1 }}</td>
        </tr>
        <tr>
        <td>protein_id</td>
        <td id="entete_features">{{ data.2 }}</td>
        </tr>

        <tr>
        <td>start</td>
        <td id="entete_features">{{ data.3 }}</td>
        </tr>
        <tr>
        <td>stop</td>
        <td id="entete_features">{{ data.4 }}</td>
        </tr>
         <tr>
        <td>strand</td>
        <td id="entete_features">{{ data.5 }}</td>
        </tr>
        <tr>
        <td>organism</td>
        <td id="entete_features">{{ data.6 }}</td>
        </tr>


    </table>

    &nbsp




    {% if orthologs %}



    <h2>Sequences</h2>
    <table>
    <tr>
    <td id="entete_sequences"><a href="{% static fasta %}">Protein sequences (fasta)</a> </td>
    </tr>
    <tr>
    <td><a href="{% static alignment %}">Protein alignment (html)</a> </td>
    </tr>
    <tr>
    <td><a href="{% static alignment_fasta %}">Protein alignment (fasta)</a> </td>
    </tr>
    <tr>
    <td><a href="{% static alignment_fasta_nucl %}">Nucleotide sequences (fasta)</a> </td>
    </tr>

        <!--

    <td><a href="{% static tree_unrooted %}"> Phylogenetic tree (unrooted)</a> </td>
    </tr>

    <td><a href="{% static tree_rooted %}">Phylogenetic tree (midproint rooted)</a> </td>
    </tr>

    <td><a href="{% static tree_file %}">Phylogenetic tree file (newick)</a> </td>
    </tr>
-->

    </table>


    <h2>Homologs</h2>

    <div id="export_bouttons">
    <a download="biodb_search.xls" href="#" onclick="return ExcellentExport.excel(this, 'homologues_table', 'search');" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;">Export to Excel</a>

    <a download="biodb_search.csv" href="#" onclick="return ExcellentExport.csv(this, 'homologues_table');" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;"">Export to CSV</a>
    <br/>
    </div>


    <table id="homologues_table" class="sortable">
    <tr>
    <th> </th> 
    <th>Locus tag</th>
    <th>Protein ID</th>
    <th>Identity (%)</th>
    <th>start</th>
    <th>stop</th>
    <th>strand</th>

    <th>Organism</th>


    </tr>
    {% for values in homologues %}
        <tr>
        <td>{{values.8}}</td>
        <td>{{values.1}}</td>
	<td>{{values.2}}</td>
    <td>{{values.7}}</td>
    <td>{{values.4}}</td>
    <td>{{values.3}}</td>
    <td>{{values.5}}</td>
	<td>{{values.6}}</td>

        </tr>
    {% endfor %}
    </table>

    {% else %}
    <h2>Homologs</h2>
    No homologs

    {% endif %}
    {% endif %}
    {% endif %}

    {% if plot_region %}
    &nbsp
    <h2>Region</h2>
    {% load static %}
    <img src="{% static name %}" id="genomic_region" />
    {% endif %}

{% endif %}



</section>






<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>




<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
  var update_fields = function () {
    if ($("#id_plot_region").is(":checked")) {

        $('#id_region_size').show();
        $('#id_genomes').show();
       $('label[for="id_genomes"]').show();
       $('label[for="id_region_size"]').show();

    }
    else {

       $('#id_region_size').hide();
       $('#id_genomes').hide();
       $('label[for="id_genomes"]').hide();
       $('label[for="id_region_size"]').hide();
    }
  };
  $(update_fields);
  $("#id_plot_region").change(update_fields);
</script>



<!--
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
  var update_fields = function () {
    if ($("#id_plot_region").is(":checked")) {

        $('#id_region_size').prop('disabled', false);
    }
    else {

       $('#id_region_size').prop('disabled', 'disabled');
    }
  };
  $(update_fields);
  $("#id_plot_region").change(update_fields);
</script>
-->





</body>
</html>
