<!DOCTYPE html>


<html>



<head>
    {% load static %}
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
    {% include "chlamdb/header.html" %}

</head>

<body>

<h3>Hydropathy plot</h3>
<div class="row">

      <div class="panel panel-success" style="width:80% ; top: 200px; margin: 10px 10px 10px 10px">
            <div class="panel-heading" style="width:100%">
               <h3 class="panel-title">Help</h3>
            </div>
            <p style="margin: 0px 0px 0px 10px">Predicted transmembrane domains are reported in yellow (if any).
            </p>
      </div>
      </div>

      <div class="col-lg-12">
        <a download="hydropathy.png" class="btn" href="{% static asset_path %}"><i class="fa fa-download"></i> Download PNG</a>
           <div style="width:100%;height:1000px">

              <img width = "900px" src = "{% static asset_path %}" alt = "hydropat" />
           </div>
      </div>
</div>

</body>
</html>
