<!DOCTYPE html>


<html>
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>

<div id="container">
    <div id="sidebar">
        {% include "chlamdb/menu.html" %}
    </div>

    <div id="header">
        {% include "chlamdb/user.html" %}
    </div>

    <div id="content">




        <div class="panel panel-success" style="width:80%; top: 200px; margin: 10px 10px 10px 10px">
            <div class="panel-heading" style="width:100%">
                <h3 class="panel-title">Help</h3>
            </div>
            <p style="margin: 10px 10px 10px 10px">Investigate Interpro domains taxonomy<br>
            </p>
        </div>

    <form action='{% url "interpro_taxonomy" %}' method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />

    </form>

    {% if not_all %}

        <ul id="tabs2" class="nav nav-tabs" data-tabs="tabs">

            <li class="active"><a href="#tab2a" data-toggle="tab">Profile</a></li>
            <li><a href="#tab2b" data-toggle="tab">Domain Table</a></li>
            <li><a href="#tab2c" data-toggle="tab">Locus Table</a></li>
        </ul>
        <div id="my-tab-content2" class="tab-content">
            <div class="tab-pane active" id="tab2a">
                <object width="90%" align="left" style="margin-left: 0px" type="image/svg+xml" data="{% static asset_path %}" id="interpro_tree"></object>
            </div>
            <div class="tab-pane" id="tab2b">
                <table>

                    <tr>
                        <th>Interpro ID</th>
                        <th>Description</th>
                    </tr>
                {% for interpro in interpro_id_description %}
                    <tr>
                        <td>{{interpro.0}}</td>
                        <td>{{interpro.1}}</td>
                    </tr>
                {% endfor %}

                </table>
            </div>
            <div class="tab-pane" id="tab2c">

                 <button type="button" class="btn btn-primary btn-xs" onclick="location.href='/chlamdb/fasta/{{fasta_url|safe}}'">download fasta</button>

                <div>
                    Overview
                    <table class="sortable">
                        <tr>
                            <th>Product</th>
                            <th>Count</th>
                        </tr>
                        {% for key, value in product2count.items %}
                        <tr>
                            <td>{{key}}</td>
                            <td>{{value}}</td>
                        <tr>

                        {%endfor%}
                    </table>


                </div>

                <div>



                    <table class="sortable">

                        <tr>
                            <th>Organism</th>
                            <th>Orthogroup</th>
                            <th>Locus</th>
                            <th>Gene</th>
                            <th>Product</th>
                            <th>N genomes</th>
                            <th>TM</th>
                            <th>SP</th>
                        </tr>
                        {% for row in data_locus %}
                            <tr>
                                <td>{{row.11}}</td>
                                <td>{{row.0}}</td>
                                <td><a href="{% url 'locusx' row.3 True %}" target="_top">{{row.3}}</a></td>
                                <td>{{row.8}}</td>
                                <td>{{row.9}}</td>

                                <td>{{row.13}}</td>
                                <td>{{row.14}}</td>
                                <td>{{row.15}}</td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>

            </div>
        </div>

    {% elif all %}
        <ul id="tabs3" class="nav nav-tabs" data-tabs="tabs">

            <li class="active"><a href="#tab1" data-toggle="tab">domains taxonomy</a></li>
            <li><a href="#tab2" data-toggle="tab">effectors</a></li>
        </ul>
        <div id="my-tab-content3" class="tab-content">
            <div class="tab-pane active" id="tab1">
                <object width="70%" align="center" style="margin-left: 0px" type="image/svg+xml" data="{% static asset_path %}" id="interpro_tree"></object>
            </div>
            <div class="tab-pane" id="tab2">
                <object width="70%" align="center" style="margin-left: 0px" type="image/svg+xml" data="{% static asset_path2 %}" id="interpro_tree"></object>
            </div>

        </div>
    {% endif %}

    </div>
</div>
</body>
</html>
