<!DOCTYPE html>


<html>



<head>
{% load static %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

</head>

<body id="locus_body">
<div id="container">


        {% if not valid_id %}

            <div id="content">
            <div id="sidebar">
                {% include "chlamdb/menu.html" %}
            </div>
            <div id="header">
                {% include "chlamdb/user.html" %}
            </div>
            <div class="alert alert-warning" role="alert" style="width:50%"><a>Unknown accession! Accept protein ids, locus tags and orthogroup IDs</a></div>

       {% else %}
           <div id="content">


           {%  if menu %}

                <div id="sidebar">
                    {% include "chlamdb/menu.html" %}
                </div>
                <div id="header">
                    {% include "chlamdb/user.html" %}
                </div>
           {% endif %}

               <h3> {% with map_data|first as first_doc %}{{ first_doc.0 }}{% endwith %} </h3>
                 <div class="panel panel-success" style="width:80%; top: 400px; margin: 10px 10px 10px 10px">
                    <div class="panel-heading" style="width:100%">
                        <h3 class="panel-title">Help</h3>
                    </div>
                    <p style="margin: 10px 10px 10px 10px; line-height: 180%">
                        Interpro domains enriched in eukaryotes and present in considered genomes.
                    </p>
                </div>
                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">General</a></li>
                    <li><a href="#tab2" data-toggle="tab">Profile</a></li>
                    <li><a href="#tab3" data-toggle="tab">Profile + homologs</a></li>
                </ul>

                <div id="my-tab-content" class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <ol>
                            <li>KEGG {% with map_data|first as first_doc %}{{ first_doc.0 }}{% endwith %} ::
                                {% with map_data|first as first_doc %}{{ first_doc.2 }}{% endwith %} ::
                                ({% with map_data|first as first_doc %}{{ first_doc.1 }}{% endwith %})
                        </ol>
                        <table>

                            {% for values in map_data%}
                                <tr>
                                <td><a href="{% url 'fam'  values.3 'ko' %}" target="_top">{{values.3}}</a></td><td>{{values.4}}</td>
                                </tr>
                            {% endfor %}


                        </table>
                    </div>
                    <div class="tab-pane" id="tab66" style="height:100%">
                        <iframe name="orthoIDframe2" id="theFrame2" scrolling="no" width="100%" height="1800px"></iframe>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <object type="image/svg+xml" style="width: 90%" data="{% static asset_path %}" id="cog_tree"></object>
                    </div>
                    <div class="tab-pane" id="tab3">
                        <object type="image/svg+xml" style="width: 90%" data="{% static asset_path2 %}" id="cog_tree2"></object>
                    </div>



                </div>

       {% endif %}

        </div>
    </div>
</div>


</body>
</html>
