<!DOCTYPE html>


<html>



<head>
{% load static %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% include "chlamdb/header.html" %}

</head>

<body>
  <div class="container-fluid" id="main_container">
    <div class="row">
      <div id="wrapper">
          <div id="page-content-wrapper">
            <div class="row">
              <div class="col-lg-12">



                {% if not valid_id %}

                    <div class="alert alert-warning" role="alert" style="width:50%"><a>Unknown accession! Accept protein ids, locus tags and orthogroup IDs</a></div>

                {% else %}

                   {%  if menu %}

                   {% include "chlamdb/menu.html" %}
                   
                   {% endif %}

                       <h3> {% with map_data|first as first_doc %}{{ first_doc.0 }}{% endwith %} </h3>
                         <div class="panel panel-success" style="width:80%; top: 400px; margin: 10px 10px 10px 10px">
                            <div class="panel-heading" style="width:100%">
                                <h3 class="panel-title">Help</h3>
                            </div>
                            <p style="margin: 10px 10px 10px 10px; line-height: 180%">
                                Informations about Kegg Module: {% with map_data|first as first_doc %}{{ first_doc.0 }}{% endwith %} <br>
                                KO list, phylogenetic profile of each KO, interactive KEGG map and external informations.
                            </p>
                        </div>
                        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab">General</a></li>
                            <li><a href="#tab2" data-toggle="tab">Profile</a></li>
                            <li><a href="#tab3" data-toggle="tab">Profile + homologs</a></li>

                            <li><a href="#tab66" data-toggle="tab" onclick="window.open('http://www.genome.jp/kegg-bin/show_module?{{module_name}}{{ko_url}}', 'orthoIDframe2'); return false">Informations</a></li>

                        </ul>

                        <div id="my-tab-content" class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <ol>
                                    <li>KEGG {% with map_data|first as first_doc %}{{ first_doc.0 }}{% endwith %} ::
                                        {% with map_data|first as first_doc %}{{ first_doc.2 }}{% endwith %} ::
                                        ({% with map_data|first as first_doc %}{{ first_doc.1 }}{% endwith %})
                                </ol>
                                <table class="display" id="ko_list">
                                    <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Description</th>
                                            </tr>
                                    </thead>
                                    <tbody>
                                        {% for values in map_data%}
                                            <tr>
                                                <td><a href="{% url 'fam'  values.3 'ko' %}" target="_top">{{values.3}}</a></td>
                                                <td>{{values.4}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tab66" style="height:100%">
                                <iframe name="orthoIDframe2" id="theFrame2" scrolling="no" width="100%" height="1800px"></iframe>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <object type="image/svg+xml" data="{% static asset_path %}" id="cog_tree"></object>
                            </div>
                            <div class="tab-pane" id="tab3">
                                <object type="image/svg+xml" data="{% static asset_path2 %}" id="cog_tree2"></object>
                            </div>

                        </div>

               {% endif %}

                </div>
            </div>
        </div>
      </div>
    </div>
  </div>




</body>


<script>

$(document).ready(function() {
$('#ko_list').DataTable( {
        dom: 'Bfrtip',
        "pageLength": 15,
        "paging":   true,
        "ordering": true,
        "info":     false,
        buttons: [
        {
            extend: 'excel',
            title: 'module_KO'
        },
        {
            extend: 'csv',
            title: 'module_KO'
        }
        ],
    } );
} );

</script>


{% include "chlamdb/style_menu.html" %}
</html>
