<!DOCTYPE html>


<html>



<head>
{% load static %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% include "chlamdb/header.html" %}

</head>

<body>
    <div class="container-fluid" id="main_container">
        <div class="row">
          <div id="wrapper">
              <div id="page-content-wrapper">
                <div class="row">
                  <div class="col-lg-12">
                     {% include "chlamdb/menu.html" %}
                     <div class="panel-title"><b>Metabolism: Kegg modules </b></div>
                    </div>
                     <br>
                     <center><p class="home-title" style="color: rgb(0, 86, 121);"><b> Kegg module: {{ module_name }} </b><a href="/docs/index.html" id="show-option" title="Discover the distribution of the Kegg entries of this Kegg module within the database "><i class="fab fa-info-circle " style="size: 5em;" ></i></a></p></center>
             <hr class="lines-home">
             {% if not valid_id %}
            

                    <div class="alert alert-warning" role="alert" style="width:50%"><a>Unknown accession! Accept protein ids, locus tags and orthogroup IDs</a></div>

                {% else %}

                         <div class="panel panel-success" style="width:100%; top: 400px; ">
                            <div class="panel-heading" style="width:100%">
                                <h3 class="panel-title">Help</h3>
                            </div>
                            <p style="margin: 10px 10px 10px 10px; line-height: 180%; ">
                                <center>This Kegg module is descriptive of <b>{{ module_descr }}</b>, it is part of the <b>{{ cat }}</b> category and <b>{{ sub_cat }}</b> subcategory.</center>
                                <br>In <b> General</b> there is the list of Ko entries of {{ module_name }} Kegg module.
                                <br>In <b>Profile</b> the annotated phylogenetic tree to visualize the distribution of the Kegg entries within the genomes of the database. 
                            </p>
                        </div>
                        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab">General</a></li>
                            <li><a href="#tab2" data-toggle="tab">Profile</a></li>
                        </ul>

                        <div id="my-tab-content" class="tab-content" style="margin-top: 1em;">
                            <div class="tab-pane active" id="tab1">
                                <table class="display" id="ko_list">
                                    <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Description</th>
                                            </tr>
                                    </thead>
                                    <tbody>
                                        {% for values in map_data%}
                                            <tr>
                                                <td><a href="{% url 'fam_ko'  values.0 %}" target="_top">{{values.0}}</a></td>
                                                <td>{{values.1}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tab66" style="height:100%">
                                <iframe name="orthoIDframe2" id="theFrame2" scrolling="no" width="100%" height="1800px"></iframe>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <object type="image/svg+xml" data="{% static asset_path %}" id="cog_tree"></object>
                            </div>
                        </div>

               {% endif %}

                </div>
            </div>
        </div>
      </div>
    </div>
  </div>




</body>


<script>

$(document).ready(function() {
$('#ko_list').DataTable( {
        dom: 'Bfrtip',
        "pageLength": 15,
        "paging":   true,
        "ordering": true,
        "info":     false,
        buttons: [
        {
            extend: 'excel',
            title: 'module_KO'
        },
        {
            extend: 'csv',
            title: 'module_KO'
        }
        ],
    } );
} );

</script>


{% include "chlamdb/style_menu.html" %}
</html>
