<!DOCTYPE html>


<html>



<head>
{% load static %}
{% load static %}
{% load custom_tags %}
{% get_static_prefix as STATIC_PREFIX %}
{% include "chlamdb/header.html" %}
</head>

<body>
  <div class="container-fluid" id="main_container">
    <div class="row">
      <div id="wrapper">
          <div id="page-content-wrapper">
            <div class="row">
              <div class="col-lg-12">
               
				<div class="container-fluid" id="main_container">

				 {% include "chlamdb/menu.html" %}

				 <h3> {{pathway}} {% if organism%}: {{organism}} {%endif%}</h3>

				  <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
					  <li class="active"><a href="#tab1" data-toggle="tab">General</a></li>
					  <li><a href="#profile_tree_tab" data-toggle="tab">Profile + homologs</a></li>
				  </ul>

				  <div id="my-tab-content" class="tab-content">
					  <div class="tab-pane active" id="tab1">
						  </br>
						  <ol> 
							  <li><a href='http://www.genome.jp/kegg-bin/show_pathway?{{url}}'>Link to KEGG website <i class="fa fa-external-link"></i></a></li>
						  </ol>

						  <h4>List of Kegg Orthologs associated to KEGG pathways {% with map_data|first as first_doc %}{{ first_doc.0 }}{% endwith %}</h4>

						  <div class="panel panel-success" style="width:80%; top: 400px; margin: 10px 10px 10px 10px">
								<div class="panel-heading" style="width:100%">
									<h3 class="panel-title">Help</h3>
								</div>
								<p style="margin: 10px 10px 10px 10px; line-height: 180%">
									The "KO coccurence" column report the number of proteins annotated with this Kegg Ortholog in the entire database. 
									Click on the KO accession to retrieve the detailed list of proteins.
								</p>
							</div>

						  <table id="ko_table">
							  <thead>
								  <tr>
									  {% for entry in header %}
										  <th> {{entry}}</th>
									  {% endfor %}
								  </tr>
							  </thead>
							  <tbody>
									{% for line in data %}
									  <tr>
										{% for entry in line %}
										<td>{{entry|safe}}</td>
										{% endfor %}
									  </tr>
									{% endfor %}
							  </tbody>
						  </table>
					  </div>
					  <div class="tab-pane" id="profile_tree_tab">

							<div class="panel panel-success" style="width:80%; top: 400px; margin: 10px 10px 10px 10px">
									<div class="panel-heading" style="width:100%">
										<h3 class="panel-title">Help</h3>
									</div>
									<p style="margin: 10px 10px 10px 10px; line-height: 180%">
										Conservation of the pathway among species of the PVC superphylum. A blue background indicate that one or multiple 
										proteins were annotated with the corresponding Kegg Ortholog using KoFamScan (<a href="https://www.genome.jp/tools/kofamkoala/">https://www.genome.jp/tools/kofamkoala/</a>).
									</p>
								</div>
						  <object type="image/svg+xml" data="{% static asset_path %}" id="profile" style="max-width:100%"></object>
				  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
{% include "chlamdb/style_menu.html" %}

<script type="text/javascript">
	$(document).ready(function() {
		$('#ko_table').DataTable( {
			dom: 'Bfrtip',
			"order": [[2, "desc" ]],
			"pageLength": 15,
			"paging":   true,
			"ordering": true,
			"info":     false,
			buttons: [
			{
				extend: 'excel',
				title: '{% with map_data|first as first_doc %}{{ first_doc.0 }}{% endwith %}'
			},
			{
				extend: 'csv',
				title: '{% with map_data|first as first_doc %}{{ first_doc.0 }}{% endwith %}'
			}
			],
		} );
	} );
</script>

</html>
