<!DOCTYPE html>


<html>



<head>
    {% load static %}
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
    {% load custom_tags %}
{% include "chlamdb/header.html" %}
</head>



<body>

  <div class="container-fluid" id="main_container">
    <div class="row">
      <div id="wrapper">
          <div id="page-content-wrapper">
            <div class="row">
              <div class="col-lg-12">
                 {% include "chlamdb/menu.html" %}
                 <div class="home-title"><b> Kegg Orthologs  </b></div>
                <hr class="lines-home">
                  <nav>
                      <ul id="tabs_main" class="nav nav-tabs">

                          <li><a href="{% url 'extract_ko' %}">Detailed comparison</a></li>
                          <li class="active"><a href="{% url 'ko_comparison' %}">Compare KO counts</a></li>
                          <li><a href="{% url 'module_barchart' %}">KO categories barchart</a></li>
                          <li><a href="{% url 'venn_ko' %}">Venn KO</a></li>
                          <li><a href="{% url 'plot_heatmap' 'ko' %}">Whole proteomes heatmaps</a></li>
                          <li><a href="{% url 'pan_genome' 'ko' %}">Pan/Core genome plots</a></li>

                      </ul>
                  </nav>

                  <div class="panel panel-success" style="width:80%; top: 200px; margin: 10px 10px 10px 10px">
                    <div class="panel-heading" style="width:100%">
                        <h3 class="panel-title">Help</h3>
                    </div>
                    <p style="margin: 10px 10px 10px 10px">  Compare Pfam domain found in selected genomes (return detailed table with Ko entry, total count, Ko annotation).
                      <br>Click on the Ko entry and list the Ko modules and pathways of which it is part.  </p>
      
                </div>
                      <form action='{% url "ko_comparison" %}' method="post">
                          {% csrf_token %}
                          {{ form.as_p }}
                          <input type="submit" value="Submit" />

                      </form>

                      {% if envoi_comp %}
                          <ul>
                              <li>Number of KO: {{n_ko}} (at least present 1 time in one of the selected genomes).</li>
                          </ul>
                              <table class="sortable" id="mytable">
                                  <style>
                                  table {
                                  width:100%;
                                  table-layout:fixed;
                                  }
                                  td {
                                  overflow: hidden;
                                  white-space: nowrap;
                                  }
                                  </style>
                                  <thead>
                                    <tr style="height:200px;">
                                        <th valign="bottom">KO</th>
                                        <th valign="bottom">Total count</th>
                                        {% for taxon in taxon_list %}
                                            <th id="entete_meta4" valign="bottom"><div class="rotate">{{taxon}}</div></th>
                                        {% endfor %}
                                        <th valign="bottom">Annot</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for key, values in ko2counts.items %}
									<tr> <td><a href="{% url 'fam_ko' ko2_print|keyvalue:key %}" target="_top">{{ko2_print|keyvalue:key}}</a></td>
                                          <td>{{ko2total_count|keyvalue:key}}</td>
                                          {% for taxon_count in values%}
                                                {%if taxon_count != 0 %}
                                                <td data-hist="{{taxon_count}}">{{taxon_count}}</td>
                                                {% else %}
                                                 <td>{{taxon_count}}</td>
                                                {% endif %}
                                          {% endfor %}
                                          <td>{{ ko2annot|keyvalue:key }}</td>
                                      </tr>
                                    {% endfor %}
                                  </tbody>
                              </table>



                      {% endif %}

              </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>
{% include "chlamdb/style_menu.html" %}
<script src="{% static 'js/jquery.hottie.js' %}"></script>
                        <script>
                        $(function(){
                        $("#mytable td").hottie({
                        readValue : function(e) {
                        return $(e).attr("data-hist");
                        },
                        colorArray : [
                        "#5858FA",
                        "#FBEFEF",
                        "#FA5858"
                        ]

                        });

                        });

                        $(document).ready(function() {
                          $('#mytable').DataTable( {
                            dom: 'lBfrtip',
                            buttons: [
                                {
                                    extend: 'colvis',
                                    columns: ':not(.noVis)',
                                },
                                {
                                    extend: 'excel',
                                    title: 'plast_refseq'
                                },
                                {
                                    extend: 'csv',
                                    title: 'plast_refseq'
                                }
                            ],
                            "paging":   false,
                            "ordering": true,
                            "info":     false,
                            } );
                        } );


                        </script>

</html>
