<!DOCTYPE html>


<html>



<head>
{% load staticfiles %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<script type="text/javascript" src="{% static 'js/tableExport.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.base64.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>-->
<script type="text/javascript" src="{% static 'js/sorttable.js' %}"></script>
<script type="text/javascript" src="{% static 'js/excellentexport.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.chained.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/jvenn.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>

<script type="text/javascript" src="{% static 'js/bootstrap-switch.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/toggle-switch.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

</head>

<body id="locus_body">

{% if not menu %}
    <div id="container_no_margin" height="100%">



{% else %}
    <div id="container" height="100%">
        <div id="content">
        <div id="sidebar">
            {% include "chlamdb/menu.html" %}
        </div>
        <div id="header">
            {% include "chlamdb/user.html" %}
        </div>

{% endif %}


        {% if not valid_id %}
            {% if menu %}
            <div id="content">
            <div id="sidebar">
                {% include "chlamdb/menu.html" %}
            </div>
            <div id="header">
                {% include "chlamdb/user.html" %}
            </div>
            {% endif %}
            <div class="alert alert-warning" role="alert" style="width:50%"><a>Unknown accession! Accept protein ids, locus tags and orthogroup IDs</a></div>
            <p>  <img height="32" width="32" src="{% static "warrning.svg" %}" alt="warrning"/>
        Some genomes where recently reannotated ba the NCBI, including the Waddlia genome.
        <a href="{% static "NC_014225_locus2old_locus.txt" %}">Locus tag orrespondance table</a></p>
       {% else %}

            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">

                {%if input_type != 'orthogroup' %}
                <li class="active"><a href="#tab1" data-toggle="tab">Overview</a></li>
                <li><a href="#tab2" data-toggle="tab">InterproScan</a></li>
                <li><a href="#tab33" data-toggle="tab">Homologs</a></li>
                {% else %}
                 <li class="active"><a href="#tab33" data-toggle="tab">Homologs</a></li>
                {% endif %}

                <li><a href="#tab66" data-toggle="tab" onclick="window.open('{% url 'orthogroup_conservation_tree' biodb data.0 %}', 'orthoIDframe'); return false">Phylogenetic distribution</a></li>
                <li><a href="#tab55" data-toggle="tab">Download</a></li>
                <li><a href="#tab66" data-toggle="tab" onclick="window.open('{% url 'orthogroup_identity' biodb data.0 True %}', 'orthoIDframe'); return false">Orthogroup conservation</a></li>
                <li><a href="#tab66" data-toggle="tab" onclick="window.open('{% url 'pfam_tree' biodb data.0 %}', 'orthoIDframe'); return false">Pfam tree</a></li>
                {% if cog_data %}
                <li><a href="#tab66" data-toggle="tab" onclick="window.open('{% url 'string_page' biodb cog_data.0 genome_accession %}', 'orthoIDframe'); return false">string interactions</a></li>
                {% endif %}
                <li><a href="#tab66" data-toggle="tab" onclick="window.open('{% url 'plot_neighborhood' biodb data.1 %}', 'orthoIDframe'); return false">Region</a></li>
                <li><a href="#tab66" data-toggle="tab" onclick="window.open('{% url 'blastnr' biodb data.1 %}', 'orthoIDframe'); return false">Blast NR</a></li>
                <li><a href="#tab66" data-toggle="tab" onclick="window.open('{% url 'interactions' biodb data.0 %}', 'orthoIDframe'); return false">Interactions</a></li>

            </ul>
            <div id="my-tab-content" class="tab-content">
            {% if input_type != 'orthogroup' %}


                <div class="tab-pane active" id="tab1">
                    <div class="panel panel-success" style="width:80% ; top: 200px; margin: 10px 10px 10px 10px">
                        <div class="panel-heading" style="width:100%">
                            <h3 class="panel-title">Help</h3>
                        </div>
                        <p style="margin: 10px 10px 10px 10px; line-height: 160%">
                            Annotatation of {{ data.2 }} <br>
                            - click on COG/Pfam/EC/Interpro links (if available) to get informations about the distribution of the corresponding domain/annotated feature in other genomes <br>
                            <a href="{% static "locus_tag2old_locus_tag.txt" %}">Old Locus tag orrespondance table</a></p>
                        </p>
                    </div>





                    <table>
                    <tr>
                    <th id="entete">Feature</th>
                    <th>Value</th>
                    </tr>
                        <tr>
                        <td>download</td>
                        <td id="entete_features">
                            <button type="button" class="btn btn-primary btn-xs" onclick="location.href='{% url 'get_orthogroup_fasta' biodb data.0 "aa"%}'">fasta aa</button>
                            <button type="button" class="btn btn-primary btn-xs" onclick="location.href='{% url 'get_orthogroup_fasta' biodb data.0 "nucl"%}'">fasta nucl</button>

                        </td>
                        </tr>
                        <tr>
                        <td>orthogroup</td>
                        <td id="entete_features">{{ data.0 }}</td>
                        </tr>

                        <tr>
                        <td>locus_tag</td>
                        <td id="entete_features">{{ data.1 }}</td>
                        </tr>
                        {% if old_locus_tag %}
                            <tr>
                            <td>old locus_tag</td>
                            <td id="entete_features">{{ old_locus_tag }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                        <td>protein_id</td>
                        <td id="entete_features">{{ data.2 }}</td>
                        </tr>

                        <tr>
                        <td>start</td>
                        <td id="entete_features">{{ data.3 }}</td>
                        </tr>
                        <tr>
                        <td>stop</td>
                        <td id="entete_features">{{ data.4 }}</td>
                        </tr>
                        <tr>
                        <td>Length</td>
                        <td id="entete_features">{{ nucl_length }} (nucleotides) / {{aa_length}} (amino acids)</td>
                        </tr>
                         <tr>
                        <td>strand</td>
                        <td id="entete_features">{{ data.5 }}</td>
                        </tr>
                        <td>gene</td>
                        <td id="entete_features">{{ data.6 }}</td>
                        </tr>
                        <td>orthogroup size</td>
                        <td id="entete_features">{{ data.7 }}</td>
                        </tr>

                        <td>n genomes</td>
                        <td id="entete_features">{{ data.8 }}</td>
                        </tr>
                        <td>TM</td>
                        <td id="entete_features">{{ data.9 }}</td>
                        </tr>
                        <td>SP</td>
                        <td id="entete_features">{{ data.10 }}</td>
                        </tr>
                        <td>Product</td>
                        <td id="entete_features">{{ data.11 }}</td>
                        </tr>
                        <td>Organism</td>
                        <td id="entete_features">{{ data.12 }}</td>
                        </tr>
                        <tr>
                        <td>Translation</td>
                        <td id="entete_features">{{ data.13 }}</td>
                        </tr>
                        <tr>
                        <td>Sequence</td>
                        <td id="entete_features">{{ seq|safe }}</td>
                        </tr>
                        <td>Comment orthogroup   <a href="{% url 'add_comment' biodb data.1 %}">  edit</a></td>
                        <td id="entete_features">
                            {% for values in cmt_format%}
                            {{values.0}}: {{values.1|safe}} </br>
                            {% endfor %}
                        </td>
                        </tr>


                        {%if cog_data %}
                            <tr>
                            <td><a href="{% url 'fam' biodb cog_data.0 'cog' %}" target="_top">COG</a></td>
                            <td><a href="http://www.ncbi.nlm.nih.gov/Structure/cdd/cddsrv.cgi?uid={{cog_data.0}}"  target="_top">{{cog_data.0}}: {{cog_data.2}} ({{cog_data.1}})</a></td>
                            </tr>
                        {% endif %}
                        {%if ko_data %}
                            <tr>
                            <td><a href="{% url 'fam' biodb ko_data.0 'ko' %}" target="_top">KO</a></td>
                            <td><a href="http://www.genome.jp/dbget-bin/www_bget?ko:{{ko_data.0}}"  target="_top">{{ko_data.0}}: {{ko_data.1}}, {{ko_data.2}}</a></td>
                            </tr>
                        {% endif %}
                        {%if pathways %}
                            <tr>
                            <td>Pathways</td>
                            <td>
                                {% for pathway in pathways %}
                                <a href="{% url 'KEGG_mapp_ko' biodb pathway %}" target="_top">{{pathway}} (ko based)</a>,
                                <a href="{% url 'KEGG_mapp' biodb pathway %}" target="_top">{{pathway}} (priam_ec based)</a>
                                {% endfor %}
                            </td>
                            </tr>
                        {% endif %}
                        {%if modules %}
                            <tr>
                            <td>Modules (ko based)</td>
                            <td>
                                {% for module in modules %}
                                <a href="{% url 'KEGG_module_map' biodb module %}" target="_top">{{module}}</a>
                                {% endfor %}
                            </td>
                            </tr>
                        {% endif %}


                        {%if pfam_data %}
                        {% for values in pfam_data %}
                            <tr>
                            <td><a href="{% url 'fam' biodb values.0 'pfam' %}" target="_top">Pfam: {{values.0}}</a></td>
                            <td id="entete_features">{{values.1}}</td>
                            </tr>

                        {% endfor %}
                        {% endif %}

                        {%if interpro_data %}
                        {% for values in interpro_data %}
                            <tr>
                            <td><a href="{% url 'fam' biodb values.0 'interpro' %}" target="_top">Interpro: {{values.0}}</a></td>
                            <td id="entete_features">{{values.1}}</td>
                            </tr>

                        {% endfor %}
                        {% endif %}

                        {%if pathway_data %}
                        {% for key, values in all_path.items %}
                            {% for v in values %}
                                {% if key == 'KEGG' %}
                                    <tr>
                                    <td>{{key}} (IP based)</td>
                                    <td id="entete_features"><a href="http://www.genome.jp/kegg-bin/show_pathway?ec{{v}}">{{v}}</a></td>
                                    </tr>
                                {% elif key == 'UniPathway' %}
                                    <tr>
                                    <td>{{key}} (IP based)</td>
                                    <td id="entete_features"><a href="http://www.unipathway.org//upa?upid={{v}}">{{v}}</a></td>
                                    </tr>
                                {% elif key == 'Reactome' %}
                                    <tr>
                                    <td>{{key}} (IP based)</td>
                                    <td id="entete_features"><a href="http://www.reactome.org/content/detail/{{v}}">{{v}}</a></td>
                                    </tr>
                                {% elif key == 'MetaCyc' %}
                                    <tr>
                                    <td>{{key}} (IP based)</td>
                                    <td id="entete_features"><a href="http://metacyc.org/META/NEW-IMAGE?type=NIL&object={{v}}">{{v}}</a></td>
                                    </tr>
                                {% else %}
                                    <tr>
                                    <td>{{key}} (IP based)</td>
                                    <td id="entete_features">{{v}}</td>
                                    </tr>
                                {% endif %}

                            {% endfor %}
                        {% endfor %}
                        {% endif %}

                    </table>
                </div>


                <div class="tab-pane" id="tab2" width="100%" height="100%">

                   <h3>Interpro</h3>

                    <table>
                        <tr>
                            <th id="entete">Analysis</th>
                            <th>Name</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Description</th>
                            <th>Interpro</th>
                        </tr>

                        {% for values in interpro_data %}
                        <tr>
                            <td>{{values.0}}</td>

                            {% if values.0 == 'SUPERFAMILY' %}
                               <td><a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid={{values.1}}" target="_parent">{{values.1}}</a></td>

                             {% elif values.0 = 'Pfam' %}
                               <td><a href="http://pfam.xfam.org/family/{{values.1}}" target="_parent">{{values.1}}</a></td>

                             {% elif values.0 = 'SMART' %}
                               <td><a href="http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC={{values.1}}&BLAST=DUMMY" target="_parent">{{values.1}}</a></td>

                             {% elif values.0 = 'Gene3D' %}
                               <td><a href="http://www.cathdb.info/version/latest/superfamily/{{values.1|slice:"6:"}}" target="_parent">{{values.1}}</a></td>

                             {% elif values.0 = 'ProSiteProfiles' %}
                               <td><a href="http://prosite.expasy.org/{{values.1}}" target="_parent">{{values.1}}</a></td>

                             {% elif values.0 = 'ProSitePatterns' %}
                               <td><a href="http://prosite.expasy.org/{{values.1}}" target="_parent">{{values.1}}</a></td>

                             {% elif values.0 = 'PRINTS' %}
                               <td><a href="http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?display_opts=Prints&category=None&queryform=false&prints_accn={{values.1}} " target="_parent">{{values.1}}</a></td>

                             {% elif values.0 = 'TIGRFAM' %}
                               <td><a href="http://www.jcvi.org/cgi-bin/tigrfams/HmmReportPage.cgi?acc={{values.1}}" target="_parent">{{values.1}}</a></td>

                            {% else %}
                                 <td>{{values.1}}</td>

                            {% endif %}
                            <td>{{values.2}}</td>
                            <td>{{values.3}}</td>
                            <td>{{values.4}}</td>
                            {% if values.5 != '0' %}

                               <td><a href="http://www.ebi.ac.uk/interpro/entry/{{values.5}}">{{values.5}}: {{values.6}}</a></td>
                            {% else %}
                               <td>-</td>
                            {% endif %}

                        </tr>
                        {% endfor %}

                    </table>
                    {% static "" as baseUrl %}
                    {% if interpro_protein %}
                        <iframe src="{{ baseUrl }}/{{biodb}}/interpro/{{data.2}}.html" width="100%" height="2000px" frameborder="0" hspace="0" vspace="0" scrolling="no"></iframe>
                    {% else %}
                        <iframe src="{{ baseUrl }}/{{biodb}}/interpro/{{data.1}}.html" width="100%" height="2000px" frameborder="0" hspace="0" vspace="0" scrolling="no"></iframe>
                    {% endif %}

                </div>



            <div class="tab-pane" id="tab33">
            <!-- if only group information is asked, homologs tabs become the active tab -->
        {% else %}

            <div class="tab-pane active" id="tab33">
        {% endif %}

            {% if not orthologs %}
                <h2>Homologs</h2>
                No homologs
            {% else %}
                <h2>Homologs</h2>
                <ol>
                    <li>{{homologues|length}} homologs</li>
                </ol>
            {% endif %}

                        <div id="export_bouttons">
                            <a download="biodb_search.xls" href="#" onclick="return ExcellentExport.excel(this, 'homologues_table', 'search');" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;">Export to Excel</a>
                            <a download="biodb_search.csv" href="#" onclick="return ExcellentExport.csv(this, 'homologues_table');" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;"">Export to CSV</a>
                        <br/>
                        </div>

                       <table id="homologues_table" class="sortable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th id="entete_locus">Orthogroup</th>
                                    <th id="entete_gene">ID(%)</th>
                                    <th id="entete_locus">Locus</th>
                                    <th id="entete_locus">Protein id</th>
                                    <th id="entete_gene">Start</th>
                                    <th id="entete_gene">Stop</th>
                                    <th id="entete_strand">S.</th>
                                    <th id="entete_gene">Gene</th>
                                    <th id="entete_n">nH</th>
                                    <th id="entete_n">nG</th>
                                    <th id="entete_n">TM</th>
                                    <th id="entete_n">SP</th>
                                    <th id="entete_product">Product</th>
                                    <th id="entete_organism">Organism</th>
                                    <th id="entete_translation">Translation</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for values in homologues %}
                                {% load static %}
                                {% get_static_prefix as STATIC_PREFIX %}
                                    <tr>
                                        <td>{{values.0}}</td>
                                        <td>{{values.1}}</td>
                                        <td>{{values.15}}</td>
                                        <td><a href="{% url 'locusx' biodb values.2 True %}" target="_top">{{values.2}}</a></td>
                                        <td><a href="http://www.ncbi.nlm.nih.gov/protein/{{values.3}}" target="_top">{{values.3}}</a></td>
                                        <td>{{values.4}}</td>
                                        <td>{{values.5}}</td>
                                        <td>{{values.6}}</td>
                                        <td>{{values.7}}</td>
                                        <td>{{values.8}}</td>
                                        <td>{{values.9}}</td>
                                        <td>{{values.10}}</td>
                                        <td>{{values.11}}</td>
                                        <td>{{values.12}}</td>
                                        <td>{{values.13}}</td>
                                        <td>{{values.14}}</td>
                                    </tr>

                                {% endfor %}
                            </tbody>
                        </table>
        </div>

            <div class="tab-pane" id="tab55">
                            <h2>Sequences</h2>
                            <table>
                                 <tr>
                                    <td id="entete_sequences"><a href="{% static fasta %}">Protein sequences (fasta)</a> </td>
                                </tr>
                                <tr>
                                    <td><a href="{% static alignment %}">Protein alignment (html)</a> </td>
                                </tr>
                                <tr>
                                    <td><a href="{% static alignment_fasta %}">Protein alignment (fasta)</a> </td>
                                </tr>
                                <tr>
                                    <td><a href="{% static alignment_fasta_nucl %}">Nucleotide sequences (fasta)</a> </td>
                                </tr>
                                    <td><a href="{% url "chlamdb.views.blastnr" biodb data.1  %}">BLAST NR</a> </td>
                                </tr>

                            </table>
            </div>
            <div class="tab-pane" id="tab66" style="height:2px">
            <iframe name="orthoIDframe" id="theFrame" style="height:8000px;overflow:hidden;" width="500px" height="8800px" frameborder="0" hspace="0" vspace="0" scrolling="no"></iframe>
            </div>

        </div>
        {% endif %}




    </div>
</div>





<!--
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
  var update_fields = function () {
    if ($("#id_plot_region").is(":checked")) {

        $('#id_region_size').prop('disabled', false);
    }
    else {

       $('#id_region_size').prop('disabled', 'disabled');
    }
  };
  $(update_fields);
  $("#id_plot_region").change(update_fields);
</script>
-->





</body>
</html>
