<!DOCTYPE html>


<html>



<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

</head>

<body id="locus_body">


    {% if not valid_id %}
        <section id="locus_section">
        Unknown accession!
        Accept protein ids and locus tags of CDS only
        <section>
        <!--
        Existing accessions are:
        <table>
        <tr>
        <th>accession</th>
        <th>Name</th>
        </tr>
        {% for key, value  in accession_dict.items %}
    
        <tr>
        <td>{{key}}</td>
        <td>{{value}}</td>
        </tr>


        {% endfor %}
        </ul>
        -->

    {% else %}



    {% if not plot_region %}

    <section id="locus_section">

    <table>
    <tr>
    <th id="entete">Feature</th>
    <th>Value</th>
    </tr>

        <tr>
        <td>orthogroup</td>
        <td id="entete_features">{{ data.0 }}</td>
        </tr>

        <tr>
        <td>locus_tag</td>
        <td id="entete_features">{{ data.1 }}</td>
        </tr>
        <tr>
        <td>protein_id</td>
        <td id="entete_features">{{ data.2 }}</td>
        </tr>

        <tr>
        <td>start</td>
        <td id="entete_features">{{ data.3 }}</td>
        </tr>
        <tr>
        <td>stop</td>
        <td id="entete_features">{{ data.4 }}</td>
        </tr>
         <tr>
        <td>strand</td>
        <td id="entete_features">{{ data.5 }}</td>
        </tr>
        <td>gene</td>
        <td id="entete_features">{{ data.6 }}</td>
        </tr>
        <td>orthogroup size</td>
        <td id="entete_features">{{ data.7 }}</td>
        </tr>

        <td>n genomes</td>
        <td id="entete_features">{{ data.8 }}</td>
        </tr>
        <td>TM</td>
        <td id="entete_features">{{ data.9 }}</td>
        </tr>
        <td>SP</td>
        <td id="entete_features">{{ data.10 }}</td>
        </tr>
        <td>Product</td>
        <td id="entete_features">{{ data.11 }}</td>
        </tr>
        <td>Organism</td>
        <td id="entete_features">{{ data.12 }}</td>
        </tr>
        <tr>
        <td>Translation</td>
        <td id="entete_features">{{ data.13 }}</td>
        </tr>


    </table>

    {% if orthologs %}



    <h2>Sequences</h2>
    <table>
    <tr>
    <td id="entete_sequences"><a href="{% static fasta %}">Protein sequences (fasta)</a> </td>
    </tr>
    <tr>
    <td><a href="{% static alignment %}">Protein alignment (html)</a> </td>
    </tr>
    <tr>
    <td><a href="{% static alignment_fasta %}">Protein alignment (fasta)</a> </td>
    </tr>
    <tr>
    <td><a href="{% static alignment_fasta_nucl %}">Nucleotide sequences (fasta)</a> </td>
    </tr>
    </table>






    <div id="export_bouttons">
    <a download="locus_{{ data.1 }}.xls" href="#" onclick="return ExcellentExport.excel(this, 'search_table', 'search');" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;">Export to Excel</a>
    <a download="locus{{ data.1 }}.csv" href="#" onclick="return ExcellentExport.csv(this, 'search_table');" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;">Export to CSV</a>
    <br/>
    </div>

    <table id="search_table" class="sortable">
    <h2>Homologs</h2>
    <thead>
    <tr>
    <th></th>
    <th id="entete_locus" class="rotate">Orthogroup</th>
    <th id="entete_gene" class="rotate">ID(%)</th>
    <th id="entete_locus" class="rotate">Locus</th>
    <th id="entete_locus" class="rotate">Protein id</th>
    <th id="entete_gene" class="rotate">Start</th>
    <th id="entete_gene" class="rotate">Stop</th>
    <th id="entete_strand" class="rotate">S.</th>
    <th id="entete_gene" class="rotate">Gene</th>
    <th id="entete_n" class="rotate">nH</th>
    <th id="entete_n" class="rotate">nG</th>
    <th id="entete_n" class="rotate">TM</th>
    <th id="entete_n" class="rotate">SP</th>
    <th id="entete_product" class="rotate">Product</th>
    <th id="entete_organism" class="rotate">Organism</th>
    <th id="entete_translation" class="rotate">Translation</th>

    </tr>
    </thead>
    <tbody>
    {% for values in homologues %}
        <tr>
        <td>{{values.0}}</td>

        <td>{{values.1}}</td>
        <td>{{values.15}}</td>
        <td>{{values.2}}</td>
	    <td><a href="http://www.ncbi.nlm.nih.gov/protein/{{values.3}}">{{values.3}}</td>
	    <td>{{values.4}}</td>
        <td>{{values.5}}</td>
        <td>{{values.6}}</td>
	    <td>{{values.7}}</td>
	    <td>{{values.8}}</td>
        <td>{{values.9}}</td>
        <td>{{values.10}}</td>
        <td>{{values.11}}</td>
        <td>{{values.12}}</td>
        <td>{{values.13}}</td>
        <td>{{values.14}}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>



    {% else %}
    <h2>Homologs</h2>
    No homologs

    {% endif %}
    {% endif %}
    {% endif %}

    {% if plot_region %}
    &nbsp
    <h2>Region</h2>
    {% load static %}
    <img src="{% static name %}" id="genomic_region" />
    {% endif %}


</section>






<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sorttable.js' %}"></script>
<script type="text/javascript" src="{% static 'js/excellentexport.js' %}"></script>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
  var update_fields = function () {
    if ($("#id_plot_region").is(":checked")) {

        $('#id_region_size').show();
        $('#id_genomes').show();
       $('label[for="id_genomes"]').show();
       $('label[for="id_region_size"]').show();

    }
    else {

       $('#id_region_size').hide();
       $('#id_genomes').hide();
       $('label[for="id_genomes"]').hide();
       $('label[for="id_region_size"]').hide();
    }
  };
  $(update_fields);
  $("#id_plot_region").change(update_fields);
</script>



<!--
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
  var update_fields = function () {
    if ($("#id_plot_region").is(":checked")) {

        $('#id_region_size').prop('disabled', false);
    }
    else {

       $('#id_region_size').prop('disabled', 'disabled');
    }
  };
  $(update_fields);
  $("#id_plot_region").change(update_fields);
</script>
-->





</body>
</html>
