

{% load staticfiles %}


<div id="wrapper">
    <ul class="menu">

        <li class="item4"><a href="{% url 'home' biodb %}">Home</a>

        </li>

        <li class="rollmenu"><a href="">Search</a>
             <ul>
            <li class="item5"><a href="{% url 'homology' biodb %}">Get homologues</a>
            </li>
            <li class="item5"><a href="{% url 'blast' biodb %}">Blast</a>
            </li>
            <li class="item6"><a href="{% url 'search' biodb %}">Text search</a>
            </li>
            <!--<li class="item6"><a href="{% url 'motif_search' biodb %}">Motif search</a>-->
            <!--</li>-->
            <li class="item6"><a href="{% url 'interpro' biodb %}">Interpro search</a>
            </li>
            <li class="item6"><a href="{% url 'extract_region' biodb %}">Retrieve sequence</a>
            </li>


            <!--<li class="item6"><a href="{% url 'primer_search' biodb %}">Primer search</a>->
            <!--</li>-->


            </ul>
        </li>

        <li class="rollmenu"><a href="">Comparisons</a>

             <ul>

            <li class="item6"><a href="{% url 'extract_orthogroup' biodb %}">Orthogroups</a>
            </li>
            <li class="item6"><a href="{% url 'extract_cog' biodb %}">COGs</a>
            </li>
            <li class="item6"><a href="{% url 'extract_pfam' biodb %}">Pfam domains</a>
            </li>
            <li class="item6"><a href="{% url 'extract_interpro' biodb %}">Interpro entries</a>
            </li>
            <li class="item6"><a href="{% url 'extract_EC' biodb %}">EC numbers</a>
            </li>
            <li class="item6"><a href="{% url 'extract_ko' biodb %}">Kegg Orthologs</a>
            </li>

            </ul>
        </li>

        <li class="rollmenu"><a href="">Plots</a>

             <ul>
                <li class="item5"><a href="{% url 'plot_region' biodb %}">Plot region</a>
                </li>
                <li class="item6"><a href="{% url 'circos' biodb %}">Circos</a>
                </li>
                <li class="item6"><a href="{% url 'circos2genomes' biodb %}">Circos 2 genomes</a>
                </li>
                <!--<li class="item5"><a href="{% url 'circos_homology' biodb %}">Homologues location</a>-->
                <!--</li>-->
                <li class="item5"><a href="{% url 'mummer' biodb %}">Dot plots</a>
                </li>
            </ul>

        <li class="rollmenu"><a href="">Metabolism</a>
            <ul>
                <li class="item5"><a href="{% url 'priam_kegg' biodb %}">Kegg maps</a>
                </li>
                <li class="item5"><a href="{% url 'metabo_overview' biodb %}">Metabo comparisons</a>
                </li>
                <li class="item5"><a href="{% url 'kegg_module' biodb %}">Kegg modules</a>
                </li>

            </ul>
        <li class="rollmenu"><a href="">BlastNR</a>
            <ul>
                <li class="item5"><a href="{% url 'blastnr_barchart' biodb %}">BlastNR hits</a>
                </li>
            </ul>



        </li>






    </ul>
</div>


<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
<script type="text/javascript" src="{% static 'js/jquery.chained.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tableExport.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.base64.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>-->
<script type="text/javascript" src="{% static 'js/sorttable.js' %}"></script>
<script type="text/javascript" src="{% static 'js/excellentexport.js' %}"></script>

<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/jvenn.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>

<script type="text/javascript" src="{% static 'js/bootstrap-switch.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/toggle-switch.css' %}" />
<script type="text/javascript" src="{% static 'js/downloadSVG.js' %}"></script>






<!--
<script type="text/javascript">
$(function() {

    var menu_ul = $('.rollmenu > ul'),
        menu_a  = $('.rollmenu > a');

    menu_ul.hide();

    menu_a.click(function(e) {
        e.preventDefault();
        if(!$(this).hasClass('active')) {
            menu_a.removeClass('active');
            menu_ul.filter(':visible').slideUp('normal');
            $(this).addClass('active').next().stop(true,true).slideDown('normal');
        } else {
            $(this).removeClass('active');
            $(this).next().stop(true,true).slideUp('normal');
        }
    });

});
</script>
-->

