

{% load staticfiles %}


<div id="wrapper">
    <ul class="menu">

        <li class="rollmenu"><a href="">Search</a>
             <ul>
            <li class="item5"><a href="{% url 'blast' biodb %}">Blast</a>
            </li>
            <li class="item6"><a href="{% url 'search' biodb %}">Text search</a>
            </li>
            <!--<li class="item6"><a href="{% url 'motif_search' biodb %}">Motif search</a>-->
            <!--</li>-->
            <li class="item6"><a href="{% url 'interpro' biodb %}">Interpro search</a>
            </li>
            <li class="item6"><a href="{% url 'extract_region' biodb %}">Retrieve sequence</a>
            </li>


            <!--<li class="item6"><a href="{% url 'primer_search' biodb %}">Primer search</a>->
            <!--</li>-->


            </ul>
        </li>

        <li class="rollmenu"><a href="">Comparisons</a>

             <ul>

            <li class="item6"><a href="{% url 'extract_orthogroup' biodb %}">Orthogroups</a>
            </li>
            <li class="item6"><a href="{% url 'extract_cog' biodb %}">COGs</a>
            </li>
            <li class="item6"><a href="{% url 'extract_pfam' biodb %}">Pfam domains</a>
            </li>
            <li class="item6"><a href="{% url 'extract_interpro' biodb %}">Interpro entries</a>
            </li>
            <li class="item6"><a href="{% url 'extract_EC' biodb %}">EC numbers</a>
            </li>
            <li class="item6"><a href="{% url 'extract_ko' biodb %}">Kegg Orthologs</a>
            </li>
            <li class="item6"><a href="{% url 'pairwiseid' biodb %}">PairwiseID</a>
            </li>
            </ul>
        </li>

        <li class="rollmenu"><a href="">Plots</a>

             <ul>
                <li class="item5"><a href="{% url 'plot_region' biodb %}">Plot region</a>
                </li>
                <li class="item6"><a href="{% url 'circos' biodb %}">Circos</a>
                </li>
                <li class="item6"><a href="{% url 'circos2genomes' biodb %}">Circos 2 genomes</a>
                </li>
                <!--<li class="item5"><a href="{% url 'circos_homology' biodb %}">Homologues location</a>-->
                <!--</li>-->
                <li class="item5"><a href="{% url 'mummer' biodb %}">Dot plots</a>
                </li>
            </ul>

        <li class="rollmenu"><a href="">Metabolism</a>
            <ul>
                <li class="item5"><a href="{% url 'priam_kegg' biodb %}">Kegg maps</a>
                </li>
                <li class="item5"><a href="{% url 'metabo_overview' biodb %}">Metabo comparisons</a>
                </li>
                <li class="item5"><a href="{% url 'kegg_module' biodb %}">Kegg modules</a>
                </li>

            </ul>
        <li class="rollmenu"><a href="">BlastNR</a>
            <ul>
                <li class="item5"><a href="{% url 'blastnr_barchart' biodb %}">BlastNR hits</a>
                </li>
            </ul>
        <li class="rollmenu"><a href="">Locus interest</a>
            <ul>
                <li class="item5"><a href="{% url 'locus_int' biodb %}">Locus Int</a>
                </li>
                <li class="item5"><a href="{% url 'add_locus_int' biodb %}">ADD Locus Int</a>
                </li>
                <li class="item5"><a href="{% url 'orthogroup_annotation' biodb True%}">Orthog. annot.</a>
                </li>
                </li>
                <li class="item5"><a href="{% url 'locus_annotation' biodb True%}">Locus annot.</a>
                </li>
                <li class="item5"><a href="{% url 'locus_list2orthogroups' biodb%}">locus2group</a>
                </li>
                </li>
                <li class="item5"><a href="{% url 'blast_profile' biodb %}">blast2profile</a>
                </li>
                <li class="item5"><a href="{% url 'hmm2circos' biodb %}">hmm2circos</a>
                </li>
                <li class="item5"><a href="{% url 'hmm' biodb %}">hmm sets</a>
                </li>
                <li class="item5"><a href="{% url 'blast_sets' biodb %}">blast sets</a>
                </li>
                <li class="item5"><a href="{% url 'interactions_genome' biodb %}">locus2network</a>
                </li>
            </ul>


        </li>






    </ul>
</div>

<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="{% static 'js/jquery.chained.min.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>-->
<script type="text/javascript" src="{% static 'js/tableExport.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'js/jquery.base64.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>-->
<script type="text/javascript" src="{% static 'js/sorttable.js' %}"></script>
<script type="text/javascript" src="{% static 'js/excellentexport.js' %}"></script>

<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/jvenn.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>

<script type="text/javascript" src="{% static 'js/bootstrap-switch.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/toggle-switch.css' %}" />
<script type="text/javascript" src="{% static 'js/downloadSVG.js' %}"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.13/af-2.1.3/b-1.2.4/cr-1.3.2/fc-3.2.2/fh-3.1.2/kt-2.2.0/r-2.1.1/rr-1.2.0/sc-1.4.2/se-1.2.0/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.13/af-2.1.3/b-1.2.4/cr-1.3.2/fc-3.2.2/fh-3.1.2/kt-2.2.0/r-2.1.1/rr-1.2.0/sc-1.4.2/se-1.2.0/datatables.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.15/b-1.3.1/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.15/b-1.3.1/datatables.min.js"></script>

<script type="text/javascript" src="//cdn.datatables.net/buttons/1.2.4/js/buttons.colVis.min.js"></script>


<script type="text/javascript">
$(function() {
    // Stick the #nav to the top of the window
    var nav = $('#wrapper');
    var navHomeY = nav.offset().top;
    var isFixed = false;
    var $w = $(window);
    $w.scroll(function() {
        var scrollTop = $w.scrollTop() + 95;
        var shouldBeFixed = scrollTop > navHomeY;
        if (shouldBeFixed && !isFixed) {
            nav.css({
                position: 'fixed',
                top: 45,
                left: nav.offset().left,
                width: nav.width()
            });
            isFixed = true;
        }
        else if (!shouldBeFixed && isFixed)
        {
            nav.css({
                position: 'static'
            });
            isFixed = false;
        }
    });
});
</script>


