<!DOCTYPE html>


<html>



<head>
{% load staticfiles %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% load custom_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

</head>

<body style="margin:0px;padding:0px;overflow:hidden">
<div id="container">


           <div id="content">


                <div id="sidebar">
                    {% include "chlamdb/menu.html" %}
                </div>
                <div id="header">
                    {% include "chlamdb/user.html" %}
                </div>

                   <nav>
                        <ul id="tabs_main" class="nav nav-tabs">
                            <li><a href="{% url 'kegg_module' %}">Category Heatmap</a></li>
                            <li class="active"><a href="{% url 'kegg_module_subcat' %}">Sub Category Heatmap</a></li>
                            <li><a href="{% url 'module_comparison' %}">Compare strains</a></li>
                        </ul>
                    </nav>



                   <form action='{% url "kegg_module_subcat" %}' method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" />

                    </form>

                    {%if envoi %}
                       <h3>{{ fam }} </h3>

                        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab">Profile</a></li>
                        </ul>

                        <div id="my-tab-content" class="tab-content">


                            <div class="tab-pane active" id="tab2">
                                <object type="image/svg+xml" data="{% static asset_path %}" id="metabo_tree" style="width:98%;"></object>
                            </div>


                        </div>
                    {%endif%}

        </div>
    </div>
</div>


</body>
</html>
