<!DOCTYPE html>


<html>



<head>
{% load static %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% load custom_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
{% include "chlamdb/header.html" %}
</head>

<body>
  <div class="container-fluid" id="main_container">
    <div class="row">
      <div id="wrapper">
          <div id="page-content-wrapper">
            <div class="row">
              <div class="col-lg-12">
                 {% include "chlamdb/menu.html" %}

                   <nav>
                        <ul id="tabs_main" class="nav nav-tabs">
                            <li class="active"><a href="{% url 'kegg_module' %}">Category Heatmap</a></li>
                            <li><a href="{% url 'kegg_module_subcat' %}">Sub Category Heatmap</a></li>
                            <li><a href="{% url 'module_comparison' %}">Compare strains</a></li>

                        </ul>
                    </nav>

                   <form action='{% url "kegg_module" %}' method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" />

                    </form>

                    {%if envoi %}
                       <h3>{{ fam }} </h3>

                        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab">Maps</a></li>
                            <li><a href="#tab2" data-toggle="tab">Profile</a></li>
                        </ul>

                        <div id="my-tab-content" class="tab-content">
                            <div class="tab-pane active" id="tab1">







                                <table class="display" id="module_category">
                                    <thead>
                                        <tr>
                                            <th>Category</th>
                                            <th>Map</th>
                                            <th>Description</th>
                                            <th>nEC</th>
                                            <th>nEC+</th>
                                            <th>Percentage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for category, values in category2maps.items %}
                                            {% for value0, value1 in values %}
                                            <tr>

                                                <td>{{category}}</td> <td><a href="{% url 'KEGG_module_map' value0 %}">{{value0}}</a></td><td>{{value1}}</td>
                                                {% for value in map2count|keyvalue:value0 %}
                                                    <td>{{value}}</td>
                                                {% endfor %}

                                            </tr>
                                            {% endfor %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <div class="tab-pane" id="tab2">
                                <object type="image/svg+xml" data="{% static asset_path %}" id="metabo_tree"></object>
                            </div>

                            <div class="tab-pane" id="tab66" style="height:5000px">
                                <iframe name="orthoIDframe" id="theFrame2" scrolling="no" style="overflow:hidden;height:100%;width:100%" height="100%" width="100%"></iframe>
                            </div>


                        </div>
                    {%endif%}

                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>


<script>

$(document).ready(function() {
$('#module_category').DataTable( {
        dom: 'Bfrtip',
        "order": [[2, "desc" ]],
        "pageLength": 15,
        "paging":   true,
        "ordering": true,
        "info":     false,
        buttons: [
        {
            extend: 'excel',
            title: 'module_category'
        },
        {
            extend: 'csv',
            title: 'module_category'
        }
        ],
    } );
} );

</script>

{% include "chlamdb/style_menu.html" %}
</html>
