<!DOCTYPE html>


<html>



<head>
{% load static %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% load custom_tags %}
{% include "chlamdb/header.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

</head>

<body>
  <div class="container-fluid" id="main_container">
    <div class="row">
      <div id="wrapper">
          <div id="page-content-wrapper">
            <div class="row">
              <div class="col-lg-12">
                 {% include "chlamdb/menu.html" %}
                 <div class="home-title"><b> Kegg modules  </b></div>
                 <hr class="lines-home">
                   <nav>
                        <ul id="tabs_main" class="nav nav-tabs">
                            <li><a href="{% url 'kegg_module' %}">Category Heatmap</a></li>
                            <li class="active"><a href="{% url 'kegg_module_subcat' %}">Sub Category Heatmap</a></li>
                            <li><a href="{% url 'module_comparison' %}">Compare strains</a></li>
                        </ul>
                    </nav>

                    <div class="panel panel-success" style="width:80%; top: 200px; margin: 10px 10px 10px 10px">
                      <div class="panel-heading" style="width:100%">
                          <h3 class="panel-title">Help</h3>
                      </div>
                      <p style="margin: 10px 10px 10px 10px">  Select a Kegg subcategory and display a phylogenetic tree annotated with a heatmap of the distribution of the corrispong Ko entries. </p>
                  </div>

                   <form action='{% url "kegg_module_subcat" %}' method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" />

                    </form>

                    {%if envoi %}
                       <h3>{{ fam }} </h3>

                        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab">Profile</a></li>
                        </ul>

                        <div id="my-tab-content" class="tab-content" style="height:1000px">


                            <div class="tab-pane active" id="tab2" style="height:1000px">
                                <object type="image/svg+xml" data="{% static asset_path %}" id="metabo_tree"></object>
                            </div>


                        </div>
                    {%endif%}

                </div>
            </div>
        </div>
      </div>
    </div>
  </div>


</body>
{% include "chlamdb/style_menu.html" %}
</html>
