<!DOCTYPE html>


<html>



<head>
    {% load static %}
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
    {% load custom_tags %}

    {% include "chlamdb/header.html" %}

</head>
<body>

  <div class="container-fluid" id="main_container">
    <div class="row">
      <div id="wrapper">
          <div id="page-content-wrapper">
            <div class="row">
              <div class="col-lg-12">
                 {% include "chlamdb/menu.html" %}

                   <nav>
                        <ul id="tabs_main" class="nav nav-tabs">
                            <li><a href="{% url 'kegg_module' %}">Category Heatmap</a></li>
                            <li><a href="{% url 'kegg_module_subcat' %}">Sub Category Heatmap</a></li>
                            <li class="active"><a href="{% url 'module_comparison' %}">Compare strains</a></li>
                        </ul>
                    </nav>

                    <form action='{% url "module_comparison" %}' method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Submit" />

                    </form>

                    {% if envoi_comp %}

                    <table class="table" id="table_modules">
                        <style>
                            table {
                                width:100%;
                                table-layout:fixed;
                            }
                            td {
                                overflow: hidden;
                                white-space: nowrap;
                            }

                                .header th {
                                  height: 250px;
                                  line-height: 2px;
                                }

                        </style>
                          <thead class="header">
                            <tr>
                                <th id="entete_meta6">Category</th>
                                <th id="entete_meta5">SubCategory</th>
                                <th id="entete_meta2" >Map</th>
                                <th id="entete_meta3">Description</th>
                                <th id="entete_meta4">nKO</th>
                                <th id="entete_meta4">nKO+</th>
                                <th id="entete_meta4">%</th>
                                {% for taxon in taxon_list %}
                                    <th id="entete_meta4" valign="bottom"><div class="rotate">{{ taxon_id2description|keyvalue:taxon}}</div></th>
                                {% endfor %}
                            </tr>
                          </thead>
                          <body>
                            {% for category, values in category2maps.items %}
                                {% for value0, value1 in values %}
                                <tr>

                                    <td>{{category}}</td><td>{{module2sub_category|keyvalue:value0}}</td>
                                    <td><a href="{% url 'KEGG_module_map' value0 %}">{{value0}}</a></td>
                                    <td>{{value1}}</td>
                                    {% for value in map2count|keyvalue:value0 %}
                                    
                                        <td>{{value}}</td>
                                    {% endfor %}
                                    {%for map_dico in taxon_maps %}
                                        {% if map_dico|keyvalue:value0 == None %}
                                        <td data-hist="None">0</td>
                                        {% else %}
                                        <td data-hist="{{map_dico|keyvalue:value0}}">{{map_dico|keyvalue:value0}}</td>
                                        {% endif %}
                                    {% endfor %}

                                </tr>
                                {% endfor %}
                            {% endfor %}
                          </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'js/jquery.hottie.js' %}"></script>


</body>

<script>

  $(document).ready(function() {

    $("#table_modules td").hottie({
          readValue : function(e) {
            return $(e).attr("data-hist");
          },
        colorArray : [
            "#5858FA",
            "#FBEFEF",
            "#FA5858"
        ]
        });

        $('#table_modules').DataTable( {
        dom: 'Bfrtip',
        "paging":   false,
        "ordering": true,
        "info":     false,
        buttons: [

        {
            extend: 'colvis',
            columns: ':not(.noVis)',
        },

          {
              extend: 'excel',
              title: 'table_tcdb'
          },
          {
              extend: 'csv',
              title: 'table_tcdb'
          }
        ],
        "columnDefs": [
    { "width": "15", "targets": 2 },
    { "width": "15", "targets": 4 },
    { "width": "15", "targets": 5 },
    { "width": "15", "targets": 6 },
    { "width": "5", "targets": 7 },
    { "width": "5", "targets": 8 },
    { "width": "5", "targets": 9 },
    { "width": "5", "targets": 10 }
  ]        
        } );
        } );
  
  </script>

{% include "chlamdb/style_menu.html" %}
</html>
