{% load static %}
{% load custom_tags %}

<h3>Distribution of {{orthogroup}} homologs</h3>


<div class="tab-pane active" id="tab1">
  <div class="panel panel-success" style="width:100%; top: 200px; margin: 10px 10px 10px 10px">
	  <div class="panel-heading" style="width:100%">
		  <h3 class="panel-title">Help</h3>
	  </div>
	  <p style="margin: 10px 10px 10px 10px; line-height: 180%"> Number of homologs (first column and blue bar chart) in each genome.</p>
  </div>

  <object type="image/svg+xml" data="{% static asset_path %}"></object>

  <a download="profile.svg" class="btn" href="{% static asset_path %}"><i class="fa fa-download"></i> Download SVG</a>

</div>
