<!DOCTYPE html>


<html>
    <head>
        <script type="text/javascript" id="js">
            $(document).ready(function() {
            // call the tablesorter plugin
            $("table").tablesorter({
            // change the default sorting order from 'asc' to 'desc'
            sortInitialOrder: 1
            });
            });
        </script>

    </head>


    <div id="container">


        <div id="sidebar">
            {% include "chlamdb/menu.html" %}
        </div>

        <div id="header">
            {% include "chlamdb/user.html" %}
        </div>

        <div id="content">




                     <div id="extract_form">

                        <form action="{% url "chlamdb.views.orthogroup_annotation" biodb %}" method="post">

                        <div class="panel panel-success" style="width:80%; top: 200px; margin: 10px 10px 10px 10px">
                            <div class="panel-heading" style="width:100%">
                                <h3 class="panel-title">Help</h3>
                            </div>
                            <p style="margin: 10px 10px 10px 10px">Get annotations from a list of orthogroups (comma sep?)</p>
                        </div>

                        {% csrf_token %}
                        {{ form.as_p }}
                         <input type="submit" name="annot" value="Get annotation"/>
                         </form>
                    </div>

            {% if envoi_annot %}

                    <div>


                        <div id="export_bouttons_groups">
                            <a download="biodb_extract.xls" href="#" onclick="return ExcellentExport.excel(this, 'table_groups', 'search');" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;">Export to Excel</a>

                            <a download="biodb_extract.csv" href="#" onclick="return ExcellentExport.csv(this, 'table_groups');" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;"">Export to CSV</a>
                            <br/>
                        </div>

                        <p>Number of orthogroups: {{ sum_group }} </p>

                        <table class="sortable" id="table_groups">

                            <thead>
                                <tr>
                                <th></th>
                                <th id="entete_locus">Orthogroup</th>
                                <th>Genes</th>
                                <th>Products</th>
                                <th>Cogs</th>
                                <th>Pfam</th>
                                </tr>
                            </thead>

                            {% for value in match_groups_data %}
                                <tr>
                                    <td>{{value.0}}</td>
                                    <td><a href="{% url 'locusx' biodb value.1 True%}">{{value.1}}</a></td>
                                    <td>{{value.2|safe}}</td>
                                    <td>{{value.3|safe}}</td>
                                    <td>{{value.4|safe}}</td>
                                    <td>{{value.5|safe}}</td>

                                </tr>
                            {% endfor %}
                        </table>
                    </div>
            {% endif %}
        </div>
    </div>



    <div id="footer">

    </div>

    </body>
</html>
