<!DOCTYPE html>


<html>



<head>
    {% load staticfiles %}
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
    {% include "chlamdb/header.html" %}

</head>

<body>
    {% if not no_tree %}
    <h3>Phylogeny:</h3>

    <a download="profile.svg" class="btn" href="{% static asset_path %}"><i class="fa fa-download"></i> Download SVG</a>
    <a onclick='exportPNG("pfam_tree", "pfam_tree");' class="btn" id="png_button"><i class="fa fa-download"></i> Download PNG</a>

    <div id="pfam_tree_div">
        <object type="image/svg+xml" data="{% static asset_path %}" id="pfam_tree" style="width:90%"></object>
    </div>
    <div  id="pfam_table_div">
        <h3>Motifs:</h3>


        <table class="table">
            <thead>
            <tr>
                <th>Pfam domain</th>
                <th>Count</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% for key, values in motif_count.items %}
            <tr>
                <td><a href="{% url 'fam' key "pfam" %}" target="_top">{{key}}</a></td>
                <td>{{values.0}}</td>
                <td>{{values.1}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    No tree for {{orthogroup}}
    {% endif %}
</body>
</html>
