<!DOCTYPE html>


<html>

{% load staticfiles %}
<body height="4000px">

                <h3><a href="{% url 'get_pfam_taxon_table' pfam_domain %}">==> get detailed table</a></h3>


               <div>
                   {% if rank == 'phylum'%}
                    <object type="image/svg+xml" data="{% static asset_path %}" id="pfam_tree" style="width: 800px"></object>
                   {%else %}
<object type="image/svg+xml" data="{% static asset_path %}" id="pfam_tree" style="width: 1200px"></object>

                   {%endif%}
               </div>
</body>
</html>
