<!DOCTYPE html>


<html>

<head>

<meta name="description" content="A comparative genomics database of the phylum Chlamydiae and other PVC (Planctomycetes, Verrucomicrobia, Lentisphaerae).">
   <link rel= "stylesheet" href="style_home.css">
    {% load static %}
    {% load custom_tags %}
    {% include "chlamdb/header.html" %}
    {% include "chlamdb/style_menu.html" %}
 
</head>

<body>
    <div class="container-fluid" id="main_container">
      <div class="row">
        <div id="wrapper">
            <div id="page-content-wrapper">
              <div class="row">
                <div class="col-lg-12">
                   {% include "chlamdb/menu.html" %}
  
                                  <div class= 'img'>
                                    <object type="image/svg+xml" data="{% static asset_path %}" id="pyhlogeny" style="width:80%; padding:2em 4em 0em 4em;"></object>
                                  </div>
                                  <a download="species_phylogeny.svg" class="btn" href="{% static asset_path %}"><i class="fa fa-download"></i> Download SVG</a>
                                  <div class="panel panel-success" style="  width:100%">
                                      <div class="panel-heading" style="width:100%;">
                                          <h3 class="panel-title">Help</h3>
                                      </div>
  
                                      <p style="padding:1em 3em 1em 1em; line-height: 160% ; width:100%" >The phylogeny was built based on concatenated single copy orthologs with FastTree (default parameters). Nodes with black dots have support values lower than 1. 
                                      The percentage of non-coding DNA of fragmented genomes was calculated based on data from contigs larger than 10 kilo bases. The completeness and contamination of each genome were estimated with <a href="https://ecogenomics.github.io/CheckM/">checkM</a> based on the identification of 104 "universal" marker genes.</p>
                                      </p>
                                  </div>
                              
                                
                 </div>
             </div>
      </div>
     </div>


		 </div>
	 </div>
</div>
</div>

</body>
</html>
