<!DOCTYPE html>


<html>



<head>
{% load staticfiles %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script type="text/javascript" src="{% static 'js/tableExport.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.base64.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}"></script>
    <!--<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'js/sorttable.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/excellentexport.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.chained.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/jvenn.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>

    <script type="text/javascript" src="{% static 'js/bootstrap-switch.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/toggle-switch.css' %}" />


</head>


       <h3>{{ fam }} </h3>




            <div id="export_bouttons">
                <a download="region.svg" href="{% static name %}" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;">Export to SVG</a>
                <a download="region.png" href="{% static name_png %}" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;">Export to PNG</a>

                <br/>
            </div>

                <object width="95%"  type="image/svg+xml" style="margin-left: -30px" data="{% static name %}" id="genomic_region"></object>

                <div class="row">

                    <div class="col-xs-3" style="padding-left: 15px">

                        <div class="panel panel-success" style="width:80% ; top: 200px; margin: 10px 10px 10px 10px">
                            <div class="panel-heading" style="width:100%">
                                <h3 class="panel-title">Help</h3>
                            </div>
                            <p style="margin: 0px 0px 0px 10px">Plot neighboring of the considered gene. Click to get more information about any of the ORFs. <br>
                            The plot below report conservation of each neighbor protein in all other genomes. Numbers indicate the counts of homologous proteins in the corresponding genome.
                            </p>
                        </div>

                    </div>
                    <div class="col-xs-6" style="padding-left: 15px">
                        <object width="100%" height="80%" align="left" style="margin-left: 0px" type="image/svg+xml" data="{% static asset_path %}" id="orthogroup_tree"></object>
                    </div>
                </div>





</body>
<script>

var svg = document.getElementsByTagName('object')[1].contentDocument.getElementsByTagName('svg')[0];
svg.removeAttribute('width');
svg.removeAttribute('height');

</script>
</html>
