<!DOCTYPE html>


<html>
<head>
{% load static %}
{% load static %}
{% load crispy_forms_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.js'></script>
<script src="{% static 'js/circos.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js" integrity="sha512-yocoLferfPbcwpCMr8v/B0AB4SWpJlouBwgE0D3ZHaiP1nuu5djZclFEIj9znuqghaZ3tdCMRrreLoM8km+jIQ==" crossorigin="anonymous"></script>


{% include "chlamdb/header.html" %}
</head>
<body>

  <div class="container-fluid" id="main_container">
    <div class="row">
      <div id="wrapper">
          <div id="page-content-wrapper">
            <div class="row">
              <div class="col-lg-12">
                 {% include "chlamdb/menu.html" %}
                 <div class="panel-title"><b>Genome alignments: Plot region</b></div>
                 
                 <br>
                 <br>
                 <center><p class="home-title" style="color: rgb(0, 86, 121);"><b>Plot genomic features in the neighborhood of a target locus </b><a href="/docs/index.html" id="show-option" title="INPUT: locus tag or protein ID"><i class="fab fa-info-circle " style="size: 5em;" ></i></a></p></center>
 			  
                  <div style="width: 100%;">
                    <div class="row">
                      <div  class="col-md-12" style="padding-left: 15px">

                        {% block content %}
                        <form action='{% url "plot_region" %}' method="post">
                            {% csrf_token %}
                            {% crispy form %}
                        </form>
                        {% endblock %}

                      </div>
                    </div>

                    <div class="row">
                      <div  class="col-md-12 col-lg-12" style="padding-left: 15px">

            {% if error %}
				  <div class="alert alert-info fade in" style="width:80%;  margin: 10px 10px 10px 10px">
					  <a href="#" class="close" data-dismiss="alert">&times;</a>
					  <strong> Error: </strong>
					  <ul>
					  {% for error_msg in errors %}
						  <li> {{error_msg}} </li>
					  {% endfor %}
					  </ul>
				  </div>
          {% endif %}
          
            {% if envoi %}
            <div class="row">
              <div class="col-lg-12">
                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                  <br>
                  <div class="panel panel-success">
                    <div class="panel-heading" style="width:100%">
                        <h5 class="panel-title">Help to interpret the results</h5>
                    </div>
                    <p style="margin: 10px 10px 10px 10px">
                      The generated plot shows a genomic feature in the neighborhood of a target locus along the selected genomes. Links are coloured wiht a scale of gray reflecting the sequence identity:
                      dark gray for highly conserved, light grey for features with less identity. Click on the link to visualise the percentage of identity.                       <br> Homolog counts can be reordrered by clicking on column headers.<br>
                      <strong>Note!</strong> If the target locus has no homolog in the selected genome(s), the plot cannot be drown (it will only display the reference locus region).
                    </p>
                </div>
               </div>
						 
						  <div id="div_alignment"> 
						  </div>
					  {% endif %}
					</div>

              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


<script>

{% if envoi %}
var regions = {{genomic_regions|safe}};
var to_highlight = {{to_highlight|safe}};
var connections = {{connections | safe}};
var window_size = {{window_size}};
var ident_range = [{{min_ident}}, {{max_ident}}];

createGenomicRegion(d3.select("#div_alignment"), regions, connections,
	to_highlight, window_size, ident_range);

{% endif %}

</script>

</html>
