<!DOCTYPE html>


<html>



<head>
{% load static %}

</head>

<body>

<div id="container">

    <div id="content">

            <h2>Region</h2>

            {% load static %}

                    <div id="export_bouttons">
                        <a download="region.svg" href="{% static name %}" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;">Export to SVG</a>
                        <a download="region.png" href="{% static name_png %}" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;">Export to PNG</a>

                        <br/>
                    </div>

                    <a href="#">
                    <object type="image/svg+xml" data="{% static name %}" id="genomic_region"></object>
                    </a>
    </div>
</div>

</body>

</html>
