<!DOCTYPE html>


<html>



<head>
{% load static %}
{% load crispy_forms_tags %}
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>

{% include "chlamdb/header.html" %}

</head>

<body>

  <div class="container-fluid" id="main_container">
    <div class="row">
      <div id="wrapper">
          <div id="page-content-wrapper">
            <div class="row">
              <div class="col-lg-12">
                 {% include "chlamdb/menu.html" %}


                  <div class="panel panel-warning" style="width:80% ; top: 200px; margin: 10px 10px 10px 10px">
                      <div class="panel-heading" style="width:100%">
                          <h3 class="panel-title">Help</h3>
                      </div>
                      <p style="margin: 0px 0px 0px 10px">Plot genomic features in the neighborhood of a target locus. Coloured links reflect sequence identity:
                          dark blue features are highly conserved, grey features present less than 50% identity</p>
                      <p style="margin: 0px 0px 0px 10px">INPUT: locus tag or protein ID.</p>
                  </div>


                      <div class="alert alert-info fade in" style="width:80%;  margin: 10px 10px 10px 10px">
                          <a href="#" class="close" data-dismiss="alert">&times;</a>
                          <strong>Note!</strong> If the target locus has no homolog in the selected genome(s), the plot cannot be drown (it will only display the reference locus region).
                      </div>



                  <div style="width: 100%;">
                    <div class="row">
                      <div  class="col-md-12" style="padding-left: 15px">
                        {% block content %}
                        <form action="{% url "plot_region" %}" method="post">
                            {% csrf_token %}
                            {% crispy form %}
                        </form>
                        {% endblock %}
                      </div>
                    </div>
                    <div class="row">
                      <div  class="col-md-9" style="padding-left: 15px; padding-top:20px;">
                          <div id="example"><a onclick="window.open('{% url 'plot_region_direct' 'group_551' %}?t=99&t=29&t=4', 'orthoIDframe'); return false">Example: alignment of C. trachomatis D, C. avium and W. chondrophila centered on "CT_559" (YscJ, 18000bp window)</a>
                          </div>
                      </div>
                    </div>
                    <div class="row">
                      <div  class="col-md-12 col-lg-12" style="padding-left: 15px">

                              {% if envoi %}
                                  <h2>Region</h2>

                                  {% load static %}

                                  <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                                      <li class="active"><a href="#red" data-toggle="tab">Plot</a></li>
                                      <li><a href="#orange" data-toggle="tab">Annotation detail</a></li>
                                  </ul>


                                  <div id="my-tab-content" class="tab-content">
                                      <div class="tab-pane active" id="red">

                                          <div class="panel panel-success" style="width:80% ; top: 200px; margin: 10px 10px 10px 10px">
                                              <div class="panel-heading" style="width:100%">
                                                  <h3 class="panel-title">Help</h3>
                                              </div>
                                              <p style="margin: 0px 0px 0px 10px">Click on ORFs to get annotations and lists of homologs </p>
                                          </div>

                                          <div class="row">
                                            <div class="col-lg-6 col-md-12">
                                              <a download="region.svg" href="{% static name %}" class="btn" id="png_button"><i class="fa fa-download"></i> Export to SVG</a>
                                              <a download="region.png" href="{% static name_png %}" class="btn" id="png_button"><i class="fa fa-download"></i> Export to PNG</a>

                                            </div>
                                            <div class="col-lg-6 col-md-12">
                                              <img src="{% static "/scales/scale_blues_20_100.png" %}" id="circos_legend"  width="160" style="position: relative; top: 0; left: 0;">
                                            </div>
                                          </div>
                                          <div>


                                              <a href="#">
                                              <object type="image/svg+xml" data="{% static name %}" id="genomic_region"></object>
                                              </a>
                                          </div>
                                      </div>

                                      <div class="tab-pane" id="orange">

                                          <table id="plot_table" class="table">
                                              <thead>
                                                  <tr>
                                                      <th></th>
                                                      <th>Orthogroup</th>
                                                      <th>Locus</th>
                                                      <th>Protein id</th>
                                                      <th>Start</th>
                                                      <th>Stop</th>
                                                      <th>S.</th>
                                                      <th>Gene</th>
                                                      <th>nH</th>
                                                      <th>nG</th>
                                                      <th>TM</th>
                                                      <th>SP</th>
                                                      <th>Product</th>
                                                      <th>Organism</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                              {% for values in search_result %}
                                                  <tr>
                                                  <td>{{values.0}}</td>
                                                  <td><a href="{% url 'locusx' values.1 True%}"  target="_top">{{values.1}}</a></td>
                                                  <td><a href="{% url 'locusx' values.3 True%}"  target="_top">{{values.2}}</a></td>
                                                  <td>{{values.3}}</td>
                                                  <td>{{values.4}}</td>
                                                  <td>{{values.5}}</td>
                                                  <td>{{values.6}}</td>
                                                  <td>{{values.7}}</td>
                                                  <td>{{values.8}}</td>
                                                  <td>{{values.9}}</td>
                                                  <td>{{values.10}}</td>
                                                  <td>{{values.11}}</td>
                                                  <td>{{values.12}}</td>
                                                  <td>{{values.13}}</td>
                                                  </tr>
                                              {% endfor %}
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                      {% else %}
                     <iframe name="orthoIDframe" id="theFrame" style="height:8000px;overflow:hidden;" width="100%" height="8800px" frameborder="0" hspace="0" vspace="0" scrolling="no"></iframe>

                      {% endif %}
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<iframe name="theFrame" id="theFrame"></iframe>

</body>
{% include "chlamdb/style_menu.html" %}

<script>
  var update_fields = function () {
    if ($("#id_get_annotation").is(":checked")) {

        $('#id_region').prop('disabled', false);
        $('#table_plot_section').show();
        $('#theFrame').hide();
    }



    else {

       $('#id_get_annotation').prop('disabled', false);
       $('#table_plot_section').hide();
       $('#theFrame').show();
    }
  };
  $(update_fields);
  $("#id_get_annotation").change(update_fields);

  $(document).ready(function() {
    $('#plot_table').DataTable( {
      dom: 'lBfrtip',
      buttons: [
          {
              extend: 'colvis',
              columns: ':not(.noVis)',
          },
          {
              extend: 'excel',
              title: 'plast_refseq'
          },
          {
              extend: 'csv',
              title: 'plast_refseq'
          }
      ],
      "paging":   false,
      "ordering": true,
      "info":     false,
      } );
  } );



</script>




<style>

#example {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    width: 600px;
}

</style>


</html>
