<!DOCTYPE html>


<html>
<head>
{% load static %}
    {% load custom_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
{% include "chlamdb/header.html" %}
</head>
<body>

  <div class="container-fluid" id="main_container">
    <div class="row">
      <div id="wrapper">
          <div id="page-content-wrapper">
            <div class="row">
              <div class="col-lg-12">
                 {% include "chlamdb/menu.html" %}

                          <h3> Orthogroups associated to the same reference based on STRING data</h3>

                        <div style="padding-top:20px;padding-bottom:20px">
                          <table class="table" id="">
                            <tbody>
                                    <tr>
                                        <th>title</th>
                                        <td> <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{pmid}}" target="_top">{{paper_data.0}} </a></td>
                                    </tr>
                                    <tr>
                                        <th>journal</th>
                                        <td> {{paper_data.1}} </td>
                                    </tr>                                       
                                    <tr>
                                        <th>year</th>
                                        <td> {{paper_data.2}} </td>
                                    </tr>
                                </tbody>
                           </table>
                        </div>


                        <table class="sortable" id="pmid_orthogroups">

                                <thead>
                                    <tr>
                                    <th></th>
                                    <th id="entete_locus">Orthogroup</th>
                                    <th>Genes</th>
                                    <th>Products</th>
                                    <th>Cogs</th>
                                    <th>Pfam</th>
                                    </tr>
                                </thead>

                                {% for value in match_groups_data %}
                                    <tr>
                                        <td>{{value.0}}</td>
                                        <td><a href="{% url 'locusx' value.1 True%}">{{value.1}}</a></td>
                                        <td>{{value.2|safe}}</td>
                                        <td>{{value.3|safe}}</td>
                                        <td>{{value.4|safe}}</td>
                                        <td>{{value.5|safe}}</td>

                                    </tr>
                                {% endfor %}
                            </table>

                  </div>
                      <div class="tab-pane" id="tab1">

                          <div id="mydiv" style="float: left"></div>
                          <svg class="chart"></svg>
                      </div>

                      <div class="tab-pane" id="tab2">
                          <div id="mydiv2" style="float: left"></div>
                          <svg class="chart2"></svg>
                      </div>

                  </div>


              </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<script>

$(document).ready(function() {
$('#pmid_orthogroups').DataTable( {
    "bSortClasses": false,
    dom: 'Bfrtip',
    buttons: [
        'colvis'
    ]
    } );
} );

</script>



</body>
{% include "chlamdb/style_menu.html" %}
</html>
