<!DOCTYPE html>


<html>
<head>
{% load static %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% include "chlamdb/header.html" %}
{% load crispy_forms_tags %}

</head>

<body>
  <div class="container-fluid" id="main_container">
    <div class="row">
      <div id="wrapper">
          <div id="page-content-wrapper">
            <div class="row">
              <div class="col-lg-12">
                 {% include "chlamdb/menu.html" %}

                 <div class="row" style="padding-top:40px">

                    <div class="col-md-5 col-sm-7" >
                    <div class="serviceBox_met"  >
                        <div class="service-icon_2">
                          <span><img src="{% static '/img/icons8-dna-64.png' %}"/></span>
                        </div>
                        <h3 class="title">Genome centered modules</h3>
                        <p class="description"> List Kegg modules or Kegg modules in a genome of interest</p>
                        <br>
                        <br>
                        <div class= "col-md-4 col-sm-6">
                          <form action="{% url "priam_kegg_genomes_modules" %}" method="post">{% csrf_token %}
                            {{ form_genome.as_p }}
                            <input type="submit" value="Submit" />
                          </form>
                        </div>
                    </div>
                    </div>

                    <div class="col-md-5 col-sm-12"  >
                    <div  class="serviceBox_met" >
                      <div class="service-icon">
                        <span><img src="{% static '/img/icons8-dna-64.png' %}"/></span>
                      </div>
                      <h3 class="title" >Genome centered pathways</h3>
                      <p class="description"> List Kegg pathways or Kegg pathways in a genome of interest</p>
                      <br>
                      <br>
                      <div class= "col-md-4 col-sm-6">
                        <form action="{% url "priam_kegg_genomes" %}" method="post">{% csrf_token %}
                          {{ form_genome.as_p }}
                          <input type="submit" value="Submit" />
                        </form>
                      </div>
                    </div>
                    </div>

                </div>
       
                <br>
                <div class="row">

                  <div class="col-md-5 col-sm-7" >
                    <div class="serviceBox_met "  >
                        <div class="service-icon_2">
                          <span><img src="{% static '/img/icons8-module-70.png' %}"/></span>
                        </div>
                        <h3 class="title">kEGG Modules centered</h3>
                        <p class="description"> Discover the distribution of Kegg Modules within the genomes of the database</p>
                        <br>
                        <br>
                        <div class= "col-md-6 col-sm-6">
                          <form action="{% url "kegg_module" %}" method="post">{% csrf_token %}
                            {{ form_cat.as_p }}
                            <input type="submit" value="Submit" />
                          </form>
                          <br>
                          <b>or</b>
                          <br>
                          <br>
                          <form action="{% url "kegg_module_subcat" %}" method="post">{% csrf_token %}
                            {{ form_subcat.as_p }}
                            <input type="submit" value="Submit" />
                          </form>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-5 col-sm-12">
                   <div  class="serviceBox_met " >
                      <div class="service-icon">
                        <span><img src="{% static '/img/icons8-train-track-60.png' %}" /></span>
                      </div>
                      <h3 class="title" >kEGG Pathways centered</h3>
                      <p class="description"> Discover the distribution of Kegg patwhays within the genomes of the database</p>
                      <br>
                      <br>
                      <div class= "col-md-4 col-sm-6">
                          <div class="genome_search">
                            {% crispy form_pathway %}
                      </div>
                   </div>
                  </div>

                 </div>
              </div>

              
              <br>
              <div class="row">

                      <div class="col-md-6 col-sm-7" >
                        <div class="serviceBox_met "  >
                            <div class="service-icon_2">
                              <span><img src="{% static '/img/icons8-data-sheet-60.png' %}"/></span>
                            </div>
                            <h3 class="title">Comparative analysis</h3>
                            <p class="description"> Discover the distribution of Kegg Modules within the genomes of the database</p>
                            <br>
                            <br>
                            <div class= "col-md-6 col-sm-6">
                              <form action='{% url "module_comparison" %}' method="post">
                                {% csrf_token %}
                                {{ form_module.as_p }}
                                <input type="submit" value="Submit" />
                              </form>
                            </div>
                          </div>
                        </div>
                </div>
                    


                    
                  
                  
          </div>
        </div>
    </div>
 </div>
</div>
</div>





<script>
  $(document).ready(function() {
  $('#kegg_maps').DataTable( {
  dom: 'Bfrtip',
  "paging":   true,
  "ordering": true,
  "info":     false,
  buttons: [
    {
        extend: 'excel',
        title: 'kepp_maps'
    },
    {
        extend: 'csv',
        title: 'kepp_maps'
    }
  ],
  } );
  } );
$('.dropdown-toggle').dropdown()
</script>

</body>
{% include "chlamdb/style_menu.html" %}
</html>
