<!DOCTYPE html>


<html>
<head>
{% load static %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% include "chlamdb/header.html" %}
</head>

<body>
  <div class="container-fluid" id="main_container">
    <div class="row">
      <div id="wrapper">
          <div id="page-content-wrapper">
            <div class="row">
              <div class="col-lg-12">
                 {% include "chlamdb/menu.html" %}
                </div> 
                <br>
                 <div class="col-lg-12">
                  <table class="display" id="kegg_maps" style="width: 100%;  padding-right: 1em">
                          <thead>
                            <tr>
                            {% for element in header %}
                              <td>{{element}}</td>
                            {% endfor %}
                            </tr>
                          </thead>
                          <tbody>  
                            {% for row in data%}
                              <tr>
                              {% for element in row %}
                                <td>{{element|safe}}</td>
                              {% endfor %}
                              </tr>
                            {% endfor %}
                          </tbody> 
                      </table>
                
                  
              </div>
            </div>
          </div>
        </div>
    </div>
 </div>





<script>
  $(document).ready(function() {
  $('#kegg_maps').DataTable( {
  dom: 'Bfrtip',
  "paging":   true,
  "ordering": true,
  "info":     false,
  buttons: [
    {
        extend: 'excel',
        title: 'kepp_maps'
    },
    {
        extend: 'csv',
        title: 'kepp_maps'
    }
  ],
  } );
  } );
$('.dropdown-toggle').dropdown()
</script>

</body>
</html>
