<script type="text/javascript" id="js2">

$(document).ready(function() {

	/* only show selected genomes as possible references */
	$("#id_orthologs_in").change(function() {
		console.log("In id_orthologs_in changed");
		var x = document.getElementById("id_orthologs_in");
		var y = document.getElementById("id_orthologs_in");
		for (var i = 0; i < x.options.length; i++) {
			if(x.options[i].selected){
				$("#id_no_orthologs_in").children("option[value^=" + x.options[i].value + "]").hide();
			}else{
				if (x.options[i].text.includes('plasmid')) {
					if (y.checked) {
						$("#id_no_orthologs_in").children("option[value^=" + x.options[i].value + "]").show();
					} else {
						$("#id_no_orthologs_in").children("option[value^=" + x.options[i].value + "]").hide();
					}
				} else {
					$("#id_no_orthologs_in").children("option[value^=" + x.options[i].value + "]").show();
				}
			}
		}
		var x=document.getElementById("id_no_orthologs_in");
		for (var i = 0; i < x.options.length; i++) {
			if(x.options[i].selected) {
				$("#id_orthologs_in").children("option[value^=" + x.options[i].value + "]").hide();
			}
		}
		$("#id_no_orthologs_in").selectpicker('refresh');
		$("#id_orthologs_in").selectpicker('refresh');
	});


	$("#id_no_orthologs_in").change(function() {
		console.log("In no orthologs in");
		var x=document.getElementById("id_no_orthologs_in");
		for (var i = 0; i < x.options.length; i++) {
		  if(x.options[i].selected){
			  $("#id_orthologs_in").children("option[value^=" + x.options[i].value + "]").hide()
		  }
		}
		$("#id_orthologs_in").selectpicker('refresh');
	});

	/* only show plasmids if checkbox for accessions is checked*/
	$("#id_checkbox_accessions").change(function() {
		console.log("In id_checkbox_accessions");
		var x = document.getElementById("id_orthologs_in");
		var y = document.getElementById("id_orthologs_in");
		for (var i = 0; i < x.options.length; i++) {
			if (y.options[i].text.includes('plasmid')) {
				if (document.getElementById('id_checkbox_accessions').checked) {
					$("#id_orthologs_in").children("option[value^=" + y.options[i].value + "]").show()
					$("#id_no_orthologs_in").children("option[value^=" + y.options[i].value + "]").show()
				} else {
					console.log("Hiding " + y.options[i].value);
					$("#id_orthologs_in").children("option[value^=" + y.options[i].value + "]").hide()
					$("#id_no_orthologs_in").children("option[value^=" + y.options[i].value + "]").hide()
				}
			} else {
				$("#id_orthologs_in").children("option[value^=" + y.options[i].value + "]").show()
			}
		}
		$("#id_orthologs_in").selectpicker('refresh');
		$("#id_no_orthologs_in").selectpicker('refresh');
	});

	/** This is a hack I honestly do not really understand : 
	 *  manually hiding the plasmids at the beginning of the function
     *  do not work, whereas manually triggering a onChange event does the trick 
	 *  No explanation for that... */ 
	chEvent = new Event("change");
	var foo = document.getElementById("id_checkbox_accessions");
	foo.dispatchEvent(chEvent);
})
</script>
