<style>
.menu-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 50px;
  z-index: 999;
}
.menu-toggle:focus, .menu-toggle:hover {
  color: #fff;
}
.menu-toggle:hover {
  background: #343a40;
}


#sidebar-wrapper {
  position: fixed;
  z-index: 998;
  right: 0;
  width: 30em;
  min-width: 5em;
  height: 100%;
  transition: all 0.4s ease 0s;
  transform: translateX(250px);
  background: #1D809F;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 1.7rem;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}



.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 1.7rem;
  background: rgba(52, 58, 64, 0.1);
  height: 80px;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.sidebar-nav > .sidebar-brand a {
  color: #fff;
  text-decoration: none;
  font-size: 1.7rem;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
  font-size: 1.7rem;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

.menu-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 50px;
  z-index: 999;
}
.menu-toggle:focus, .menu-toggle:hover {
  color: #fff;
}
.menu-toggle:hover {
  background: #343a40;
}

.btn-xl {
  padding: 1.25rem 2.5rem;
}



  .masthead h1, .masthead .h1 {
    font-size: 4rem;
   
    
    margin-left: 1em;
    padding: 0 
  }

    .masthead {
      height: 100vh;
    }
    .masthead h1, .masthead .h1 {
      font-size: 5.5rem;
    }



    .content-section {
    padding-top: 7.5rem;
    padding-left: 5rem;
    }

    .content-section-heading h2, .content-section-heading .h2 {
    font-size: 3rem;
    }
    .content-section-heading h3, .content-section-heading .h3 {
    font-size: 1rem;
    text-transform: uppercase;
    }


    .form-control{
    width:100%;max-width:500px;
    position: fixed;
    margin: 0 auto;
    padding: 1em
    ;

    }
   



      
    .collapsible {
  background-color: rgb(230, 231, 230); 
  cursor: pointer;
  padding: 1em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.2em;
  
}

.active, .collapsible:hover {
  background-color:rgb(238, 202, 40);
  border-color:  rgb(238, 202, 40);
  border-style: solid;
  border-width: 2px;
  color: rgb(0, 0, 0);
}

.content-FAQ {
  padding: 2em;
  display: none;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  font-size: 1.2em;
  width: 100%;
  
}       


.container-fluid{
  background-color: rgb(115, 113, 116);
 margin-left: 1em;
 margin-right: 20em;
}
</style>