<p><label for="id_genome_taxonomy">Genome:</label><select id="genome" name="Genome">
    <option value="">--</option>
<option value="ACZE01000000">Merged record from Parachlamydia acanthamoebae str. Hall's coccus</option>
<option value="APJW01000000">Merged record from Chlamydia ibidis 10-1398/6</option>
<option value="AYKJ01000001">Chlamydia suis MD56 plasmid pMD56</option>
<option value="CCEJ010000000">Merged record from Criblamydia sequanensis CRIB-18</option>
<option value="CCSC01000000">Merged record from Chlamydia sp. 'Rubis'</option>
<option value="JSAM01000000">Merged record from Parachlamydia acanthamoebae</option>
<option value="JSAN01000000">Merged record from Candidatus Protochlamydia amoebophila</option>
<option value="JSDQ01000000">Merged record from Neochlamydia sp. EPS4</option>
<option value="JRXI01000000">Merged record from Neochlamydia sp. TUME1</option>
<option value="NC_004552">Chlamydophila abortus S26/3, complete genome.</option>
<option value="AE001273">Chlamydia trachomatis D/UW-3/CX, complete genome.</option>
<option value="AE015925">Chlamydophila caviae GPIC, complete genome.</option>
<option value="AE015926">Chlamydophila caviae GPIC plasmid pCpGP1, complete sequence.</option>
<option value="AYKJ01000000">Merged record from Chlamydia suis MD56</option>
<option value="NC_007899">Chlamydophila felis Fe/C-56, complete genome.</option>
<option value="NC_007900">Chlamydophila felis Fe/C-56 plasmid pCfe1 DNA, complete sequence.</option>
<option value="NC_002620">Chlamydia muridarum Nigg, complete genome.</option>
<option value="AE002162">Chlamydia muridarum Nigg plasmid pMoPn, complete sequence.</option>
<option value="CP001928">Waddlia chondrophila WSU 86-1044, complete genome.</option>
<option value="CP001929">Waddlia chondrophila WSU 86-1044 plasmid pWc, complete sequence.</option>
<option value="CP002549">Chlamydophila psittaci 6BC, complete genome.</option>
<option value="CP002550">Chlamydophila psittaci 6BC plasmid p6BC, complete sequence.</option>
<option value="CP002608">Chlamydophila pecorum E58, complete genome.</option>
<option value="CP006571">Chlamydia avium 10DC88, complete genome.</option>
<option value="CP006572">Chlamydia avium 10DC88 plasmid p10DC88, complete sequence.</option>
<option value="NC_002179">Chlamydophila pneumoniae AR39, complete genome.</option>
<option value="ElaC">Estrella lausannensis CRIB-30</option>
<option value="ElaCp">Estrella lausannensis CRIB-30 plasmid</option>
<option value="FR872580">Parachlamydia acanthamoebae UV-7, complete genome.</option>
<option value="CP000975">Methylacidiphilum infernorum V4, complete genome.</option>
<option value="KNic">Protochlamydia naegleriophila KNic, complete genome</option>
<option value="KNicp">Protochlamydia naegleriophila KNic, plasmid</option>
<option value="BASK00000000">Neochlamydia sp. S13.</option>
<option value="NHA">Neochlamydia hartmannella CRIB, wgs</option>
<option value="BAWW00000000">Parachlamydia acanthamoebae strain Bn9, wgs</option>
<option value="NZ_BBPT00000000">Parachlamydiaceae sp. HS-T3.</option>
<option value="NC_005861">Candidatus Protochlamydia amoebophila UWE25 chromosome, complete genome.</option>
<option value="PnaD">Protochlamydia naeglerophila strain Diamant.</option>
<option value="NZ_BASL01000000">Protochlamydia sp. R18.</option>
<option value="CP001848">Pirellula staleyi DSM 6068, complete genome.</option>
<option value="BX119912">Rhodopirellula baltica SH 1 complete genome.</option>
<option value="Rhab">Rhabdochlamydiaceae sp.</option>
<option value="Rhabp">Rhabdochlamydiaceae sp. phage</option>
<option value="NC_015713">Simkania negevensis Z chromosome gsn.131, complete genome.</option>
<option value="NC_015710">Simkania negevensis Z plasmid pSn, complete sequence.</option>
</select></p>
<p><label for="id_superkingdom_taxonomy">Superkingdom:</label><select id="superkingdom" name="Superkingdom">
    <option value="">--</option>
    <option value="ACZE01000000_Bacteria" class="ACZE01000000">Bacteria</option>
    <option value="APJW01000000_Bacteria" class="APJW01000000">Bacteria</option>
    <option value="AYKJ01000001_Bacteria" class="AYKJ01000001">Bacteria</option>
    <option value="CCEJ010000000_Bacteria" class="CCEJ010000000">Bacteria</option>
    <option value="CCSC01000000_Bacteria" class="CCSC01000000">Bacteria</option>
    <option value="JSAM01000000_Bacteria" class="JSAM01000000">Bacteria</option>
    <option value="JSAN01000000_Bacteria" class="JSAN01000000">Bacteria</option>
    <option value="JSDQ01000000_Bacteria" class="JSDQ01000000">Bacteria</option>
    <option value="JRXI01000000_Bacteria" class="JRXI01000000">Bacteria</option>
    <option value="NC_004552_Bacteria" class="NC_004552">Bacteria</option>
    <option value="AE001273_Bacteria" class="AE001273">Bacteria</option>
    <option value="AE015925_Bacteria" class="AE015925">Bacteria</option>
    <option value="AE015926_Bacteria" class="AE015926">Bacteria</option>
    <option value="AYKJ01000000_Bacteria" class="AYKJ01000000">Bacteria</option>
    <option value="NC_007899_Bacteria" class="NC_007899">Bacteria</option>
    <option value="NC_007900_Bacteria" class="NC_007900">Bacteria</option>
    <option value="NC_002620_Bacteria" class="NC_002620">Bacteria</option>
    <option value="AE002162_Bacteria" class="AE002162">Bacteria</option>
    <option value="CP001928_Bacteria" class="CP001928">Bacteria</option>
    <option value="CP001929_Bacteria" class="CP001929">Bacteria</option>
    <option value="CP002549_Bacteria" class="CP002549">Bacteria</option>
    <option value="CP002550_Bacteria" class="CP002550">Bacteria</option>
    <option value="CP002608_Bacteria" class="CP002608">Bacteria</option>
    <option value="CP006571_Bacteria" class="CP006571">Bacteria</option>
    <option value="CP006572_Bacteria" class="CP006572">Bacteria</option>
    <option value="NC_002179_Bacteria" class="NC_002179">Bacteria</option>
    <option value="ElaC_Archaea" class="ElaC">Archaea</option>
    <option value="ElaC_Bacteria" class="ElaC">Bacteria</option>
    <option value="ElaC_Eukaryota" class="ElaC">Eukaryota</option>
    <option value="ElaCp_Bacteria" class="ElaCp">Bacteria</option>
    <option value="FR872580_Bacteria" class="FR872580">Bacteria</option>
    <option value="CP000975_Bacteria" class="CP000975">Bacteria</option>
    <option value="KNic_Bacteria" class="KNic">Bacteria</option>
    <option value="KNic_Eukaryota" class="KNic">Eukaryota</option>
    <option value="KNicp_Bacteria" class="KNicp">Bacteria</option>
    <option value="KNicp_Eukaryota" class="KNicp">Eukaryota</option>
    <option value="BASK00000000_Bacteria" class="BASK00000000">Bacteria</option>
    <option value="NHA_unclassified" class="NHA">unclassified</option>
    <option value="NHA_Archaea" class="NHA">Archaea</option>
    <option value="NHA_Bacteria" class="NHA">Bacteria</option>
    <option value="NHA_Eukaryota" class="NHA">Eukaryota</option>
    <option value="NHA_Viruses" class="NHA">Viruses</option>
    <option value="BAWW00000000_Bacteria" class="BAWW00000000">Bacteria</option>
    <option value="NZ_BBPT00000000_Archaea" class="NZ_BBPT00000000">Archaea</option>
    <option value="NZ_BBPT00000000_Bacteria" class="NZ_BBPT00000000">Bacteria</option>
    <option value="NC_005861_Bacteria" class="NC_005861">Bacteria</option>
    <option value="PnaD_Bacteria" class="PnaD">Bacteria</option>
    <option value="PnaD_Eukaryota" class="PnaD">Eukaryota</option>
    <option value="NZ_BASL01000000_Bacteria" class="NZ_BASL01000000">Bacteria</option>
    <option value="CP001848_Bacteria" class="CP001848">Bacteria</option>
    <option value="BX119912_Bacteria" class="BX119912">Bacteria</option>
    <option value="Rhab_unclassified" class="Rhab">unclassified</option>
    <option value="Rhab_Archaea" class="Rhab">Archaea</option>
    <option value="Rhab_Bacteria" class="Rhab">Bacteria</option>
    <option value="Rhab_Eukaryota" class="Rhab">Eukaryota</option>
    <option value="Rhab_Viruses" class="Rhab">Viruses</option>
    <option value="Rhabp_Bacteria" class="Rhabp">Bacteria</option>
    <option value="Rhabp_Eukaryota" class="Rhabp">Eukaryota</option>
    <option value="Rhabp_Viruses" class="Rhabp">Viruses</option>
    <option value="NC_015713_Bacteria" class="NC_015713">Bacteria</option>
    <option value="NC_015710_Bacteria" class="NC_015710">Bacteria</option>
</select></p>
<p><label for="id_phylum_taxonomy">Phylum:</label><select id="phylum" name="Phylum">
    <option value="">--</option>
    <option value="ACZE01000000_Bacteria_Chlamydiae" class="ACZE01000000_Bacteria">Chlamydiae</option>
    <option value="APJW01000000_Bacteria_Chlamydiae" class="APJW01000000_Bacteria">Chlamydiae</option>
    <option value="AYKJ01000001_Bacteria_Chlamydiae" class="AYKJ01000001_Bacteria">Chlamydiae</option>
    <option value="CCEJ010000000_Bacteria_Chlamydiae" class="CCEJ010000000_Bacteria">Chlamydiae</option>
    <option value="CCSC01000000_Bacteria_Chlamydiae" class="CCSC01000000_Bacteria">Chlamydiae</option>
    <option value="JSAM01000000_Bacteria_Chlamydiae" class="JSAM01000000_Bacteria">Chlamydiae</option>
    <option value="JSAN01000000_Bacteria_Chlamydiae" class="JSAN01000000_Bacteria">Chlamydiae</option>
    <option value="JSDQ01000000_Bacteria_Chlamydiae" class="JSDQ01000000_Bacteria">Chlamydiae</option>
    <option value="JRXI01000000_Bacteria_Chlamydiae" class="JRXI01000000_Bacteria">Chlamydiae</option>
    <option value="NC_004552_Bacteria_Chlamydiae" class="NC_004552_Bacteria">Chlamydiae</option>
    <option value="AE001273_Bacteria_Chlamydiae" class="AE001273_Bacteria">Chlamydiae</option>
    <option value="AE015925_Bacteria_Chlamydiae" class="AE015925_Bacteria">Chlamydiae</option>
    <option value="AE015926_Bacteria_Chlamydiae" class="AE015926_Bacteria">Chlamydiae</option>
    <option value="AYKJ01000000_Bacteria_Chlamydiae" class="AYKJ01000000_Bacteria">Chlamydiae</option>
    <option value="NC_007899_Bacteria_Chlamydiae" class="NC_007899_Bacteria">Chlamydiae</option>
    <option value="NC_007900_Bacteria_Chlamydiae" class="NC_007900_Bacteria">Chlamydiae</option>
    <option value="NC_002620_Bacteria_Chlamydiae" class="NC_002620_Bacteria">Chlamydiae</option>
    <option value="AE002162_Bacteria_Chlamydiae" class="AE002162_Bacteria">Chlamydiae</option>
    <option value="CP001928_Bacteria_Chlamydiae" class="CP001928_Bacteria">Chlamydiae</option>
    <option value="CP001929_Bacteria_Chlamydiae" class="CP001929_Bacteria">Chlamydiae</option>
    <option value="CP002549_Bacteria_Chlamydiae" class="CP002549_Bacteria">Chlamydiae</option>
    <option value="CP002550_Bacteria_Chlamydiae" class="CP002550_Bacteria">Chlamydiae</option>
    <option value="CP002608_Bacteria_Chlamydiae" class="CP002608_Bacteria">Chlamydiae</option>
    <option value="CP006571_Bacteria_Chlamydiae" class="CP006571_Bacteria">Chlamydiae</option>
    <option value="CP006571_Bacteria_Bacteroidetes" class="CP006571_Bacteria">Bacteroidetes</option>
    <option value="CP006572_Bacteria_Chlamydiae" class="CP006572_Bacteria">Chlamydiae</option>
    <option value="NC_002179_Bacteria_Chlamydiae" class="NC_002179_Bacteria">Chlamydiae</option>
    <option value="NC_002179_Bacteria_Bacteroidetes" class="NC_002179_Bacteria">Bacteroidetes</option>
    <option value="ElaC_Bacteria_Chlamydiae" class="ElaC_Bacteria">Chlamydiae</option>
    <option value="ElaC_Bacteria_Planctomycetes" class="ElaC_Bacteria">Planctomycetes</option>
    <option value="ElaC_Bacteria_Spirochaetes" class="ElaC_Bacteria">Spirochaetes</option>
    <option value="ElaC_Bacteria_Acidobacteria" class="ElaC_Bacteria">Acidobacteria</option>
    <option value="ElaC_Bacteria_Actinobacteria" class="ElaC_Bacteria">Actinobacteria</option>
    <option value="ElaC_Eukaryota_unclassified" class="ElaC_Eukaryota">unclassified</option>
    <option value="ElaC_Bacteria_Proteobacteria" class="ElaC_Bacteria">Proteobacteria</option>
    <option value="ElaC_Bacteria_unclassified" class="ElaC_Bacteria">unclassified</option>
    <option value="ElaC_Bacteria_Dictyoglomi" class="ElaC_Bacteria">Dictyoglomi</option>
    <option value="ElaC_Archaea_Euryarchaeota" class="ElaC_Archaea">Euryarchaeota</option>
    <option value="ElaC_Bacteria_Bacteroidetes" class="ElaC_Bacteria">Bacteroidetes</option>
    <option value="ElaC_Bacteria_Thermotogae" class="ElaC_Bacteria">Thermotogae</option>
    <option value="ElaC_Bacteria_Firmicutes" class="ElaC_Bacteria">Firmicutes</option>
    <option value="ElaC_Bacteria_Cyanobacteria" class="ElaC_Bacteria">Cyanobacteria</option>
    <option value="ElaC_Bacteria_Candidatus Saccharibacteria" class="ElaC_Bacteria">Candidatus Saccharibacteria</option>
    <option value="ElaC_Bacteria_Nitrospirae" class="ElaC_Bacteria">Nitrospirae</option>
    <option value="ElaC_Bacteria_Deinococcus-Thermus" class="ElaC_Bacteria">Deinococcus-Thermus</option>
    <option value="ElaC_Bacteria_Verrucomicrobia" class="ElaC_Bacteria">Verrucomicrobia</option>
    <option value="ElaC_Archaea_Crenarchaeota" class="ElaC_Archaea">Crenarchaeota</option>
    <option value="ElaC_Eukaryota_Ascomycota" class="ElaC_Eukaryota">Ascomycota</option>
    <option value="ElaC_Eukaryota_Streptophyta" class="ElaC_Eukaryota">Streptophyta</option>
    <option value="ElaC_Bacteria_Synergistetes" class="ElaC_Bacteria">Synergistetes</option>
    <option value="ElaC_Bacteria_Armatimonadetes" class="ElaC_Bacteria">Armatimonadetes</option>
    <option value="ElaC_Eukaryota_Microsporidia" class="ElaC_Eukaryota">Microsporidia</option>
    <option value="ElaC_Bacteria_Chloroflexi" class="ElaC_Bacteria">Chloroflexi</option>
    <option value="ElaC_Archaea_Thaumarchaeota" class="ElaC_Archaea">Thaumarchaeota</option>
    <option value="ElaC_Eukaryota_Basidiomycota" class="ElaC_Eukaryota">Basidiomycota</option>
    <option value="ElaC_Bacteria_Latescibacteria" class="ElaC_Bacteria">Latescibacteria</option>
    <option value="ElaC_Eukaryota_Apicomplexa" class="ElaC_Eukaryota">Apicomplexa</option>
    <option value="ElaC_Eukaryota_Glomeromycota" class="ElaC_Eukaryota">Glomeromycota</option>
    <option value="ElaC_Bacteria_Deferribacteres" class="ElaC_Bacteria">Deferribacteres</option>
    <option value="ElaCp_Bacteria_Chlamydiae" class="ElaCp_Bacteria">Chlamydiae</option>
    <option value="ElaCp_Bacteria_unclassified" class="ElaCp_Bacteria">unclassified</option>
    <option value="ElaCp_Bacteria_Cyanobacteria" class="ElaCp_Bacteria">Cyanobacteria</option>
    <option value="ElaCp_Bacteria_Firmicutes" class="ElaCp_Bacteria">Firmicutes</option>
    <option value="ElaCp_Bacteria_Proteobacteria" class="ElaCp_Bacteria">Proteobacteria</option>
    <option value="FR872580_Bacteria_Chlamydiae" class="FR872580_Bacteria">Chlamydiae</option>
    <option value="CP000975_Bacteria_Verrucomicrobia" class="CP000975_Bacteria">Verrucomicrobia</option>
    <option value="KNic_Bacteria_Chlamydiae" class="KNic_Bacteria">Chlamydiae</option>
    <option value="KNic_Bacteria_Proteobacteria" class="KNic_Bacteria">Proteobacteria</option>
    <option value="KNic_Bacteria_Actinobacteria" class="KNic_Bacteria">Actinobacteria</option>
    <option value="KNic_Eukaryota_unclassified" class="KNic_Eukaryota">unclassified</option>
    <option value="KNic_Bacteria_unclassified" class="KNic_Bacteria">unclassified</option>
    <option value="KNic_Bacteria_Aminicenantes" class="KNic_Bacteria">Aminicenantes</option>
    <option value="KNicp_Bacteria_Chlamydiae" class="KNicp_Bacteria">Chlamydiae</option>
    <option value="KNicp_Bacteria_Proteobacteria" class="KNicp_Bacteria">Proteobacteria</option>
    <option value="KNicp_Bacteria_Firmicutes" class="KNicp_Bacteria">Firmicutes</option>
    <option value="KNicp_Bacteria_Cyanobacteria" class="KNicp_Bacteria">Cyanobacteria</option>
    <option value="KNicp_Eukaryota_Glomeromycota" class="KNicp_Eukaryota">Glomeromycota</option>
    <option value="BASK00000000_Bacteria_Chlamydiae" class="BASK00000000_Bacteria">Chlamydiae</option>
    <option value="BASK00000000_Bacteria_Firmicutes" class="BASK00000000_Bacteria">Firmicutes</option>
    <option value="BASK00000000_Bacteria_unclassified" class="BASK00000000_Bacteria">unclassified</option>
    <option value="NHA_Bacteria_Chlamydiae" class="NHA_Bacteria">Chlamydiae</option>
    <option value="NHA_Bacteria_Cyanobacteria" class="NHA_Bacteria">Cyanobacteria</option>
    <option value="NHA_Eukaryota_Streptophyta" class="NHA_Eukaryota">Streptophyta</option>
    <option value="NHA_Bacteria_Bacteroidetes" class="NHA_Bacteria">Bacteroidetes</option>
    <option value="NHA_Bacteria_Proteobacteria" class="NHA_Bacteria">Proteobacteria</option>
    <option value="NHA_Bacteria_Actinobacteria" class="NHA_Bacteria">Actinobacteria</option>
    <option value="NHA_Eukaryota_unclassified" class="NHA_Eukaryota">unclassified</option>
    <option value="NHA_Bacteria_Spirochaetes" class="NHA_Bacteria">Spirochaetes</option>
    <option value="NHA_Bacteria_Firmicutes" class="NHA_Bacteria">Firmicutes</option>
    <option value="NHA_Eukaryota_Basidiomycota" class="NHA_Eukaryota">Basidiomycota</option>
    <option value="NHA_Eukaryota_Chordata" class="NHA_Eukaryota">Chordata</option>
    <option value="NHA_Eukaryota_Microsporidia" class="NHA_Eukaryota">Microsporidia</option>
    <option value="NHA_unclassified_unclassified" class="NHA_unclassified">unclassified</option>
    <option value="NHA_Viruses_unclassified" class="NHA_Viruses">unclassified</option>
    <option value="NHA_Bacteria_Microgenomates" class="NHA_Bacteria">Microgenomates</option>
    <option value="NHA_Bacteria_unclassified" class="NHA_Bacteria">unclassified</option>
    <option value="NHA_Archaea_Euryarchaeota" class="NHA_Archaea">Euryarchaeota</option>
    <option value="NHA_Bacteria_Aminicenantes" class="NHA_Bacteria">Aminicenantes</option>
    <option value="NHA_Bacteria_Nitrospinae" class="NHA_Bacteria">Nitrospinae</option>
    <option value="NHA_Bacteria_Synergistetes" class="NHA_Bacteria">Synergistetes</option>
    <option value="NHA_Bacteria_Planctomycetes" class="NHA_Bacteria">Planctomycetes</option>
    <option value="NHA_Bacteria_Acidobacteria" class="NHA_Bacteria">Acidobacteria</option>
    <option value="NHA_Bacteria_Verrucomicrobia" class="NHA_Bacteria">Verrucomicrobia</option>
    <option value="NHA_Archaea_unclassified" class="NHA_Archaea">unclassified</option>
    <option value="NHA_Bacteria_Deinococcus-Thermus" class="NHA_Bacteria">Deinococcus-Thermus</option>
    <option value="NHA_Bacteria_Chloroflexi" class="NHA_Bacteria">Chloroflexi</option>
    <option value="NHA_Bacteria_Candidatus Saccharibacteria" class="NHA_Bacteria">Candidatus Saccharibacteria</option>
    <option value="NHA_Eukaryota_Arthropoda" class="NHA_Eukaryota">Arthropoda</option>
    <option value="NHA_Eukaryota_Cnidaria" class="NHA_Eukaryota">Cnidaria</option>
    <option value="NHA_Eukaryota_Echinodermata" class="NHA_Eukaryota">Echinodermata</option>
    <option value="NHA_Bacteria_Omnitrophica" class="NHA_Bacteria">Omnitrophica</option>
    <option value="NHA_Eukaryota_Glomeromycota" class="NHA_Eukaryota">Glomeromycota</option>
    <option value="NHA_Eukaryota_Ascomycota" class="NHA_Eukaryota">Ascomycota</option>
    <option value="NHA_Archaea_Crenarchaeota" class="NHA_Archaea">Crenarchaeota</option>
    <option value="NHA_Bacteria_Nitrospirae" class="NHA_Bacteria">Nitrospirae</option>
    <option value="NHA_Bacteria_Thermotogae" class="NHA_Bacteria">Thermotogae</option>
    <option value="BAWW00000000_Bacteria_Chlamydiae" class="BAWW00000000_Bacteria">Chlamydiae</option>
    <option value="BAWW00000000_Bacteria_Proteobacteria" class="BAWW00000000_Bacteria">Proteobacteria</option>
    <option value="BAWW00000000_Bacteria_Firmicutes" class="BAWW00000000_Bacteria">Firmicutes</option>
    <option value="BAWW00000000_Bacteria_unclassified" class="BAWW00000000_Bacteria">unclassified</option>
    <option value="BAWW00000000_Bacteria_Bacteroidetes" class="BAWW00000000_Bacteria">Bacteroidetes</option>
    <option value="BAWW00000000_Bacteria_Actinobacteria" class="BAWW00000000_Bacteria">Actinobacteria</option>
    <option value="NZ_BBPT00000000_Bacteria_Chlamydiae" class="NZ_BBPT00000000_Bacteria">Chlamydiae</option>
    <option value="NZ_BBPT00000000_Bacteria_Cyanobacteria" class="NZ_BBPT00000000_Bacteria">Cyanobacteria</option>
    <option value="NZ_BBPT00000000_Archaea_Euryarchaeota" class="NZ_BBPT00000000_Archaea">Euryarchaeota</option>
    <option value="NZ_BBPT00000000_Bacteria_Proteobacteria" class="NZ_BBPT00000000_Bacteria">Proteobacteria</option>
    <option value="NZ_BBPT00000000_Bacteria_Planctomycetes" class="NZ_BBPT00000000_Bacteria">Planctomycetes</option>
    <option value="NC_005861_Bacteria_Chlamydiae" class="NC_005861_Bacteria">Chlamydiae</option>
    <option value="PnaD_Bacteria_Chlamydiae" class="PnaD_Bacteria">Chlamydiae</option>
    <option value="PnaD_Bacteria_Proteobacteria" class="PnaD_Bacteria">Proteobacteria</option>
    <option value="PnaD_Bacteria_Planctomycetes" class="PnaD_Bacteria">Planctomycetes</option>
    <option value="PnaD_Bacteria_unclassified" class="PnaD_Bacteria">unclassified</option>
    <option value="PnaD_Bacteria_Actinobacteria" class="PnaD_Bacteria">Actinobacteria</option>
    <option value="PnaD_Bacteria_Bacteroidetes" class="PnaD_Bacteria">Bacteroidetes</option>
    <option value="PnaD_Eukaryota_Chlorophyta" class="PnaD_Eukaryota">Chlorophyta</option>
    <option value="NZ_BASL01000000_Bacteria_Chlamydiae" class="NZ_BASL01000000_Bacteria">Chlamydiae</option>
    <option value="NZ_BASL01000000_Bacteria_Cyanobacteria" class="NZ_BASL01000000_Bacteria">Cyanobacteria</option>
    <option value="NZ_BASL01000000_Bacteria_Proteobacteria" class="NZ_BASL01000000_Bacteria">Proteobacteria</option>
    <option value="NZ_BASL01000000_Bacteria_unclassified" class="NZ_BASL01000000_Bacteria">unclassified</option>
    <option value="NZ_BASL01000000_Bacteria_Firmicutes" class="NZ_BASL01000000_Bacteria">Firmicutes</option>
    <option value="CP001848_Bacteria_Planctomycetes" class="CP001848_Bacteria">Planctomycetes</option>
    <option value="BX119912_Bacteria_Planctomycetes" class="BX119912_Bacteria">Planctomycetes</option>
    <option value="Rhab_Bacteria_Chlamydiae" class="Rhab_Bacteria">Chlamydiae</option>
    <option value="Rhab_Bacteria_unclassified" class="Rhab_Bacteria">unclassified</option>
    <option value="Rhab_Bacteria_Acidobacteria" class="Rhab_Bacteria">Acidobacteria</option>
    <option value="Rhab_Bacteria_Firmicutes" class="Rhab_Bacteria">Firmicutes</option>
    <option value="Rhab_Bacteria_Actinobacteria" class="Rhab_Bacteria">Actinobacteria</option>
    <option value="Rhab_Bacteria_Proteobacteria" class="Rhab_Bacteria">Proteobacteria</option>
    <option value="Rhab_Eukaryota_Echinodermata" class="Rhab_Eukaryota">Echinodermata</option>
    <option value="Rhab_Bacteria_Nitrospirae" class="Rhab_Bacteria">Nitrospirae</option>
    <option value="Rhab_Bacteria_Cyanobacteria" class="Rhab_Bacteria">Cyanobacteria</option>
    <option value="Rhab_Bacteria_Planctomycetes" class="Rhab_Bacteria">Planctomycetes</option>
    <option value="Rhab_Bacteria_Bacteroidetes" class="Rhab_Bacteria">Bacteroidetes</option>
    <option value="Rhab_Archaea_Euryarchaeota" class="Rhab_Archaea">Euryarchaeota</option>
    <option value="Rhab_Eukaryota_unclassified" class="Rhab_Eukaryota">unclassified</option>
    <option value="Rhab_Eukaryota_Arthropoda" class="Rhab_Eukaryota">Arthropoda</option>
    <option value="Rhab_Viruses_unclassified" class="Rhab_Viruses">unclassified</option>
    <option value="Rhab_Eukaryota_Ascomycota" class="Rhab_Eukaryota">Ascomycota</option>
    <option value="Rhab_Eukaryota_Nematoda" class="Rhab_Eukaryota">Nematoda</option>
    <option value="Rhab_Eukaryota_Basidiomycota" class="Rhab_Eukaryota">Basidiomycota</option>
    <option value="Rhab_Bacteria_Spirochaetes" class="Rhab_Bacteria">Spirochaetes</option>
    <option value="Rhab_Bacteria_Thermodesulfobacteria" class="Rhab_Bacteria">Thermodesulfobacteria</option>
    <option value="Rhab_unclassified_unclassified" class="Rhab_unclassified">unclassified</option>
    <option value="Rhab_Bacteria_Deferribacteres" class="Rhab_Bacteria">Deferribacteres</option>
    <option value="Rhab_Archaea_unclassified" class="Rhab_Archaea">unclassified</option>
    <option value="Rhab_Eukaryota_Streptophyta" class="Rhab_Eukaryota">Streptophyta</option>
    <option value="Rhab_Bacteria_Dictyoglomi" class="Rhab_Bacteria">Dictyoglomi</option>
    <option value="Rhab_Bacteria_Aminicenantes" class="Rhab_Bacteria">Aminicenantes</option>
    <option value="Rhab_Bacteria_Omnitrophica" class="Rhab_Bacteria">Omnitrophica</option>
    <option value="Rhab_Bacteria_Elusimicrobia" class="Rhab_Bacteria">Elusimicrobia</option>
    <option value="Rhab_Bacteria_Fusobacteria" class="Rhab_Bacteria">Fusobacteria</option>
    <option value="Rhab_Bacteria_Chlorobi" class="Rhab_Bacteria">Chlorobi</option>
    <option value="Rhab_Bacteria_Chloroflexi" class="Rhab_Bacteria">Chloroflexi</option>
    <option value="Rhabp_Bacteria_Chlamydiae" class="Rhabp_Bacteria">Chlamydiae</option>
    <option value="Rhabp_Bacteria_Proteobacteria" class="Rhabp_Bacteria">Proteobacteria</option>
    <option value="Rhabp_Bacteria_Firmicutes" class="Rhabp_Bacteria">Firmicutes</option>
    <option value="Rhabp_Bacteria_Bacteroidetes" class="Rhabp_Bacteria">Bacteroidetes</option>
    <option value="Rhabp_Eukaryota_unclassified" class="Rhabp_Eukaryota">unclassified</option>
    <option value="Rhabp_Viruses_unclassified" class="Rhabp_Viruses">unclassified</option>
    <option value="Rhabp_Bacteria_Actinobacteria" class="Rhabp_Bacteria">Actinobacteria</option>
    <option value="Rhabp_Bacteria_Spirochaetes" class="Rhabp_Bacteria">Spirochaetes</option>
    <option value="Rhabp_Bacteria_Cyanobacteria" class="Rhabp_Bacteria">Cyanobacteria</option>
    <option value="Rhabp_Eukaryota_Ascomycota" class="Rhabp_Eukaryota">Ascomycota</option>
    <option value="NC_015713_Bacteria_Chlamydiae" class="NC_015713_Bacteria">Chlamydiae</option>
    <option value="NC_015710_Bacteria_Chlamydiae" class="NC_015710_Bacteria">Chlamydiae</option>
</select></p>

