<!DOCTYPE html>


<html>


<head>
{% load staticfiles %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% load custom_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

</head>

<body id="locus_body">
    <div id="container">
        <div id="content">
            <div id="sidebar">
                {% include "chlamdb/menu.html" %}
            </div>
            <div id="header">
                {% include "chlamdb/user.html" %}
            </div>

                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Counts</a></li>
                    <li><a href="#tab2" data-toggle="tab">annot</a></li>
                    <li><a href="#tab66" data-toggle="tab" onclick="window.open('http://tcdb.org/search/result.php?tc={{family}}', 'orthoIDframe2'); return false">Informations</a></li>

                </ul>


                <div id="my-tab-content" class="tab-content">




                    <div class="tab-pane active" id="tab1">
                        <object type="image/svg+xml" data="{% static asset_path1 %}" id="asset_path1" style="width:80%"></object>
                    </div>

                    <div class="tab-pane" id="tab2">


                        <div id="export_bouttons_groups">
                            <a download="biodb_extract.xls" href="#" onclick="return ExcellentExport.excel(this, 'table_groups', 'search');" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;">Export to Excel</a>

                            <a download="biodb_extract.csv" href="#" onclick="return ExcellentExport.csv(this, 'table_groups');" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;"">Export to CSV</a>

                            <button type="button" class="btn btn-primary btn-xs" onclick="location.href='/chlamdb/fasta/{{biodb}}{{fasta_url|safe}}'">fasta aa</button>

                            <br/>
                        </div>

                        <p>Number of orthogroups: {{ sum_group }} </p>

                        <table class="sortable" id="table_groups">

                            <thead>
                                <tr>
                                <th>Locus</th>
                                    <th>Accession</th>
                                    <th>Start</th>
                                    <th>End</th>
                                <th id="entete_locus">gene</th>
                                    <th>product</th>
                                <th>present_n_genomes</th>
                                <th>group</th>
                                <th>length (aa)</th>
                                <th>COG ID</th>
                                    <th>COG category</th>
                                    <th>COG description</th>
                                    <th>InterproScan</th>
                                </tr>

                            </thead>
                            {% for value in locus_annot %}
                                <tr>

                                    <td><a href="{% url 'locusx' biodb value.0 True%}">{{value.0}}</a></td>
                                    <td>{{value.1}}</td>
                                    <td>{{value.2|safe}}</td>
                                    <td>{{value.3|safe}}</td>
                                    <td>{{value.4|safe}}</td>
                                    <td>{{value.5|safe}}</td>
                                    <td>{{value.6|safe}}</td>
                                    <td>{{value.7|safe}}</td>
                                    <td>{{value.8|safe}}</td>
                                    <td>{{value.9|safe}}</td>
                                    <td>{{value.10|safe}}</td>
                                    <td>{{value.11|safe}}</td>

                                    {% with locus2interpro|keyvalue:value.0 as interpro_data %}
                                    <td>
                                        {% for one_interpro in interpro_data %}
                                        {% if one_interpro.0 != '-' %}
                                            <a href="{% url 'fam' biodb one_interpro.0 'interpro' %}" target="_top">{{one_interpro.0}}</a> /
                                        {%else%}
                                            {{one_interpro.0}}
                                        {%endif%}
                                            {{one_interpro.1}} </br>
                                        {% endfor %}
                                        {%endwith%}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="tab-pane" id="tab66" style="height:100%">
                            <iframe name="orthoIDframe2" id="theFrame2" scrolling="no" width="100%" height="1800px"></iframe>
                    </div>
                </div>
        </div>
    </div>

</body>
<style>
#id_category{
    width:280px;
    text-align:left;
    left:600px;

}


</style>

</html>
