<!DOCTYPE html>


<html>


<head>
{% load staticfiles %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

</head>

<body id="locus_body">
    <div id="container">
        <div id="content">
            <div id="sidebar">
                {% include "chlamdb/menu.html" %}
            </div>
            <div id="header">
                {% include "chlamdb/user.html" %}
            </div>


        <nav>
        <ul id="tabs" class="nav nav-tabs">
            <li class="active"><a href="{% url 'transporters' biodb %}">Transporters superfamilies</a></li>
            <li ><a href="{% url 'transporters_list' biodb %}">Transporters lists</a></li>

        </ul>
        </nav>



            <form action='{% url "transporters" biodb %}' method="post">
                {% csrf_token %}
                    {{ form.as_p }}

            <input type="submit" value="Submit" />
            </form>


            {% if envoi %}

                    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">Counts</a></li>
                    </ul>


                    <div id="my-tab-content" class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <object type="image/svg+xml" data="{% static asset_path1 %}" id="asset_path1" style="width:80%"></object>
                        </div>
                    </div>

            {% endif %}
        </div>
    </div>

</body>
<style>
#id_category{
    width:280px;
    text-align:left;
    left:600px;

}


</style>

</html>
