<script language="Javascript">

var h = new Object();
{{ description_dico|safe }}

$(document).ready(function() {
	$("#names").DataTable ({
		columns: [
				{title: "Orthogroup"},
				{title: "Gene"},
				{title: "Description"}
			]
	});
	// initially hide the table when no set is selected
	$("#names_div").hide();

	
	$('#venn_diagram').jvenn({
		series: {{ series|safe }},
		displayStat: true,
		fnClickCallback: function() {
			var dataSet = []; 
			for (val in this.list) {
				var link = "<a href=/orthogroup/"+this.list[val]+">"+this.list[val]+"</a>";

				// data[0] contains the gene name(s); data[1] contains the description(s)
				var data = h[this.list[val]];
				var curr_set = [link, data[0], data[1]];
				dataSet.push(curr_set);
			}

			$("#names_div").show();
			var table = $("#names").DataTable();
			table.clear();
			for(el in dataSet) {
				table.row.add(dataSet[el]);
			}
			table.draw();
		}
	});
});


</script>

<div class="panel panel-success">
	<div class="panel-heading" style="width:100%">
		<h5 class="panel-title">Help</h5>
	</div>
	<p style="margin: 10px 10px 10px 10px">
		Click on a venn diagram figure to display the linked elements:
	</p>
</div>

<div id="venn_diagram" style="display: table;margin: 0;">
</div>

<div id="names_div">
	<table id="names" class="hover"></table>
</div>
