<!DOCTYPE html>


<html>
<head>
    <script type="text/javascript" id="js">
        $(document).ready(function() {
        // call the tablesorter plugin
        $("table").tablesorter({
        // change the default sorting order from 'asc' to 'desc'
        sortInitialOrder: 1
        });
        });

        jQuery(document).ready(function ($) {
            $('#tabs').tab();
        });

        jQuery(document).ready(function ($) {
            $('#tabs1').tab();
        });
    </script>
    {% include "chlamdb/header.html" %}
    <div class="home-title"><b> Pfam domains  </b></div>
    <hr class="lines-home">
<head>


  <div class="container-fluid" id="main_container">
    <div class="row">
      <div id="wrapper">
          <div id="page-content-wrapper">
            <div class="row">
              <div class="col-lg-12">
                 {% include "chlamdb/menu.html" %}

                  <nav>
                  <ul id="tabs" class="nav nav-tabs">
                      <li ><a href="{% url 'extract_pfam' %}">Detailed comparison</a></li>
                      <li class="active"><a href="{% url 'venn_pfam' %}">Venn diagram</a></li>
                      <li><a href="{% url 'pfam_comparison' %}">Compare Pfam Domains</a></li>
                      <li><a href="{% url 'plot_heatmap' 'Pfam' %}">Whole proteomes heatmaps</a></li>
                      <li><a href="{% url 'pan_genome' 'Pfam' %}">Pan/Core genome plots</a></li>
                  </ul>
                  </nav>

                  <div id="extract_form">
                      <div class="panel panel-success" style="width:500px ; top: 200px; margin: 10px 10px 10px 10px">
                            <div class="panel-heading" style="width:100%">
                              <h3 class="panel-title">Help</h3>
                              </div>
                      <p style="margin: 10px 10px 10px 10px">Venn diagramm of Pfam domains, max 6 genomes</p>
                      </div>

                      <form action="{% url "venn_pfam" %}" method="post">
                          {% csrf_token %}
                          {{ form_venn.as_p }}
                          <input type="submit" name="venn" value="Compare Pfam" id="venn_button" />
                      </form>
                  </div>

               {% if envoi_venn %}
                  {% include "chlamdb/venn_template_orthogroups.html" with series=series description_dico=pfam2description %}
              {% endif %}

              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
	var columns = [
		{title: "PFAM"},
		{title: "Description"}
	];
	function build_set(val, dict) {
		let link = "<a href=/pfam/"+val+">"+val+"</a>";
		let data = dict[val];
		return [link, data];
	}


  var update_fields = function () {
    if ($("#id_get_groups").is(":checked")) {

        $('#id_region').prop('disabled', false);
        $('#search_table').show();
        $('#export_bouttons_detail').show();

        $('#table_groups').hide();
        $('#export_bouttons_groups').hide();
    } else {
       $('#id_get_groups').prop('disabled', false);
       $('#search_table').hide();
       $('#export_bouttons_detail').hide();
       $('#table_groups').show();
       $('#export_bouttons_groups').show();
    }
  };
  $(update_fields);
  $("#id_get_groups").change(update_fields);

</script>


</body>
{% include "chlamdb/style_menu.html" %}
</html>
