<!DOCTYPE html>


<html>
<head>
  {% include "chlamdb/header.html" %}

	<script>
		var cog_func_dict = {{cog_func_dict|safe}};

		var columns = [
			{title: "ID"},
			{title: "Category"},
			{title: "Description"},
		];

		function build_set(val, dict) {
			let link = "<a href=/fam_cog/"+val+">"+val+"</a>";
			let raw_data = dict[val];
			categories = raw_data[0].
				map(it => cog_func_dict[it]+" ("+it+")").
				join("<br>");
			description = raw_data[1];
			return [link, categories, description];
		}
	</script>

{% load crispy_forms_tags %}
<head>

  <div class="container-fluid" id="main_container">
    <div class="row">
      <div id="wrapper">
          <div id="page-content-wrapper">
            <div class="row">
              <div class="col-lg-12">
                 {% include "chlamdb/menu.html" %}
                 <div class="home-title"><b> COGs </b></div>
                <hr class="lines-home">
                  {% if display_form %}
                  <nav>
                  <ul id="tabs" class="nav nav-tabs">
                      <li><a href="{% url 'extract_cog'  %}">Detailed comparison</a></li>
                      <li class="active"><a href="{% url 'venn_cog'  %}">Venn diagram</a></li>
                      <li><a href="{% url 'cog_barchart' %}">COG categories barchart</a></li>
                      <li><a href="{% url 'COG_phylo_heatmap' True %}">COG heatmap freq.</a></li>
                      <li><a href="{% url 'COG_phylo_heatmap' False %}">COG heatmap counts</a></li>
                      <li><a href="{% url 'plot_heatmap' 'COG' %}">Whole proteomes heatmaps</a></li>
                      <li><a href="{% url 'pan_genome' 'COG' %}">Pan/Core genome plots</a></li>
                  </ul>
                  </nav>


                          <div id="extract_form">
                              <div class="panel panel-success" style="width:80% ; top: 200px; margin: 10px 10px 10px 10px">
                                    <div class="panel-heading" style="width:100%">
                                      <h3 class="panel-title">Help</h3>
                                      </div>
                              <p style="margin: 10px 10px 10px 10px">Venn diagramm: draw a diagramm based on the presence/absence of COGs in selected genomes. Max 6 genomes.</p>
                              </div>

                              {% block content %}
                              <form action="{% url "venn_cog" %}" method="post">
                                  {% csrf_token %}
                                  {% crispy form_venn %}
                              </form>
                              {% endblock %}

                          </div>
              {% endif %}

               {% if envoi_venn %}
                  {% include "chlamdb/venn_template_orthogroups.html" with series=series description_dico=cog2description %}

              {% endif %}
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% include "chlamdb/style_menu.html" %}
</html>
