<!DOCTYPE html>


<html>
<head>
    <script type="text/javascript" id="js">
		var columns = [
			{title: "KO"},
			{title: "Description"}];

		function build_set(val, dict) {
			var link = "<a href=/fam_ko/"+val+">"+val+"</a>";
			var data = dict[val][0];
			return [link, data];
		}

        $(document).ready(function() {
        // call the tablesorter plugin
        $("table").tablesorter({
        // change the default sorting order from 'asc' to 'desc'
        sortInitialOrder: 1
        });
        });
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#tabs').tab();
        });
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#tabs1').tab();
        });
    </script>
   {% include "chlamdb/header.html" %}
</head>


  <div class="container-fluid" id="main_container">
    <div class="row">
      <div id="wrapper">
          <div id="page-content-wrapper">
            <div class="row">
              <div class="col-lg-12">
                 {% include "chlamdb/menu.html" %}
                 <div class="home-title"><b> Kegg Orthologs </b></div>
                 <hr class="lines-home">

                  {% if display_form %}
                  <nav>
                  <ul id="tabs" class="nav nav-tabs">
                              <li><a href="{% url 'extract_ko' %}">Detailed comparison</a></li>
                              <li><a href="{% url 'ko_comparison' %}">Compare KO counts</a></li>
                              <li><a href="{% url 'module_barchart' %}">KO categories barchart</a></li>
                              <li class="active"><a href="{% url 'venn_ko' %}">Venn KO</a></li>
                              <li><a href="{% url 'plot_heatmap' 'ko' %}">Whole proteomes heatmaps</a></li>
                              <li><a href="{% url 'pan_genome' 'ko' %}">Pan/Core genome plots</a></li>
                  </ul>
                  </nav>


                          <div id="extract_form">
                              <div class="panel panel-success" style="width:80% ; top: 200px; margin: 10px 10px 10px 10px">
                                    <div class="panel-heading" style="width:100%">
                                      <h3 class="panel-title">Help</h3>
                                      </div>
                              <p style="margin: 10px 10px 10px 10px">Venn diagramm: draw a diagramm based on the presence/absence of KOs in selected genomes. Max 6 genomes.</p>
                              </div>



                              <form action="{% url "venn_ko" %}" method="post">
                                  {% csrf_token %}
                                  {{ form_venn.as_p }}
                                  <input type="submit" name="venn" value="Compare KO" id="venn_button" />

                              </form>

                          </div>
              {% endif %}
               {% if envoi_venn %}
                  {% include "chlamdb/venn_template_orthogroups.html" with series=series description_dico=ko2description %}
              {% endif %}

              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  var update_fields = function () {
    if ($("#id_get_groups").is(":checked")) {

        $('#id_region').prop('disabled', false);
        $('#search_table').show();
        $('#export_bouttons_detail').show();

        $('#table_groups').hide();
        $('#export_bouttons_groups').hide();
    }



    else {

       $('#id_get_groups').prop('disabled', false);
       $('#search_table').hide();
       $('#export_bouttons_detail').hide();
       $('#table_groups').show();
       $('#export_bouttons_groups').show();
    }
  };
  $(update_fields);
  $("#id_get_groups").change(update_fields);

</script>



<p id="jqtest"></p>

</body>
{% include "chlamdb/style_menu.html" %}
</html>
