





	<script language="Javascript">



	var h = new Object(); // or just {}


	{{ description_dico|safe }}
	<!-- h['Marilyn Monroe'] = 1; -->



    $(document).ready(function(){
      $('#example').jvenn({
        series: {{ series|safe }}

		  ,
		displayStat: true,
		fnClickCallback: function() {
			var value = `<div id="export_bouttons_groups">
                         <a download="biodb_extract.xls" href="#" onclick="return ExcellentExport.excel(this, 'orthogroup_table', 'search');" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;">Export to Excel</a>
                         <a download="biodb_extract.csv" href="#" onclick="return ExcellentExport.csv(this, 'orthogroup_table');" style="background-color:#DCFFF0;color:black;padding:2px;border:1px solid black;"">Export to CSV</a>
                        <br/>
                        </div>`;
			if (this.listnames.length == 1) {
				value += "<h3>Elements only in:<br> </h3><ul compact>";
			} else {
				value += "<h3>Common elements in: </h3><ul compact>";
			}
			for (name in this.listnames) {
				value += '<li id="list_strains">' +this.listnames[name] + "</li>";
			}
			value += '</ul>\n<table id="orthogroup_table" class="sortable"><tr><th>Orthogroup</th><th>gene(s)</th><th>description(s)</th></tr>';

			for (val in this.list) {
                <!-- h[this.list[val]] -->
				value += '<tr><td><a href="' + "{% url 'locusx' %}" + '/'+
						this.list[val] + '">'+  this.list[val] + '</a></td><td>' + h[this.list[val]]
						+ '</td><td><a href="' + this.list[val] +'">-</a></td></tr>';
			}
		    value += '</table>';
			$("#names").html(value);
			var newTableObject = document.getElementById("orthogroup_table");
			sorttable.makeSortable(newTableObject);

		}

      });
    });



	</script>
		<div class="panel panel-success" style="width:500px ; top: 200px; margin: 10px 10px 10px 10px">
			<div class="panel-heading" style="width:100%">
				<h5 class="panel-title">Help</h5>
			</div>
			<p style="margin: 10px 10px 10px 10px"> Click on a venn diagram figure to display the linked elements:</p>
		</div>

		<div id="example" style="display: table;margin: 0;">

		</div>

		<div>

			<div id="names" style="width: 87%;" wrap="off" rows="10">

			</div>
		</div>



