<!DOCTYPE html>


<html>
<head>
{% include "chlamdb/header.html" %}
{% load crispy_forms_tags %}
</head>

<div class="container-fluid" id="main_container">
  <div class="row">
    <div id="wrapper">
        <div id="page-content-wrapper">
          <div class="row">
            <div class="col-lg-12">
               {% include "chlamdb/menu.html" %}
               <div class="home-title"><b> Orthogroups </b></div>
               <hr class="lines-home">
                <nav>
                    <ul id="tabs" class="nav nav-tabs">
                                <li><a href="{% url 'extract_orthogroup' %}">Detailed comparison</a></li>
                                <li class="active"><a href="{% url 'venn_orthogroup' %}">Venn diagram</a></li>
                                <li><a href="{% url 'orthogroup_comparison' %}">Compare Orthogroups size</a></li>
                                <li><a href="{% url 'plot_heatmap' 'orthology' %}">Whole proteomes heatmaps</a></li>
                                <li><a href="{% url 'pan_genome' 'orthology' %}">Pan/Core genome plots</a></li>

                    </ul>
                </nav>

                <div id="extract_form">
                    <div class="panel panel-success" style="width:500px ; top: 200px; margin: 10px 10px 10px 10px">
                          <div class="panel-heading" style="width:100%">
                              <h3 class="panel-title">Help</h3>
                          </div>
                        <p style="margin: 10px 10px 10px 10px">Venn diagramm of orthologous groups constructed based on BLAST using OrthoFinder, max 6 genomes</p>
                    </div>

                        {% block content %}
                        <form action="{% url "venn_orthogroup" %}" method="post">
                            {% csrf_token %}
                            {% crispy form_venn %}
                        </form>
                        {% endblock %}

                    </form>

                </div>

             {% if envoi_venn %}
                <div class="row" style="padding-top:30px">
                   <div class="col-lg-8">
                    {% include "chlamdb/venn_template_orthogroups.html" with series=series description_dico=orthogroup2description %}
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
	var columns = [
		{title: "Orthogroup"},
		{title: "Gene"},
		{title: "Description"}
	];
	function build_set(val, dict) {
		var link = "<a href=/orthogroup/"+val+">"+val+"</a>";

		// data[0] contains the gene name(s); data[1] contains the description(s)
		var data = dict[val];
		return [link, data[0], data[1]];
	}

    $(document).ready(function() {
        /* no plasmids by default */
        var y=document.getElementById("id_targets");
        for (var i = 0; i < y.options.length; i++) {
            if (y.options[i].text.includes('plasmid')) {
                $("#id_targets").children("option[value^=" + y.options[i].value + "]").hide();
            } else {
                $("#id_targets").children("option[value^=" + y.options[i].value + "]").show()
            }
        }
    })


</script>

<p id="jqtest"></p>

</body>
{% include "chlamdb/style_menu.html" %}
</html>
