.html {
    scroll-behavior: smooth;
  }

.page {
    margin-left: 1em;
    margin-right: 1em;
    background-color: bisque;
}
.header h1{
    margin-bottom: 0.25rem;
    font-size: 16em;
    padding-left: 1em;
    
}