<!DOCTYPE html>


<html>



<head>
    {% load static %}
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
</head>

<body>
    {% if not no_tree %}
    <h3>Phylogeny including all orthologs and their closest homologs in RefSeq and SwissProt database</h3>
    <p>
      The alignment was made with mafft and the phylogeny was reconstructed with FastTree with default parameters.
    </p>
    <div id="pfam_tree_div">
        <object type="image/svg+xml" data="{% static asset_path %}" id="BBH_tree"></object>
    </div>

    {% else %}
    No tree for {{orthogroup}}
    {% endif %}
</body>
</html>
