<!DOCTYPE html>


<html>
<head>



{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>


<section>

<form action="{% url "choose_db" %}" method="post">{% csrf_token %}

<table>
<tr>
  <td>{{ form.as_p }}</td>
</tr>

<tr>
  <td><input type="submit" value="Submit" /></td>
</tr>
</table>



</form>



{% if envoi %}

    <meta http-equiv="REFRESH" content="0;url={% url "home"  %}">



</section>

  
{% endif %}




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
$(function() {

    var menu_ul = $('.rollmenu > ul'),
        menu_a  = $('.rollmenu > a');

    menu_ul.hide();

    menu_a.click(function(e) {
        e.preventDefault();
        if(!$(this).hasClass('active')) {
            menu_a.removeClass('active');
            menu_ul.filter(':visible').slideUp('normal');
            $(this).addClass('active').next().stop(true,true).slideDown('normal');
        } else {
            $(this).removeClass('active');
            $(this).next().stop(true,true).slideUp('normal');
        }
    });

});
</script>



</body>
</html>
