<!DOCTYPE html>

<html>

<head>

  <link rel= "stylesheet" href="style_home.css">
  {% load static %}
  {% load custom_tags %}
  {% include "chlamdb/header.html" %}
  {% include "chlamdb/style_menu.html" %}

</head>

<body>
  <div class="container-fluid" id="main_container">
    <div class="row">
      <div id="wrapper">
        <div id="page-content-wrapper">
          <div class="row">
            <div class="col-lg-12">
              {% include "chlamdb/menu.html" %}
              <p class="page-title"><b>Predicted proteins of {{organism}} </b></p>
              <hr class="lines-home">

              <div class="tab-pane" id="genomes" style="margin-right: 1em; overflow-x:auto;">
                {% include "chlamdb/result_table.html" with results=genes_table %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>

    $(document).ready(function() {
    $("#proteins_table").DataTable();} );
          
  </script>
</body>
</html>
