

{% if type == "COG" %}
    <nav>
        <ul id="tabs_main" class="nav nav-tabs">
            <li class={% if active_tab == "index" %}"active"{%endif%}><a href="{% url 'entry_list_cog' %}">Index</a></li>
            <li class={% if active_tab == "det" %}"active"{%endif%}><a href="{% url 'extract_cog' %}">Extract form</a></li>
            <li class={% if active_tab == "venn" %}"active"{%endif%}><a href="{% url 'venn_cog' %}">Venn</a></li>
            <li class={% if active_tab == "comp" %}"active"{%endif%}><a href="{% url 'cog_comparison' %}">Presence/absence table</a></li>
            <li class={% if active_tab == "heat" %}"active"{%endif%}><a href="{% url 'plot_heatmap' 'COG' %}">Heatmap</a></li>
            <li class={% if active_tab == "pan" %}"active"{%endif%}><a href="{% url 'pan_genome' 'COG' %}">Accumulation/rarefaction plot</a></li>
            <li class={% if active_tab == "bar" %}"active"{%endif%}><a href="{% url 'cog_barchart' %}">Categories barchart</a></li>
            <li class={% if active_tab == "COG_freq" %}"active"{%endif%}><a href="{% url 'COG_phylo_heatmap' True %}">Cat. heatmap freq.</a></li>
            <li class={% if active_tab == "COG_counts" %}"active"{%endif%}><a href="{% url 'COG_phylo_heatmap' False %}">Cat. heatmap counts</a></li>
        </ul>
    </nav>
{% elif type == "ko" %}
    <nav>
        <ul id="tabs_main" class="nav nav-tabs">
            <li class={% if active_tab == "index" %}"active"{%endif%}><a href="{% url 'entry_list_ko' %}">Index</a></li>
            <li class={% if active_tab == "det" %}"active"{%endif%}><a href="{% url 'extract_ko' %}">Extract form</a></li>
            <li class={% if active_tab == "venn" %}"active"{%endif%}><a href="{% url 'venn_ko' %}">Venn</a></li>
            <li class={% if active_tab == "comp" %}"active"{%endif%}><a href="{% url 'ko_comparison' %}">Presence/absence table</a></li>
            <li class={% if active_tab == "heat" %}"active"{%endif%}><a href="{% url 'plot_heatmap' 'ko' %}">Heatmap</a></li>
            <li class={% if active_tab == "pan" %}"active"{%endif%}><a href="{% url 'pan_genome' 'ko' %}">Accumulation/rarefaction plot </a></li>
            <li class={% if active_tab == "bar" %}"active"{%endif%}><a href="{% url 'module_barchart' %}">Categories barchart</a></li>
        </ul>
    </nav>

{% elif type == "Pfam" %}
    <nav>
        <ul id="tabs_main" class="nav nav-tabs">
            <li class={% if active_tab == "index" %}"active"{%endif%}><a href="{% url 'entry_list_pfam' %}">Index</a></li>
            <li class={% if active_tab == "det" %}"active"{%endif%}><a href="{% url 'extract_pfam' %}">Extract form</a></li>
            <li class={% if active_tab == "venn" %}"active"{%endif%}><a href="{% url 'venn_pfam' %}">Venn</a></li>
            <li class={% if active_tab == "comp" %}"active"{%endif%}><a href="{% url 'pfam_comparison' %}">Presence/absence table</a></li>
            <li class={% if active_tab == "heat" %}"active"{%endif%}><a href="{% url 'plot_heatmap' 'Pfam' %}">Heatmaps</a></li>
            <li class={% if active_tab == "pan" %}"active"{%endif%}><a href="{% url 'pan_genome' 'Pfam' %}">Accumulation/rarefaction plot </a></li>
        </ul>
    </nav>

{% elif type == "EC" %}
    <nav>
        <ul id="tabs_main" class="nav nav-tabs">
            <li class={% if active_tab == "det" %}"active"{%endif%}><a href="{% url 'extract_EC' %}">Extract form</a></li>
            <li class={% if active_tab == "venn" %}"active"{%endif%}><a href="{% url 'venn_EC' %}">Venn diagram</a></li>
            <li class={% if active_tab == "heat" %}"active"{%endif%}><a href="{% url 'plot_heatmap' 'EC' %}">Heatmaps</a></li>
            <li class={% if active_tab == "pan" %}"active"{%endif%}><a href="{% url 'pan_genome' 'EC' %}">Accumulation/rarefaction plot </a></li>
        </ul>
    </nav>
{% elif type == "interpro" %}
    <nav>
        <ul id="tabs_main" class="nav nav-tabs">
            <li class={% if active_tab == "det" %}"active"{%endif%}><a href="{% url 'extract_interpro' %}">Extract form</a></li>
            <li class={% if active_tab == "venn" %}"active"{%endif%}><a href="{% url 'venn_interpro' %}">Venn</a></li>
            <li class={% if active_tab == "heat" %}"active"{%endif%}><a href="{% url 'plot_heatmap' 'interpro' %}">Heatmaps</a></li>
            <li class={% if active_tab == "pan" %}"active"{%endif%}><a href="{% url 'pan_genome' 'interpro' %}">Accumulation/rarefaction plot </a></li>
        </ul>
    </nav>
{% elif type == 'orthology' %}
    <nav>
        <ul id="tabs_main" class="nav nav-tabs">
            <li class={% if active_tab == "det" %}"active"{%endif%}><a href="{% url 'extract_orthogroup' %}">Extract form</a></li>
            <li class={% if active_tab == "venn" %}"active"{%endif%}><a href="{% url 'venn_orthogroup' %}">Venn</a></li>
            <li class={% if active_tab == "comp" %}"active"{%endif%}><a href="{% url 'orthogroup_comparison' %}">Presence/absence table</a></li>
            <li class={% if active_tab == "heat" %}"active"{%endif%}><a href="{% url 'plot_heatmap' 'orthology' %}">Heatmap</a></li>
            <li class={% if active_tab == "pan" %}"active"{%endif%}><a href="{% url 'pan_genome' 'orthology' %}">Accumulation/rarefaction plot </a></li>
        </ul>
    </nav>
{% endif %}

