<div class="col-md-12 col-lg-10" style="padding-right:30px;">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Description</h3>
      </div>
      <table class="table table-striped" style="width: 100%">

        {% for key, value in info.items %}
          <tr>
            <th>{{key}}</th>
            <td>{{value|safe}}</td>
          </tr>
        {% endfor %}

      </table>
    </div>
  </div>

  {% if object_type == 'ko'%}
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">KO part of <strong>{{pathway_data|length }} pathways</strong></h3>
        </div>

        {% if pathway_data|length > 0 %}
          <table class="table table-striped" style="width: 100%">
            <tbody>

              {% for path in pathway_data %}
                <tr></div>

                  <td>{{path|safe}}</td>
                </tr>
              {% endfor %}

            </tbody>
          </table>
        {% endif %}

        <div class="panel-heading">
          <h3 class="panel-title">KO part of <strong>{{module_data|length }} modules </strong></h3>
        </div>

        {% if module_data|length > 0 %}
          <table class="table table-striped" style="width: 100%">
            <tbody>

              {% for path in module_data %}
                <tr>
                  <td>{{path.0|safe}}</td>
                  <td>{{path.1}}</td>
                  <td>{{path.2}}</td>
                </tr>
              {% endfor %}

            </tbody>
          </table>
        {% endif %}

      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">Occurence in the database</h3>
      </div>

      <table class="table table-striped" style="width: 100%">
        <tr>
          <td>{{ fam }} is associated with <strong>{{ table_size }} different 
            {% if object_type == 'gic' %}
              genomic islands
            {% else %}
              proteins
            {% endif %}
          </strong> </td>
        </tr>
        <tr>
          <td>
            {% if object_type != 'gic' %}
              The {{ table_size }} proteins are classified into <strong>{{ group_count|length }} different orthogroup(s)</strong>
            {% endif %}
              <div style="padding-left:20px">
              <ul style="list-style-type:disc; width:100%;">
                {% for group in group_count %}
                  <li style="float:left;margin-right:10px;width:120px;">{{group|safe}}</li>
                {% endfor %}
              </ul>
            </div>
          </td>
        </tr>
      </table>

    </div>
  </div>

  {% if results.show_genomic_region %}
    {% include "chlamdb/region.html" %} 
  {% endif %}
</div>