<!DOCTYPE html>

{% load static %}

<html>
<head>
{% include "chlamdb/header.html" %}
{% load custom_tags %}

<script type="text/javascript" src={% static 'js/genomic_region.js' %}>
</script>

</head>

<body>
  <div class="container-fluid" id="main_container">
    <div class="row">
      <div id="wrapper">
        <div id="page-content-wrapper">
          <div class="row">
            <div class="col-lg-12">
              {% include "chlamdb/menu.html" %}
              <p class="page-title">
                <b>{{description|safe}}</b>
              </p>
            </div>

          </div>

          <div class="row">
            <div class="col-md-12 col-lg-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">General</h3>
                </div>
                <table id="panel_table" class="table table-striped" style="width: 100%">
                  <tr>
                      <th>Source</th>
                      <td>{{organism|safe}}</td>
                  </tr>
                  <tr>
                      <th>Genomic Island ID</th>
                      <td>{{gis_id|safe}}</td>
                  </tr>
                  <tr>
                    <th> Contig </th>
                    <td> {{bioentry}} </td>
                  </tr>
                  <tr>
                    <th>Location</th>
                    <td>{{start_pos}} - {{end_pos}}</td>
                  </tr>
                  <tr>
                    <th>Island size</th>
                    <td>{{island_size}}</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="col-md-12 col-lg-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">GI Cluster</h3>
                </div>
                <table id="panel_table" class="table table-striped" style="width: 100%">
                  <tr>
                    <th>Cluster</th>
                    <td>{{cluster_id|safe}}</td>
                  </tr>
                  <tr>
                      <th>Average island size</th>
                      <td>{{cluster_average_size}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>


          <div class=row>
            <div class="col-md-12 col-lg-12">
              <div class="panel panel-default">
                <div class="panel-heading clearfix">
                  <div class="pull-right">
                    <button id="download_svg_button" class="btn-link btn-xs" style="background-color: transparent;">
                      <i class="glyphicon glyphicon-download"></i>
                    </button>
                  </div>
                  <h3 class="panel-title">Genomic island</h3>
                </div>
                <div class="panel-body" style="height:100px; display:flex; justify-content:center; align-items:center; margin-bottom:30px" id="genomic_region_rect">
                  <div id="div_genomic_region"></div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</body>
{% include "chlamdb/style_menu.html" %}

<script>
var genomic_region = {{genomic_region|safe}};
var to_highlight = {{to_highlight|safe}};
var genomic_region_rect = document.querySelector("#genomic_region_rect")
    .getBoundingClientRect();
var genomic_width = genomic_region_rect.right-genomic_region_rect.left;

createGenomicRegion(d3.select("#div_genomic_region"), genomic_width*.8, "genomic_region", [genomic_region],
    0, to_highlight, {{window_size}});

document.querySelector("#download_svg_button").onclick = function() {
  var svg_elem = document.querySelector("#genomic_region");
  svgExport.downloadSvg(svg_elem, "{{locus_tag}}");
};
</script>

</html>