
<!DOCTYPE html>


<html>

<head>

   <link rel= "stylesheet" href="style_home.css">
    {% load static %}
    {% load custom_tags %}
    {% include "chlamdb/header.html" %}
    {% include "chlamdb/style_menu.html" %}
 
</head>

<body>
    <div class="container-fluid" id="main_container">
      <div class="row">
        <div id="wrapper">
            <div id="page-content-wrapper">
              <div class="row">
                <div class="col-lg-12">
                   {% include "chlamdb/menu.html" %}

                    <hr class="lines-home">
                    <div class="tab-pane" id="genomes" style="margin-right: 1em; overflow-x:auto;">

                        {% include "chlamdb/result_table.html" with results=results %}
                        
                        <div class="panel panel-success" style="  width:100%; margin-top: 2em;">
                          <div class="panel-heading" style="width:100%;">
                              <h3 class="panel-title">Help</h3>
                          </div>

                          <p style="padding:1em 3em 1em 1em; line-height: 160% ; width:100%" >This table contains the list of genomes included in the database and a summary of their content. <br> Clicking on the genome name (first column) a second table with the protein content is displayed. It shows to which contig each protein belongs and provides the link to the locus tags.
                          <br> Fasta and gbk files can be downloaded.
                          </p>
                      </div>
           </div>

</html>
