<!DOCTYPE html>


<html>
<head>
{% include "chlamdb/header.html" %}
{% load custom_tags %}
</head>

<body>
  <div class="container-fluid" id="main_container">
    <div class="row">
      <div id="wrapper">
        <div id="page-content-wrapper">
          <div class="row">
            <div class="col-lg-12">
              {% include "chlamdb/menu.html" %}
              <p class="page-title">
                <b>{{description|safe}}</b>
              </p>
            </div>

          </div>

          <div class="row">
            <div class="panel panel-default" style="width: 80%">
              <div class="panel-heading">
                <h3 class="panel-title">{{object_name_plural}}</h3>
              </div>
              <table class="table table-striped" >
                {% for group in groups %}
                  <tr><td>{{group|safe}}</td></tr>
                {% endfor %}
              </table>
            </div>
          </div>
          <div>
            <a class="button_link" href="{% url 'groups' 'add/' %}" >
              <button class="btn btn-success">
                Add new group
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
{% include "chlamdb/style_menu.html" %}
</html>
