<!DOCTYPE html>


<html>
<head>
  {% load static %}
  {% get_static_prefix as STATIC_PREFIX %}
  {% include "chlamdb/header.html" %}
  {% load crispy_forms_tags %}
</head>

<body>
  <div class="container-fluid" id="main_container">
    <div class="row">
      <div id="wrapper">
        <div id="page-content-wrapper">
          <div class="row">
            <div class="col-lg-12">
              {% include "chlamdb/menu.html" %}

              <div class="row" style="padding-top:20px">

                <div class="col-lg-5 col-md-6 col-sm-12" >
                  <div class="serviceBox_met"  >
                    <div class="service-icon_2">
                      <span><img src="{% static '/img/icons8-dna-64.png' %}"/></span>
                    </div>
                    <h3 class="title">Genome centered modules</h3>
                    <p class="description"> List Kegg modules or Kegg modules in a genome of interest</p>
                    <div class= "col-md-4 col-sm-6">
                      {% csrf_token %}
                      {% crispy form_genome_modules %}
                    </div>
                  </div>
                </div>

                <div class="col-lg-5 col-md-6 col-sm-12"  >
                  <div  class="serviceBox_met" >
                    <div class="service-icon">
                      <span><img src="{% static '/img/icons8-dna-64.png' %}"/></span>
                    </div>
                    <h3 class="title" >Genome centered pathways</h3>
                    <p class="description"> List Kegg pathways or Kegg pathways in a genome of interest</p>
                    <div class= "col-md-4 col-sm-6">
                      {% crispy form_genome %}
                    </div>
                  </div>
                </div>

              </div>
       
              <div class="row">

                <div class="col-lg-5 col-md-6 col-sm-12" >
                  <div class="serviceBox_met"  style="min-height: 500px;">
                    <div class="service-icon_2">
                      <span><img src="{% static '/img/icons8-module-70.png' %}"/></span>
                    </div>
                    <h3 class="title">kEGG Modules centered</h3>
                    <p class="description"> Discover the distribution of Kegg Modules within the genomes of the database</p>
                    <div class= "col-md-4 col-sm-6">
                      {% crispy form_cat %}
                      <b>or</b>
                      {% crispy form_subcat %}
                    </div>
                  </div>
                </div>

                <div class="col-lg-5 col-md-6 col-sm-12">
                  <div  class="serviceBox_met " >
                    <div class="service-icon">
                      <span><img src="{% static '/img/icons8-train-track-60.png' %}" /></span>
                    </div>
                    <h3 class="title" >kEGG Pathways centered</h3>
                    <p class="description"> Discover the distribution of Kegg patwhays within the genomes of the database</p>
                    <div class= "col-lg-5 col-md-6 col-sm-12">
                      <div class="genome_search">
                        {% crispy form_pathway %}
                      </div>
                    </div>
                  </div>
                  <div class="serviceBox_met "  >
                    <div class="service-icon_2">
                      <span><img src="{% static '/img/icons8-data-sheet-60.png' %}"/></span>
                    </div>
                    <h3 class="title">Comparative analysis</h3>
                    <p class="description"> Discover the distribution of Kegg Modules within the genomes of the database</p>
                    <div class= "col-md-6 col-sm-6">
                      {% crispy form_module %}
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
{% include "chlamdb/style_menu.html" %}
</html>
