<!DOCTYPE html>


<html>
    <head>
        {% load custom_tags %}
        <script type="text/javascript" id="js">
            $(document).ready(function() {
            // call the tablesorter plugin
            $("table").tablesorter({
            // change the default sorting order from 'asc' to 'desc'
            sortInitialOrder: 1
            });
            });
        </script>
    {% load static %}
    {% load static %}
    </head>


    <div id="container">


        <div id="sidebar">
            {% include "chlamdb/menu.html" %}
        </div>

        <div id="header">
            {% include "chlamdb/user.html" %}
        </div>

        <div id="content">


                     <div id="extract_form">

                        <form action="{% url "locus_list2orthogroups" %}" method="post">

                        <div class="panel panel-success" style="width:80%; top: 200px; margin: 10px 10px 10px 10px">
                            <div class="panel-heading" style="width:100%">
                                <h3 class="panel-title">Help</h3>
                            </div>
                            <p style="margin: 10px 10px 10px 10px">Get orthogroups of a list of locus</p>
                        </div>

                        {% csrf_token %}
                        {{ form.as_p }}
                         <input type="submit" name="annot" value="Get annotation"/>
                         </form>
                    </div>


            {% if envoi_annot %}
                    <div>
                        <a>Number of distinct groups: {{total}}</a>
                        <table>
                        {% for key, value in group2count.items %}
                        <tr>
                            <td>{{key}}</td>
                            <td>{{value}}</td>
                        </tr>
                        {% endfor %}
                        </table>


                    </div>
            {% endif %}
        </div>
    </div>



    <div id="footer">

    </div>

    </body>
</html>
