<!DOCTYPE html>
<meta charset="utf-8">
<html>
<!--
 ##########################################################################
 Patrick.Brockmann@lsce.ipsl.fr
 ##########################################################################
-->
{% load static %}
{% include "chlamdb/header.html" %}


<link rel="stylesheet" href="{% static 'css/heatmap.css' %}" />

<head>
{% load static %}


</head>

<body>

Order:
<select id="order">
  <option value="null" selected> ----- </option>
  <option value="sortinit_col_row">Initial order on columns and rows</option>
  <option value="sortinit_row">Initial order on rows</option>
  <option value="sortinit_col">Initial order on columns</option>
</select>


<div id="heatmap" style="margin-left: 146px;"></div>

</body>
{% include "chlamdb/style_menu.html" %}
<script src="{% static 'js/d3.v3.js' %}"></script>
<script src="{% static 'js/colorbrewer.v1.min.js' %}"></script>
<script src="{% static 'js/heatmap.js' %}"></script>
<script>
$(document).ready(function() {
	heatmap_display("{% static '' %}temp/{{group}}.json", "#heatmap", "PuOr");
});
</script>
</html>
