<!DOCTYPE html>


<html>
<head>
{% load static %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% include "chlamdb/header.html" %}
</head>

<body>
  <div class="container-fluid" id="main_container">
    <div class="row">
      <div id="wrapper">
          <div id="page-content-wrapper">
            <div class="row">
              <div class="col-lg-12">
                 {% include "chlamdb/menu.html" %}
				 <div class="panel-title"><b>Metabolism: Kegg maps - Kegg pathways </b></div>
                 <br>
				 <br>
				</div>
                 <center><p class="home-title" style="color: rgb(0, 86, 121);"><b><a href='http://www.genome.jp/kegg-bin/show_pathway?{{url}}' style="color: rgb(0, 86, 121);"target="_blank"> {{pathway}} pathway </a>{% if organism%} in {{organism}} {%endif%} </b><a href="/docs/index.html" id="show-option" title="Retrieve information about the metabolism of the genome of interest "><i class="fab fa-info-circle " style="size: 5em;" ></i></a></p></center>
				 <hr class="lines-home">
				 <div class="panel panel-success" style="width:100%; top: 200px; float: left;">
					<div class="panel-heading" style="width:100%">
					  <h3 class="panel-title">Help to interpret the results</h3>
					</div>
					<p style="margin: 10px 10px 10px 10px; line-height: 180%">
						Kegg pathway {{ pathway_num }} is descriptive of <b>{{pathway}} Kegg pathway</b>.
						<br>The page contains two contents:
						<br> <b>General</b>:  this table lists the KO entries and their description specific to this pathway, and provides their frequencies in {{organism}} and in the whole dataset.
						<br><b>Profile + homologs</b>: the distribution of the Kegg entries of {{pathway}} Kegg pathway is displayed here. Given a Kegg entry and a genome, a <span style="color: red;"><b>red</b></span> box indicates that one or more loci have been annotated with, while a  <span style="color: green;"><b>green</b></span> box indicates that no locus/loci has(have) been annotated with it, but it/they is/are part of an Orthologous group in which other members have been annotated with that Kegg entry, so it is likely that this copy(ies) also performs this Kegg function.
					<br><br><strong><h5>Check the <a href='http://www.genome.jp/kegg-bin/show_pathway?{{url}}' target="_blank">composition of the {{pathway}} pathway <i class="fas fa-external-link-alt"></i></a></h5></strong></p>
				  </div>
				  <div class="col-lg-12" style="background-color: rgba(245, 245, 245, 0.986)">
						<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
							<li class="active"><a href="#tab1" data-toggle="tab">General</a></li>
							<li><a href="#profile_tree_tab" data-toggle="tab">Profile + homologs</a></li>
						</ul>
				  <div id="my-tab-content" class="tab-content">
					  <div class="tab-pane active" id="tab1">
						  </br>
						  <table id="ko_table">
							  <thead>
								  <tr>
									  {% for entry in header %}
										  <th> {{entry}}</th>
									  {% endfor %}
								  </tr>
							  </thead>
							  <tbody>
									{% for line in data %}
									  <tr>
										{% for entry in line %}
										<td>{{entry|safe}}</td>
										{% endfor %}
									  </tr>
									{% endfor %}
							  </tbody>
						  </table>
					  </div>
					<div class="tab-pane" id="profile_tree_tab">
						  <object type="image/svg+xml" data="{% static asset_path %}" id="profile" style="max-width:100%; margin-top: 1em;"></object>
				    </div>
				</div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
{% include "chlamdb/style_menu.html" %}

<script type="text/javascript">
	$(document).ready(function() {
		$('#ko_table').DataTable( {
			dom: 'Bfrtip',
			"order": [[2, "desc" ]],
			"pageLength": 15,
			"paging":   true,
			"ordering": true,
			"info":     false,
			buttons: [
			{
				extend: 'excel',
				title: '{% with map_data|first as first_doc %}{{ first_doc.0 }}{% endwith %}'
			},
			{
				extend: 'csv',
				title: '{% with map_data|first as first_doc %}{{ first_doc.0 }}{% endwith %}'
			}
			],
		} );
	} );
</script>

</html>
