<!DOCTYPE html>


<html>
<head>
{% include "chlamdb/header.html" %}
</head>

<body>
  <div class="container-fluid" id="main_container">
    <div class="row">
      <div id="wrapper">
        <div id="page-content-wrapper">
          {% include "chlamdb/comparison_header.html" %}

          {% if show_results %}
            <div class="row" style="background-color: rgba(245, 245, 245, 0.986)" >
              <div class="panel panel-success" style="margin:1em;">
                <div class="panel-heading" style="width:100%">
                    <h5 class="panel-title">Help to interpret the results</h5>
                </div>
                <p style="margin: 10px 10px 10px 10px">
                  The interactive Venn diagram lets you visualize how many {{object_name_plural}} are shared among the selected genomes or a subset of genomes of interest, and how many are unique to each genome.
                  <br> Clicking on the reported numbers, the corresponding list of identified {{object_name_plural}} is displayed below. {{table_data_descr}}
                  <br> Additionally, the total number of {{object_name_plural}} identified in each genome can be visualized in the barplot, while the number of unique or shared ones can be appreciated in the last plot.
                </p>
              </div>
              {% include "chlamdb/venn_representation_template.html" %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>


  <script>
    var table_headers = {{ table_headers|safe }}
    var columns = table_headers.map(it => ({"title": it}));

  </script>

  <p id="jqtest"></p>

</body>
{% include "chlamdb/style_menu.html" %}
</html>
